In [126]:
# !pyenv local meyf-kaggle-02
# !pyenv shell dmeyf-kaggle-02
# !pyenv versions
# !pyenv virtualenv 3.8.7 dmeyf-kaggle-02
#!pyenv version

In [127]:
# %%bash 
# pip install duckdb
# pip install jupysql
# pip install duckdb-engine

In [128]:
# %%bash 
# pip install pandas

In [129]:
import duckdb
import pandas as pd

%load_ext sql
%config SqlMagic.autopandas = True
%config SqlMagic.feedback = False
%config SqlMagic.displaycon = False

%sql duckdb:////Users/mkiszkurno/Documents/dmeyf/datasets/dmeyf.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

Y ya podemos usar **SQL** dentro de una notebook!

In [130]:
%%time
%%sql
create or replace table competencia_02 as
select
    *
from read_csv_auto('/Users/mkiszkurno/Documents/dmeyf/datasets/competencia_02_crudo.csv.gz')

CPU times: user 3min 4s, sys: 1min 30s, total: 4min 35s
Wall time: 2min 8s

Empty DataFrame
Columns: [Success]
Index: []

Hagamos unas queries b√°sicas para comprobar que todo esta funcionando bien.

In [131]:
%%time
%sql SELECT count(*) FROM COMPETENCIA_02

CPU times: user 85.3 ms, sys: 24.3 ms, total: 110 ms
Wall time: 272 ms

   count_star()
0       4562810

In [132]:
%%time

%sql SELECT * FROM COMPETENCIA_02 LIMIT 52

CPU times: user 222 ms, sys: 310 ms, total: 533 ms
Wall time: 467 ms

,numero_de_cliente,foto_mes,active_quarter,cliente_vip,internet,cliente_edad,cliente_antiguedad,mrentabilidad,mrentabilidad_annual,mcomisiones,...,Visa_madelantodolares,Visa_fultimo_cierre,Visa_mpagado,Visa_mpagospesos,Visa_mpagosdolares,Visa_fechaalta,Visa_mconsumototal,Visa_cconsumos,Visa_cadelantosefectivo,Visa_mpagominimo
0,29183981,201901,1,0,1,48,171,8304.31,42993.54,2501.04,...,0.0,8.0,0.00,-35773.32,2.33,5148.0,36602.13,54.0,0.0,5008.71
1,29184630,201901,1,0,1,57,296,18318.76,42597.26,14986.76,...,0.0,1.0,0.00,-67414.82,1149.57,3299.0,28503.06,10.0,0.0,1395.87
2,29185587,201901,1,0,1,77,296,20862.84,85481.31,4228.40,...,0.0,1.0,0.00,0.00,0.00,6790.0,5170.25,2.0,0.0,0.00
3,29185646,201901,1,0,1,58,231,25218.94,165317.78,4474.25,...,0.0,22.0,69653.59,-59422.00,0.00,7037.0,67991.90,31.0,0.0,2897.31
4,29187499,201901,1,0,1,69,349,5307.54,32374.08,4706.22,...,0.0,8.0,0.00,-4802.21,0.00,7596.0,4851.93,3.0,0.0,492.66
5,29188277,201901,1,0,1,65,296,1672.70,16113.26,796.59,...,0.0,1.0,0.00,-5791.17,0.00,7827.0,12539.39,6.0,0.0,797.64
6,29188490,201901,1,0,1,43,281,-520.87,6116.69,2138.32,...,0.0,8.0,9172.86,-29810.71,0.00,7568.0,73132.65,41.0,0.0,9172.86
7,29188883,201901,1,0,1,64,296,64862.09,459723.16,988.28,...,0.0,8.0,0.00,-1332.76,0.00,7504.0,1102.50,1.0,0.0,58.65
8,29189950,201901,1,0,1,56,240,13535.41,41250.39,7158.16,...,0.0,1.0,0.00,-20419.25,66.25,3717.0,27701.56,19.0,0.0,1137.81
9,29190599,201901,1,0,1,59,296,2244.16,24670.53,113.76,...,0.0,22.0,8727.12,-16718.98,37.05,7137.0,1388.73,2.0,0.0,1219.92
10,29190710,201901,1,0,1,48,63,7804.86,43227.46,1461.86,...,0.0,1.0,0.00,-41325.91,0.00,1893.0,42129.11,6.0,0.0,2228.70
11,29191573,201901,1,0,1,66,259,16028.91,34086.98,15637.79,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,29192154,201901,1,0,1,71,262,609.42,10872.51,468.48,...,0.0,1.0,0.00,-10557.00,0.00,7977.0,7676.19,11.0,0.0,492.66
13,29192171,201901,1,0,1,63,245,11176.51,39141.01,9581.16,...,0.0,1.0,0.00,-18783.75,0.00,6912.0,7706.96,5.0,0.0,1442.79
14,29193136,201901,1,0,1,79,250,944.31,6477.90,700.33,...,0.0,1.0,0.00,-37032.36,0.00,7597.0,10695.58,10.0,0.0,1677.39
15,29193571,201901,1,0,1,50,237,1813.27,19455.35,290.31,...,0.0,8.0,0.00,-3235.55,0.00,4546.0,-2.38,2.0,0.0,0.00
16,29194886,201901,1,0,0,50,31,1743.73,15915.36,649.36,...,0.0,1.0,0.00,-2840.16,0.00,942.0,0.00,0.0,0.0,844.56
17,29195510,201901,1,0,1,55,237,19719.25,137965.96,1305.59,...,0.0,1.0,0.00,-12184.54,0.00,4672.0,7210.36,8.0,0.0,1290.30
18,29196552,201901,1,0,1,60,296,35883.38,182077.10,9930.59,...,0.0,8.0,0.00,-50318.38,0.00,8075.0,26784.03,8.0,0.0,1571.82
19,29197004,201901,1,0,1,64,349,2339.64,23652.03,1789.09,...,0.0,22.0,24194.42,-24208.59,0.00,7220.0,15023.88,17.0,0.0,1911.99
20,29198499,201901,1,0,1,51,256,788.61,5164.19,44.36,...,0.0,8.0,0.00,-9993.60,0.00,2685.0,893.18,5.0,0.0,0.00
21,29198635,201901,1,0,1,49,96,731.20,8280.18,938.82,...,0.0,8.0,0.00,-10772.59,0.00,2909.0,8640.76,9.0,0.0,762.45
22,29198669,201901,1,0,1,39,107,2065.47,13819.58,1426.43,...,0.0,8.0,0.00,-26000.31,14.06,3208.0,19095.86,16.0,0.0,1466.25
23,29199310,201901,1,0,1,60,285,2333.34,23369.40,507.31,...,0.0,1.0,0.00,-3200.56,0.00,6581.0,6221.61,7.0,0.0,246.33
24,29199327,201901,1,0,0,70,296,3076.08,28519.05,1405.35,...,0.0,1.0,0.00,-47412.49,0.00,6716.0,4236.17,6.0,0.0,2568.87
25,29199686,201901,1,0,1,51,296,815.72,16932.85,1074.42,...,0.0,8.0,0.00,-2218.82,1.18,7389.0,2266.49,8.0,0.0,281.52
26,29200779,201901,1,0,1,47,296,21144.27,41744.84,18285.77,...,0.0,1.0,0.00,-21376.10,31.61,4831.0,20794.80,12.0,0.0,1372.41
27,29201727,201901,1,0,1,75,296,3402.05,55879.84,1796.82,...,0.0,1.0,0.00,-61149.13,0.00,4693.0,33806.44,18.0,6.0,78215.64
28,29201974,201901,1,0,1,46,233,10117.21,41054.43,5476.37,...,0.0,1.0,0.00,-149044.94,690.40,7092.0,47613.02,20.0,0.0,1043.97
29,29202111,201901,1,0,1,45,189,4652.63,54514.02,1527.37,...,0.0,1.0,0.00,-33406.21,521.91,7312.0,9618.37,14.0,0.0,539.58
30,29202529,201901,1,0,1,53,270,1580.75,19834.17,1744.05,...,0.0,1.0,0.00,-950.13,0.00,4649.0,1579.39,7.0,0.0,2392.92
31,29202717,201901,1,0,1,68,237,2655.05,23491.50,1457.12,...,0.0,8.0,0.00,-6650.91,0.00,5638.0,1908.83,3.0,0.0,7002.81
32,29202973,201901,1,0,0,73,296,37117.97,130549.70,12490.29,...,0.0,1.0,0.00,-5923.93,0.00,7312.0,3698.73,6.0,0.0,656.88
33,29203631,201901,1,0,1,66,42,2250.45,23017.16,1244.54,...,0.0,1.0,0.00,-12009.03,0.00,1276.0,64.79,4.0,0.0,0.00
34,29203964,201901,1,0,1,58,247,1950.86,14785.50,1479.59,...,0.0,22.0,9391.78,-12966.60,0.00,7515.0,5283.05,7.0,0.0,715.53
35,29205296,201901,1,0,0,75,296,582.19,6696.15,575.69,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,29205501,201901,1,0,1,72,266,1884.61,8096.18,1455.54,...,0.0,8.0,0.00,-81994.36,0.00,6435.0,23462.96,13.0,0.0,1313.76
37,29207158,201901,1,0,1,58,238,2966.17,25845.45,1047.84,...,0.0,22.0,5915.81,-6475.15,0.00,7253.0,4967.23,6.0,0.0,293.25
38,29207969,201901,1,0,1,67,349,21292.00,64345.09,16033.29,...,0.0,1.0,0.00,-43980.33,0.00,8492.0,44898.63,9.0,0.0,1876.80
39,29208883,201901,1,0,1,72,296,7416.72,51401.57,2673.75,...,0.0,1.0,0.00,-133194.15,0.00,6377.0,35920.88,27.0,0.0,0.00
40,29209071,201901,1,0,1,75,252,1607.09,18347.25,1057.75,...,0.0,8.0,0.00,-24170.36,0.00,7679.0,18524.88,9.0,0.0,926.67
41,29209284,201901,1,0,1,53,131,8908.78,82772.25,2265.46,...,0.0,8.0,0.00,-18604.07,26.94,3976.0,8810.20,15.0,0.0,11788.65
42,29209472,201901,1,0,0,76,285,13901.15,18623.73,12986.82,...,0.0,1.0,0.00,-1246.42,0.00,8481.0,1360.68,1.0,0.0,70.38
43,29209899,201901,1,0,1,56,267,2466.00,26908.86,3575.91,...,0.0,22.0,43793.00,-83090.46,0.00,8123.0,23771.95,14.0,0.0,3155.37
44,29210728,201901,1,0,0,76,263,1015.11,9453.67,739.49,...,0.0,1.0,0.00,-8058.51,0.00,7994.0,2653.94,1.0,0.0,1736.04
45,29211377,201901,1,0,1,52,296,8128.67,29300.39,5092.45,...,0.0,8.0,0.00,-29902.35,8.18,3910.0,18093.37,23.0,0.0,1313.76
46,29212008,201901,1,0,0,58,140,25793.95,187943.98,572.02,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,29212453,201901,1,0,1,55,296,1941.25,13316.77,88.42,...,0.0,1.0,0.00,-12113.71,56.11,7750.0,61047.33,15.0,0.0,9325.35
48,29212862,201901,1,0,1,68,238,4534.65,32556.22,190.20,...,0.0,22.0,8533.34,-4417.37,0.00,7221.0,4116.05,1.0,0.0,598.23
49,29212948,201901,1,0,1,62,155,3372.35,36101.67,2351.03,...,0.0,1.0,0.00,-13825.61,0.00,3899.0,8442.91,12.0,0.0,1313.76
50,29213153,201901,1,0,1,47,91,312.17,3241.86,18.29,...,NaN,1.0,0.00,NaN,NaN,2375.0,NaN,NaN,NaN,0.00
51,29213289,201901,1,0,1,69,158,1138.02,15251.79,1115.62,...,0.0,1.0,0.00,-3684.59,0.00,4132.0,2256.82,6.0,0.0,293.25

In [133]:
%%time
%%sql
SELECT foto_mes, 
       COUNT(*) as cantidad 
  FROM competencia_02
 GROUP BY foto_mes

CPU times: user 191 ms, sys: 27.8 ms, total: 219 ms
Wall time: 367 ms

    foto_mes  cantidad
0     201901    124864
1     201902    125898
2     201903    126536
3     201904    127059
4     201905    127683
5     201906    129181
6     201907    130551
7     201908    132615
8     201909    134267
9     201910    136515
10    201911    138438
11    201912    140468
12    202001    143762
13    202002    146851
14    202003    148989
15    202004    149484
16    202005    150874
17    202006    153386
18    202007    155348
19    202008    156667
20    202009    158031
21    202010    159477
22    202011    160493
23    202012    161133
24    202101    161711
25    202102    162364
26    202103    163324
27    202104    163637
28    202105    164102
29    202106    164420
30    202107    164682

In [134]:
%%time
%%sql
SELECT numero_de_cliente, 
       COUNT(*) as cantidad 
  FROM competencia_02
 GROUP BY numero_de_cliente
 having cantidad between 5 and 15
 order by cantidad desc

CPU times: user 2.42 s, sys: 437 ms, total: 2.86 s
Wall time: 572 ms

       numero_de_cliente  cantidad
0              154893503        15
1               55268609        15
2               59950254        15
3               64971122        15
4               82360772        15
...                  ...       ...
27139           91513950         5
27140           93751779         5
27141           93810421         5
27142           93971634         5
27143          105990790         5

[27144 rows x 2 columns]

In [135]:
%%time
%%sql
create or replace table targets as
with periodos as (
    select distinct foto_mes 
      from competencia_02
), clientes as (
    select distinct numero_de_cliente 
     from competencia_02
), todo as (
    select numero_de_cliente, foto_mes 
     from clientes cross join periodos
), clase_ternaria as (
    select
        t.numero_de_cliente
        , t.foto_mes
        , if(c.numero_de_cliente is null, 0, 1) as mes_0
        , lead(mes_0, 1) over (partition by t.numero_de_cliente order by foto_mes) as mes_1
        , lead(mes_0, 2) over (partition by t.numero_de_cliente order by foto_mes) as mes_2
        , 
        CASE
            WHEN mes_0 + mes_1 + mes_2 = 1 THEN 'BAJA+1'
            WHEN mes_0 + mes_1 + mes_2 = 2 THEN 'BAJA+2'
            WHEN mes_0 + mes_1 + mes_2 = 3 THEN 'CONTINUA'
        END AS clase_ternaria
    from todo t
    left join competencia_02 c using (numero_de_cliente, foto_mes)
) select
  foto_mes
  , numero_de_cliente
  , clase_ternaria,
  mes_0,
  mes_1,
  mes_2
from clase_ternaria where mes_0 = 1

CPU times: user 12 s, sys: 2.29 s, total: 14.3 s
Wall time: 2.04 s

Empty DataFrame
Columns: [Success]
Index: []

In [136]:
%%time
%%sql 

SELECT * FROM targets T
--where T.clase_ternaria IS NOT NULL 
--where T.numero_de_cliente = 29187499
--where T.numero_de_cliente = 29185587
--where T.numero_de_cliente = 105799389
where T.numero_de_cliente = 118785515

CPU times: user 139 ms, sys: 19.4 ms, total: 159 ms
Wall time: 326 ms

    foto_mes  numero_de_cliente clase_ternaria  mes_0  mes_1  mes_2
0     201907          118785515       CONTINUA      1      1      1
1     201908          118785515       CONTINUA      1      1      1
2     201909          118785515       CONTINUA      1      1      1
3     201910          118785515       CONTINUA      1      1      1
4     201911          118785515       CONTINUA      1      1      1
5     201912          118785515       CONTINUA      1      1      1
6     202001          118785515       CONTINUA      1      1      1
7     202002          118785515       CONTINUA      1      1      1
8     202003          118785515       CONTINUA      1      1      1
9     202004          118785515       CONTINUA      1      1      1
10    202005          118785515       CONTINUA      1      1      1
11    202006          118785515       CONTINUA      1      1      1
12    202007          118785515       CONTINUA      1      1      1
13    202008          118785515         BAJA+2      1      1      0
14    202009          118785515         BAJA+1      1      0      0

In [137]:
%%time
%%sql
alter table competencia_02 add column clase_ternaria VARCHAR(10)

CPU times: user 157 ms, sys: 36.1 ms, total: 193 ms
Wall time: 372 ms

Empty DataFrame
Columns: [Success]
Index: []

In [138]:
%%time
%sql SELECT * FROM COMPETENCIA_02 LIMIT 15

CPU times: user 218 ms, sys: 59.4 ms, total: 277 ms
Wall time: 310 ms

,numero_de_cliente,foto_mes,active_quarter,cliente_vip,internet,cliente_edad,cliente_antiguedad,mrentabilidad,mrentabilidad_annual,mcomisiones,...,Visa_fultimo_cierre,Visa_mpagado,Visa_mpagospesos,Visa_mpagosdolares,Visa_fechaalta,Visa_mconsumototal,Visa_cconsumos,Visa_cadelantosefectivo,Visa_mpagominimo,clase_ternaria
0,29183981,201901,1,0,1,48,171,8304.31,42993.54,2501.04,...,8.0,0.00,-35773.32,2.33,5148.0,36602.13,54.0,0.0,5008.71,None
1,29184630,201901,1,0,1,57,296,18318.76,42597.26,14986.76,...,1.0,0.00,-67414.82,1149.57,3299.0,28503.06,10.0,0.0,1395.87,None
2,29185587,201901,1,0,1,77,296,20862.84,85481.31,4228.40,...,1.0,0.00,0.00,0.00,6790.0,5170.25,2.0,0.0,0.00,None
3,29185646,201901,1,0,1,58,231,25218.94,165317.78,4474.25,...,22.0,69653.59,-59422.00,0.00,7037.0,67991.90,31.0,0.0,2897.31,None
4,29187499,201901,1,0,1,69,349,5307.54,32374.08,4706.22,...,8.0,0.00,-4802.21,0.00,7596.0,4851.93,3.0,0.0,492.66,None
5,29188277,201901,1,0,1,65,296,1672.70,16113.26,796.59,...,1.0,0.00,-5791.17,0.00,7827.0,12539.39,6.0,0.0,797.64,None
6,29188490,201901,1,0,1,43,281,-520.87,6116.69,2138.32,...,8.0,9172.86,-29810.71,0.00,7568.0,73132.65,41.0,0.0,9172.86,None
7,29188883,201901,1,0,1,64,296,64862.09,459723.16,988.28,...,8.0,0.00,-1332.76,0.00,7504.0,1102.50,1.0,0.0,58.65,None
8,29189950,201901,1,0,1,56,240,13535.41,41250.39,7158.16,...,1.0,0.00,-20419.25,66.25,3717.0,27701.56,19.0,0.0,1137.81,None
9,29190599,201901,1,0,1,59,296,2244.16,24670.53,113.76,...,22.0,8727.12,-16718.98,37.05,7137.0,1388.73,2.0,0.0,1219.92,None
10,29190710,201901,1,0,1,48,63,7804.86,43227.46,1461.86,...,1.0,0.00,-41325.91,0.00,1893.0,42129.11,6.0,0.0,2228.70,None
11,29191573,201901,1,0,1,66,259,16028.91,34086.98,15637.79,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
12,29192154,201901,1,0,1,71,262,609.42,10872.51,468.48,...,1.0,0.00,-10557.00,0.00,7977.0,7676.19,11.0,0.0,492.66,None
13,29192171,201901,1,0,1,63,245,11176.51,39141.01,9581.16,...,1.0,0.00,-18783.75,0.00,6912.0,7706.96,5.0,0.0,1442.79,None
14,29193136,201901,1,0,1,79,250,944.31,6477.90,700.33,...,1.0,0.00,-37032.36,0.00,7597.0,10695.58,10.0,0.0,1677.39,None

In [139]:
%%time
%%sql

update competencia_02
   set clase_ternaria = targets.clase_ternaria
  from targets
 where competencia_02.numero_de_cliente = targets.numero_de_cliente
   and competencia_02.foto_mes = targets.foto_mes

CPU times: user 3.43 s, sys: 516 ms, total: 3.95 s
Wall time: 2.17 s

Empty DataFrame
Columns: [Success]
Index: []

In [140]:
%%sql
select numero_de_cliente, foto_mes, clase_ternaria from competencia_02 
--where numero_de_cliente = 29187499
where numero_de_cliente = 29185587
--where numero_de_cliente = 105799389
--where numero_de_cliente = 118785515

    numero_de_cliente  foto_mes clase_ternaria
0            29185587    201901       CONTINUA
1            29185587    201902       CONTINUA
2            29185587    201903       CONTINUA
3            29185587    201904       CONTINUA
4            29185587    201905       CONTINUA
5            29185587    201906       CONTINUA
6            29185587    201907       CONTINUA
7            29185587    201908       CONTINUA
8            29185587    201909       CONTINUA
9            29185587    201910       CONTINUA
10           29185587    201911       CONTINUA
11           29185587    201912       CONTINUA
12           29185587    202001       CONTINUA
13           29185587    202002       CONTINUA
14           29185587    202003       CONTINUA
15           29185587    202004       CONTINUA
16           29185587    202005       CONTINUA
17           29185587    202006       CONTINUA
18           29185587    202007       CONTINUA
19           29185587    202008       CONTINUA
20           29185587    202009       CONTINUA
21           29185587    202010       CONTINUA
22           29185587    202011       CONTINUA
23           29185587    202012       CONTINUA
24           29185587    202101       CONTINUA
25           29185587    202102       CONTINUA
26           29185587    202103       CONTINUA
27           29185587    202104       CONTINUA
28           29185587    202105       CONTINUA
29           29185587    202106           None
30           29185587    202107           None

In [141]:
%%time
%%sql
copy competencia_02 to '/Users/mkiszkurno/Documents/dmeyf/datasets/competencia_02.csv.gz' (FORMAT CSV, HEADER)

CPU times: user 6min 49s, sys: 10.4 s, total: 6min 59s
Wall time: 2min 51s

Empty DataFrame
Columns: [Success]
Index: []

In [142]:
%%time
%%sql
create or replace table competencia_02_verificar as
select
    *
from read_csv_auto('/Users/mkiszkurno/Documents/dmeyf/datasets/competencia_02.csv.gz')

CPU times: user 3min 51s, sys: 2min 1s, total: 5min 52s
Wall time: 2min 18s

Empty DataFrame
Columns: [Success]
Index: []

In [143]:
%%time
%sql SELECT count(*) FROM competencia_02_verificar

CPU times: user 107 ms, sys: 27.4 ms, total: 135 ms
Wall time: 313 ms

   count_star()
0       4562810

0