# Setup

## Paquetes

12

In [7]:
# !pyenv virtualenv 3.8.7 dmeyf-kaggle-02

zsh:1: command not found: pyenv

In [8]:
# !pyenv local dmeyf-kaggle-02
# !pyenv shell dmeyf-kaggle-02
# !pyenv versions
# !pyenv version

zsh:1: command not found: pyenv
zsh:1: command not found: pyenv
zsh:1: command not found: pyenv
zsh:1: command not found: pyenv

In [1]:
#pip install duckdb
!pip install jupysql
!pip install duckdb-engine

Collecting jupysql
  Downloading jupysql-0.10.2-py3-none-any.whl (87 kB)
     |████████████████████████████████| 87 kB 5.9 MB/s eta 0:00:011
Collecting prettytable
  Downloading prettytable-3.9.0-py3-none-any.whl (27 kB)
Collecting jinja2
  Downloading Jinja2-3.1.2-py3-none-any.whl (133 kB)
     |████████████████████████████████| 133 kB 19.8 MB/s eta 0:00:01
Collecting sqlglot>=11.3.7
  Downloading sqlglot-18.11.6-py3-none-any.whl (315 kB)
     |████████████████████████████████| 315 kB 9.0 MB/s eta 0:00:01
Collecting jupysql-plugin
  Downloading jupysql_plugin-0.2.5-py3-none-any.whl (376 kB)
     |████████████████████████████████| 376 kB 56.2 MB/s eta 0:00:01
Collecting sqlalchemy
  Downloading SQLAlchemy-2.0.21-cp39-cp39-macosx_10_9_x86_64.whl (2.1 MB)
     |████████████████████████████████| 2.1 MB 36.8 MB/s eta 0:00:01
Collecting ploomber-core>=0.2.7
  Downloading ploomber_core-0.2.14-py3-none-any.whl (21 kB)
Requirement already satisfied: ipython in /Users/miguelkiszkurno/.pyenv/versions/3.9.7/envs/EyF/lib/python3.9/site-packages (from jupysql) (8.16.1)
Collecting ipython-genutils>=0.1.0
  Downloading ipython_genutils-0.2.0-py2.py3-none-any.whl (26 kB)
Collecting sqlparse
  Downloading sqlparse-0.4.4-py3-none-any.whl (41 kB)
     |████████████████████████████████| 41 kB 388 kB/s eta 0:00:01
Collecting posthog
  Downloading posthog-3.0.2-py2.py3-none-any.whl (37 kB)
Collecting click
  Downloading click-8.1.7-py3-none-any.whl (97 kB)
     |████████████████████████████████| 97 kB 18.8 MB/s eta 0:00:01
Collecting pyyaml
  Downloading PyYAML-6.0.1-cp39-cp39-macosx_10_9_x86_64.whl (197 kB)
     |████████████████████████████████| 197 kB 47.5 MB/s eta 0:00:01
Requirement already satisfied: pygments>=2.4.0 in /Users/miguelkiszkurno/.pyenv/versions/3.9.7/envs/EyF/lib/python3.9/site-packages (from ipython->jupysql) (2.16.1)
Requirement already satisfied: pexpect>4.3 in /Users/miguelkiszkurno/.pyenv/versions/3.9.7/envs/EyF/lib/python3.9/site-packages (from ipython->jupysql) (4.8.0)
Requirement already satisfied: traitlets>=5 in /Users/miguelkiszkurno/.pyenv/versions/3.9.7/envs/EyF/lib/python3.9/site-packages (from ipython->jupysql) (5.11.2)
Requirement already satisfied: exceptiongroup in /Users/miguelkiszkurno/.pyenv/versions/3.9.7/envs/EyF/lib/python3.9/site-packages (from ipython->jupysql) (1.1.3)
Requirement already satisfied: pickleshare in /Users/miguelkiszkurno/.pyenv/versions/3.9.7/envs/EyF/lib/python3.9/site-packages (from ipython->jupysql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in /Users/miguelkiszkurno/.pyenv/versions/3.9.7/envs/EyF/lib/python3.9/site-packages (from ipython->jupysql) (3.0.39)
Requirement already satisfied: typing-extensions in /Users/miguelkiszkurno/.pyenv/versions/3.9.7/envs/EyF/lib/python3.9/site-packages (from ipython->jupysql) (4.8.0)
Requirement already satisfied: stack-data in /Users/miguelkiszkurno/.pyenv/versions/3.9.7/envs/EyF/lib/python3.9/site-packages (from ipython->jupysql) (0.6.3)
Requirement already satisfied: appnope in /Users/miguelkiszkurno/.pyenv/versions/3.9.7/envs/EyF/lib/python3.9/site-packages (from ipython->jupysql) (0.1.3)
Requirement already satisfied: matplotlib-inline in /Users/miguelkiszkurno/.pyenv/versions/3.9.7/envs/EyF/lib/python3.9/site-packages (from ipython->jupysql) (0.1.6)
Requirement already satisfied: backcall in /Users/miguelkiszkurno/.pyenv/versions/3.9.7/envs/EyF/lib/python3.9/site-packages (from ipython->jupysql) (0.2.0)
Requirement already satisfied: jedi>=0.16 in /Users/miguelkiszkurno/.pyenv/versions/3.9.7/envs/EyF/lib/python3.9/site-packages (from ipython->jupysql) (0.19.1)
Requirement already satisfied: decorator in /Users/miguelkiszkurno/.pyenv/versions/3.9.7/envs/EyF/lib/python3.9/site-packages (from ipython->jupysql) (5.1.1)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /Users/miguelkiszkurno/.pyenv/versions/3.9.7/envs/EyF/lib/python3.9/site-packages (from jedi>=0.16->ipython->jupysql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /Users/miguelkiszkurno/.pyenv/versions/3.9.7/envs/EyF/lib/python3.9/site-packages (from pexpect>4.3->ipython->jupysql) (0.7.0)
Requirement already satisfied: wcwidth in /Users/miguelkiszkurno/.pyenv/versions/3.9.7/envs/EyF/lib/python3.9/site-packages (from prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30->ipython->jupysql) (0.2.8)
Collecting MarkupSafe>=2.0
  Downloading MarkupSafe-2.1.3-cp39-cp39-macosx_10_9_x86_64.whl (13 kB)
Requirement already satisfied: python-dateutil>2.1 in /Users/miguelkiszkurno/.pyenv/versions/3.9.7/envs/EyF/lib/python3.9/site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (2.8.2)
Collecting monotonic>=1.5
  Downloading monotonic-1.6-py2.py3-none-any.whl (8.2 kB)
Collecting backoff>=1.10.0
  Downloading backoff-2.2.1-py3-none-any.whl (15 kB)
Requirement already satisfied: six>=1.5 in /Users/miguelkiszkurno/.pyenv/versions/3.9.7/envs/EyF/lib/python3.9/site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (1.16.0)
Collecting requests<3.0,>=2.7
  Downloading requests-2.31.0-py3-none-any.whl (62 kB)
     |████████████████████████████████| 62 kB 3.9 MB/s  eta 0:00:01
Collecting charset-normalizer<4,>=2
  Downloading charset_normalizer-3.3.0-cp39-cp39-macosx_10_9_x86_64.whl (119 kB)
     |████████████████████████████████| 119 kB 47.6 MB/s eta 0:00:01
Collecting certifi>=2017.4.17
  Downloading certifi-2023.7.22-py3-none-any.whl (158 kB)
     |████████████████████████████████| 158 kB 40.2 MB/s eta 0:00:01
Collecting urllib3<3,>=1.21.1
  Downloading urllib3-2.0.6-py3-none-any.whl (123 kB)
     |████████████████████████████████| 123 kB 46.2 MB/s eta 0:00:01
Collecting idna<4,>=2.5
  Downloading idna-3.4-py3-none-any.whl (61 kB)
     |████████████████████████████████| 61 kB 315 kB/s  eta 0:00:01
Collecting greenlet!=0.4.17
  Downloading greenlet-3.0.0-cp39-cp39-macosx_10_9_universal2.whl (260 kB)
     |████████████████████████████████| 260 kB 42.4 MB/s eta 0:00:01
Requirement already satisfied: executing>=1.2.0 in /Users/miguelkiszkurno/.pyenv/versions/3.9.7/envs/EyF/lib/python3.9/site-packages (from stack-data->ipython->jupysql) (2.0.0)
Requirement already satisfied: asttokens>=2.1.0 in /Users/miguelkiszkurno/.pyenv/versions/3.9.7/envs/EyF/lib/python3.9/site-packages (from stack-data->ipython->jupysql) (2.4.0)
Requirement already satisfied: pure-eval in /Users/miguelkiszkurno/.pyenv/versions/3.9.7/envs/EyF/lib/python3.9/site-packages (from stack-data->ipython->jupysql) (0.2.2)
Installing collected packages: urllib3, idna, charset-normalizer, certifi, requests, monotonic, backoff, pyyaml, posthog, click, ploomber-core, MarkupSafe, greenlet, sqlparse, sqlglot, sqlalchemy, prettytable, jupysql-plugin, jinja2, ipython-genutils, jupysql
Successfully installed MarkupSafe-2.1.3 backoff-2.2.1 certifi-2023.7.22 charset-normalizer-3.3.0 click-8.1.7 greenlet-3.0.0 idna-3.4 ipython-genutils-0.2.0 jinja2-3.1.2 jupysql-0.10.2 jupysql-plugin-0.2.5 monotonic-1.6 ploomber-core-0.2.14 posthog-3.0.2 prettytable-3.9.0 pyyaml-6.0.1 requests-2.31.0 sqlalchemy-2.0.21 sqlglot-18.11.6 sqlparse-0.4.4 urllib3-2.0.6
WARNING: You are using pip version 21.2.3; however, version 23.2.1 is available.
You should consider upgrading via the '/Users/miguelkiszkurno/.pyenv/versions/3.9.7/envs/EyF/bin/python3.9 -m pip install --upgrade pip' command.
Collecting duckdb-engine
  Downloading duckdb_engine-0.9.2-py3-none-any.whl (43 kB)
     |████████████████████████████████| 43 kB 3.8 MB/s eta 0:00:011
Requirement already satisfied: sqlalchemy>=1.3.22 in /Users/miguelkiszkurno/.pyenv/versions/3.9.7/envs/EyF/lib/python3.9/site-packages (from duckdb-engine) (2.0.21)
Requirement already satisfied: duckdb>=0.4.0 in /Users/miguelkiszkurno/.pyenv/versions/3.9.7/envs/EyF/lib/python3.9/site-packages (from duckdb-engine) (0.9.0)
Requirement already satisfied: typing-extensions>=4.2.0 in /Users/miguelkiszkurno/.pyenv/versions/3.9.7/envs/EyF/lib/python3.9/site-packages (from sqlalchemy>=1.3.22->duckdb-engine) (4.8.0)
Requirement already satisfied: greenlet!=0.4.17 in /Users/miguelkiszkurno/.pyenv/versions/3.9.7/envs/EyF/lib/python3.9/site-packages (from sqlalchemy>=1.3.22->duckdb-engine) (3.0.0)
Installing collected packages: duckdb-engine
Successfully installed duckdb-engine-0.9.2
WARNING: You are using pip version 21.2.3; however, version 23.2.1 is available.
You should consider upgrading via the '/Users/miguelkiszkurno/.pyenv/versions/3.9.7/envs/EyF/bin/python3.9 -m pip install --upgrade pip' command.

In [ ]:
# %%bash 
# pip install duckdb
# pip install jupysql
# pip install duckdb-engine

In [3]:
#%%bash 
#pip install pandas

Collecting pandas
  Downloading pandas-2.1.1-cp39-cp39-macosx_10_9_x86_64.whl (11.8 MB)
Collecting numpy>=1.22.4
  Downloading numpy-1.26.0-cp39-cp39-macosx_10_9_x86_64.whl (20.6 MB)
Collecting tzdata>=2022.1
  Downloading tzdata-2023.3-py2.py3-none-any.whl (341 kB)
Collecting pytz>=2020.1
  Downloading pytz-2023.3.post1-py2.py3-none-any.whl (502 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/miguelkiszkurno/.pyenv/versions/3.9.7/envs/EyF/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /Users/miguelkiszkurno/.pyenv/versions/3.9.7/envs/EyF/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: tzdata, pytz, numpy, pandas
Successfully installed numpy-1.26.0 pandas-2.1.1 pytz-2023.3.post1 tzdata-2023.3

WARNING: You are using pip version 21.2.3; however, version 23.2.1 is available.
You should consider upgrading via the '/Users/miguelkiszkurno/.pyenv/versions/3.9.7/envs/EyF/bin/python3.9 -m pip install --upgrade pip' command.

## BD

In [1]:
import duckdb
import pandas as pd

%load_ext sql
%config SqlMagic.autopandas = True
%config SqlMagic.feedback = False
%config SqlMagic.displaycon = False

%sql duckdb:////Users/miguelkiszkurno/Documents/dmeyf/datasets/dmeyf.db

Y ya podemos usar **SQL** dentro de una notebook!

## Creacion Tabla

Si no tengo creada la tabla con los datos ya completos. Levanto la que figura en Crudo

In [13]:
%%time
%%sql
create or replace table competencia_02 as
select
    *
from read_csv_auto('/Users/miguelkiszkurno/Documents/dmeyf/datasets/competencia_02_crudo.csv.gz')

CPU times: user 3min, sys: 1min 24s, total: 4min 24s
Wall time: 1min 42s

Empty DataFrame
Columns: [Success]
Index: []

Si ya las tengo, levanto la que corresponde

In [161]:
%%time
%%sql
create or replace table competencia_02 as
select
    *
from read_csv_auto('/Users/miguelkiszkurno/Documents/dmeyf/datasets/competencia_02.csv.gz')

CPU times: user 4min 10s, sys: 1min 47s, total: 5min 57s
Wall time: 2min 17s

Empty DataFrame
Columns: [Success]
Index: []

## Chequeos
Hagamos unas queries básicas para comprobar que todo esta funcionando bien.

In [15]:
%%time
%sql SELECT count(*) FROM COMPETENCIA_02

CPU times: user 149 ms, sys: 19.8 ms, total: 169 ms
Wall time: 303 ms

   count_star()
0       4562810

In [9]:
%%time

%sql SELECT * FROM COMPETENCIA_02 LIMIT 12

CPU times: user 259 ms, sys: 275 ms, total: 534 ms
Wall time: 400 ms

,numero_de_cliente,foto_mes,active_quarter,cliente_vip,internet,cliente_edad,cliente_antiguedad,mrentabilidad,mrentabilidad_annual,mcomisiones,...,Visa_madelantodolares,Visa_fultimo_cierre,Visa_mpagado,Visa_mpagospesos,Visa_mpagosdolares,Visa_fechaalta,Visa_mconsumototal,Visa_cconsumos,Visa_cadelantosefectivo,Visa_mpagominimo
0,29183981,201901,1,0,1,48,171,8304.31,42993.54,2501.04,...,0.0,8.0,0.00,-35773.32,2.33,5148.0,36602.13,54.0,0.0,5008.71
1,29184630,201901,1,0,1,57,296,18318.76,42597.26,14986.76,...,0.0,1.0,0.00,-67414.82,1149.57,3299.0,28503.06,10.0,0.0,1395.87
2,29185587,201901,1,0,1,77,296,20862.84,85481.31,4228.40,...,0.0,1.0,0.00,0.00,0.00,6790.0,5170.25,2.0,0.0,0.00
3,29185646,201901,1,0,1,58,231,25218.94,165317.78,4474.25,...,0.0,22.0,69653.59,-59422.00,0.00,7037.0,67991.90,31.0,0.0,2897.31
4,29187499,201901,1,0,1,69,349,5307.54,32374.08,4706.22,...,0.0,8.0,0.00,-4802.21,0.00,7596.0,4851.93,3.0,0.0,492.66
5,29188277,201901,1,0,1,65,296,1672.70,16113.26,796.59,...,0.0,1.0,0.00,-5791.17,0.00,7827.0,12539.39,6.0,0.0,797.64
6,29188490,201901,1,0,1,43,281,-520.87,6116.69,2138.32,...,0.0,8.0,9172.86,-29810.71,0.00,7568.0,73132.65,41.0,0.0,9172.86
7,29188883,201901,1,0,1,64,296,64862.09,459723.16,988.28,...,0.0,8.0,0.00,-1332.76,0.00,7504.0,1102.50,1.0,0.0,58.65
8,29189950,201901,1,0,1,56,240,13535.41,41250.39,7158.16,...,0.0,1.0,0.00,-20419.25,66.25,3717.0,27701.56,19.0,0.0,1137.81
9,29190599,201901,1,0,1,59,296,2244.16,24670.53,113.76,...,0.0,22.0,8727.12,-16718.98,37.05,7137.0,1388.73,2.0,0.0,1219.92
10,29190710,201901,1,0,1,48,63,7804.86,43227.46,1461.86,...,0.0,1.0,0.00,-41325.91,0.00,1893.0,42129.11,6.0,0.0,2228.70
11,29191573,201901,1,0,1,66,259,16028.91,34086.98,15637.79,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
%%time
%%sql
SELECT foto_mes, 
COUNT(*) as cantidad 
FROM competencia_02
GROUP BY foto_mes

CPU times: user 209 ms, sys: 20.2 ms, total: 229 ms
Wall time: 287 ms

    foto_mes  cantidad
0     201901    124864
1     201902    125898
2     201903    126536
3     201904    127059
4     201905    127683
5     201906    129181
6     201907    130551
7     201908    132615
8     201909    134267
9     201910    136515
10    201911    138438
11    201912    140468
12    202001    143762
13    202002    146851
14    202003    148989
15    202004    149484
16    202005    150874
17    202006    153386
18    202007    155348
19    202008    156667
20    202009    158031
21    202010    159477
22    202011    160493
23    202012    161133
24    202101    161711
25    202102    162364
26    202103    163324
27    202104    163637
28    202105    164102
29    202106    164420
30    202107    164682

In [28]:
%%time
%%sql
SELECT numero_de_cliente, 
COUNT(*) as cantidad 
FROM competencia_02
GROUP BY numero_de_cliente
having cantidad between 5 and 15
order by cantidad desc

CPU times: user 2.1 s, sys: 94.5 ms, total: 2.19 s
Wall time: 565 ms

       numero_de_cliente  cantidad
0               54904295        15
1               55873299        15
2               56295068        15
3               66083577        15
4               74335710        15
...                  ...       ...
27139           30231900         5
27140           34103850         5
27141           34154807         5
27142           35784393         5
27143          125692726         5

[27144 rows x 2 columns]

# Creacion Clase Ternaria

In [17]:
%%time
%%sql
create or replace table targets as
with periodos as (
    select distinct foto_mes 
      from competencia_02
), clientes as (
    select distinct numero_de_cliente 
     from competencia_02
), todo as (
    select numero_de_cliente, foto_mes 
     from clientes cross join periodos
), clase_ternaria as (
    select
        t.numero_de_cliente
        , t.foto_mes
        , if(c.numero_de_cliente is null, 0, 1) as mes_0
        , lead(mes_0, 1) over (partition by t.numero_de_cliente order by foto_mes) as mes_1
        , lead(mes_0, 2) over (partition by t.numero_de_cliente order by foto_mes) as mes_2
        , 
        CASE
            WHEN mes_0 + mes_1 + mes_2 = 1 THEN 'BAJA+1'
            WHEN mes_0 + mes_1 + mes_2 = 2 THEN 'BAJA+2'
            WHEN mes_0 + mes_1 + mes_2 = 3 THEN 'CONTINUA'
        END AS clase_ternaria
    from todo t
    left join competencia_02 c using (numero_de_cliente, foto_mes)
) select
  foto_mes
  , numero_de_cliente
  , clase_ternaria,
  mes_0,
  mes_1,
  mes_2
from clase_ternaria where mes_0 = 1

CPU times: user 14 s, sys: 2.56 s, total: 16.5 s
Wall time: 2.42 s

Empty DataFrame
Columns: [Success]
Index: []

In [143]:
%%time
%%sql 

SELECT * FROM targets T
where T.numero_de_cliente = 38072385
--where T.numero_de_cliente = 118785515
--where T.clase_ternaria IS NOT NULL 
--where T.numero_de_cliente = 29187499
--where T.numero_de_cliente = 29185587
--where T.numero_de_cliente = 105799389

CPU times: user 159 ms, sys: 23.3 ms, total: 182 ms
Wall time: 315 ms

   foto_mes  numero_de_cliente clase_ternaria  mes_0  mes_1  mes_2
0    202010           38072385       CONTINUA      1      1      1
1    202011           38072385       CONTINUA      1      1      1
2    202012           38072385         BAJA+2      1      1      0
3    202101           38072385         BAJA+2      1      0      1
4    202103           38072385         BAJA+2      1      1      0
5    202104           38072385         BAJA+1      1      0      0

In [21]:
%%time
%%sql
alter table competencia_02 add column clase_ternaria VARCHAR(10)

RuntimeError: (duckdb.duckdb.CatalogException) Catalog Error: Column with name clase_ternaria already exists!
[SQL: alter table competencia_02 add column clase_ternaria VARCHAR(10)]
(Background on this error at: https://sqlalche.me/e/20/f405)
If you need help solving this issue, send us a message: https://ploomber.io/community

In [32]:
%%time
%sql SELECT numero_de_cliente, clase_ternaria, * FROM COMPETENCIA_02 LIMIT 15

CPU times: user 232 ms, sys: 19.8 ms, total: 252 ms
Wall time: 268 ms

,numero_de_cliente,clase_ternaria,numero_de_cliente_2,foto_mes,active_quarter,cliente_vip,internet,cliente_edad,cliente_antiguedad,mrentabilidad,...,Visa_fultimo_cierre,Visa_mpagado,Visa_mpagospesos,Visa_mpagosdolares,Visa_fechaalta,Visa_mconsumototal,Visa_cconsumos,Visa_cadelantosefectivo,Visa_mpagominimo,clase_ternaria_2
0,29183981,None,29183981,201901,1,0,1,48,171,8304.31,...,8.0,0.00,-35773.32,2.33,5148.0,36602.13,54.0,0.0,5008.71,None
1,29184630,None,29184630,201901,1,0,1,57,296,18318.76,...,1.0,0.00,-67414.82,1149.57,3299.0,28503.06,10.0,0.0,1395.87,None
2,29185587,None,29185587,201901,1,0,1,77,296,20862.84,...,1.0,0.00,0.00,0.00,6790.0,5170.25,2.0,0.0,0.00,None
3,29185646,None,29185646,201901,1,0,1,58,231,25218.94,...,22.0,69653.59,-59422.00,0.00,7037.0,67991.90,31.0,0.0,2897.31,None
4,29187499,None,29187499,201901,1,0,1,69,349,5307.54,...,8.0,0.00,-4802.21,0.00,7596.0,4851.93,3.0,0.0,492.66,None
5,29188277,None,29188277,201901,1,0,1,65,296,1672.70,...,1.0,0.00,-5791.17,0.00,7827.0,12539.39,6.0,0.0,797.64,None
6,29188490,None,29188490,201901,1,0,1,43,281,-520.87,...,8.0,9172.86,-29810.71,0.00,7568.0,73132.65,41.0,0.0,9172.86,None
7,29188883,None,29188883,201901,1,0,1,64,296,64862.09,...,8.0,0.00,-1332.76,0.00,7504.0,1102.50,1.0,0.0,58.65,None
8,29189950,None,29189950,201901,1,0,1,56,240,13535.41,...,1.0,0.00,-20419.25,66.25,3717.0,27701.56,19.0,0.0,1137.81,None
9,29190599,None,29190599,201901,1,0,1,59,296,2244.16,...,22.0,8727.12,-16718.98,37.05,7137.0,1388.73,2.0,0.0,1219.92,None
10,29190710,None,29190710,201901,1,0,1,48,63,7804.86,...,1.0,0.00,-41325.91,0.00,1893.0,42129.11,6.0,0.0,2228.70,None
11,29191573,None,29191573,201901,1,0,1,66,259,16028.91,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
12,29192154,None,29192154,201901,1,0,1,71,262,609.42,...,1.0,0.00,-10557.00,0.00,7977.0,7676.19,11.0,0.0,492.66,None
13,29192171,None,29192171,201901,1,0,1,63,245,11176.51,...,1.0,0.00,-18783.75,0.00,6912.0,7706.96,5.0,0.0,1442.79,None
14,29193136,None,29193136,201901,1,0,1,79,250,944.31,...,1.0,0.00,-37032.36,0.00,7597.0,10695.58,10.0,0.0,1677.39,None

## Seteo el campo clase_ternaria

In [22]:
%%time
%%sql

update competencia_02
set clase_ternaria = targets.clase_ternaria
from targets
where competencia_02.numero_de_cliente = targets.numero_de_cliente
and competencia_02.foto_mes = targets.foto_mes

CPU times: user 3.06 s, sys: 433 ms, total: 3.5 s
Wall time: 1.94 s

Empty DataFrame
Columns: [Success]
Index: []

## Validaciones

In [23]:
%%sql
select numero_de_cliente, foto_mes, clase_ternaria from competencia_02 
where numero_de_cliente = 29185587
--where numero_de_cliente = 105799389
--where numero_de_cliente = 118785515
--where numero_de_cliente = 29187499

    numero_de_cliente  foto_mes clase_ternaria
0            29185587    201901       CONTINUA
1            29185587    201902       CONTINUA
2            29185587    201903       CONTINUA
3            29185587    201904       CONTINUA
4            29185587    201905       CONTINUA
5            29185587    201906       CONTINUA
6            29185587    201907       CONTINUA
7            29185587    201908       CONTINUA
8            29185587    201909       CONTINUA
9            29185587    201910       CONTINUA
10           29185587    201911       CONTINUA
11           29185587    201912       CONTINUA
12           29185587    202001       CONTINUA
13           29185587    202002       CONTINUA
14           29185587    202003       CONTINUA
15           29185587    202004       CONTINUA
16           29185587    202005       CONTINUA
17           29185587    202006       CONTINUA
18           29185587    202007       CONTINUA
19           29185587    202008       CONTINUA
20           29185587    202009       CONTINUA
21           29185587    202010       CONTINUA
22           29185587    202011       CONTINUA
23           29185587    202012       CONTINUA
24           29185587    202101       CONTINUA
25           29185587    202102       CONTINUA
26           29185587    202103       CONTINUA
27           29185587    202104       CONTINUA
28           29185587    202105       CONTINUA
29           29185587    202106           None
30           29185587    202107           None

In [36]:
%%sql
select numero_de_cliente, foto_mes, clase_ternaria from competencia_02 
where numero_de_cliente = 29185587

    numero_de_cliente  foto_mes clase_ternaria
0            29185587    201901       CONTINUA
1            29185587    201902       CONTINUA
2            29185587    201903       CONTINUA
3            29185587    201904       CONTINUA
4            29185587    201905       CONTINUA
5            29185587    201906       CONTINUA
6            29185587    201907       CONTINUA
7            29185587    201908       CONTINUA
8            29185587    201909       CONTINUA
9            29185587    201910       CONTINUA
10           29185587    201911       CONTINUA
11           29185587    201912       CONTINUA
12           29185587    202001       CONTINUA
13           29185587    202002       CONTINUA
14           29185587    202003       CONTINUA
15           29185587    202004       CONTINUA
16           29185587    202005       CONTINUA
17           29185587    202006       CONTINUA
18           29185587    202007       CONTINUA
19           29185587    202008       CONTINUA
20           29185587    202009       CONTINUA
21           29185587    202010       CONTINUA
22           29185587    202011       CONTINUA
23           29185587    202012       CONTINUA
24           29185587    202101       CONTINUA
25           29185587    202102       CONTINUA
26           29185587    202103       CONTINUA
27           29185587    202104       CONTINUA
28           29185587    202105       CONTINUA
29           29185587    202106           None
30           29185587    202107           None

## Escribo el archivo

In [26]:
%%time
%%sql
copy competencia_02 to '/Users/miguelkiszkurno/Documents/dmeyf/datasets/competencia_02.csv.gz' (FORMAT CSV, HEADER)

## Valido archivo Completo

In [ ]:
%%time
%%sql
create or replace table competencia_02_verificar as
select
    *
from read_csv_auto('/Users/miguelkiszkurno/Documents/dmeyf/datasets/competencia_02.csv.gz')

CPU times: user 5min 13s, sys: 12.6 s, total: 5min 26s
Wall time: 1min 15s

Empty DataFrame
Columns: [Success]
Index: []

In [39]:
%%time
%sql SELECT count(*) FROM competencia_02_verificar

CPU times: user 228 ms, sys: 5.15 ms, total: 233 ms
Wall time: 310 ms

   count_star()
0       4562810

# Feature Engineering

Ver todos los campos

In [40]:
%%sql
SELECT column_name, data_type
FROM information_schema.columns
WHERE table_name = 'competencia_02';

                 column_name data_type
0          numero_de_cliente    BIGINT
1                   foto_mes    BIGINT
2             active_quarter    BIGINT
3                cliente_vip    BIGINT
4                   internet    BIGINT
..                       ...       ...
150       Visa_mconsumototal    DOUBLE
151           Visa_cconsumos    BIGINT
152  Visa_cadelantosefectivo    BIGINT
153         Visa_mpagominimo    DOUBLE
154           clase_ternaria   VARCHAR

[155 rows x 2 columns]

Calcular el valor del mes anterior de un campo

In [41]:
%%time
%%sql
select
  numero_de_cliente
  , foto_mes
  , ctrx_quarter
  , lag(ctrx_quarter, 1) over (partition by numero_de_cliente order by foto_mes) as lag_1_ctrx_quarter
from competencia_02
limit 10

CPU times: user 4.92 s, sys: 613 ms, total: 5.53 s
Wall time: 1.2 s

   numero_de_cliente  foto_mes  ctrx_quarter  lag_1_ctrx_quarter
0           29188883    201901            43                 NaN
1           29188883    201902            45                43.0
2           29188883    201903            39                45.0
3           29188883    201904            38                39.0
4           29188883    201905            39                38.0
5           29188883    201906            41                39.0
6           29188883    201907            34                41.0
7           29188883    201908            30                34.0
8           29188883    201909            25                30.0
9           29188883    201910            30                25.0

Calcular el delta de un campo

In [42]:
%%sql
select
  numero_de_cliente
  , foto_mes
  , ctrx_quarter
  , lag(ctrx_quarter, 1) over (partition by numero_de_cliente order by foto_mes) as lag_1_ctrx_quarter
  , ctrx_quarter - lag_1_ctrx_quarter as delta_1_ctrx_quarter
  , ctrx_quarter - lag(ctrx_quarter, 2) over (partition by numero_de_cliente order by foto_mes) as lag_2_ctrx_quarter
from competencia_02
limit 10

,numero_de_cliente,foto_mes,ctrx_quarter,lag_1_ctrx_quarter,delta_1_ctrx_quarter,lag_2_ctrx_quarter
0,29188883,201901,43,NaN,NaN,NaN
1,29188883,201902,45,43.0,2.0,NaN
2,29188883,201903,39,45.0,-6.0,-4.0
3,29188883,201904,38,39.0,-1.0,-7.0
4,29188883,201905,39,38.0,1.0,0.0
5,29188883,201906,41,39.0,2.0,3.0
6,29188883,201907,34,41.0,-7.0,-5.0
7,29188883,201908,30,34.0,-4.0,-11.0
8,29188883,201909,25,30.0,-5.0,-9.0
9,29188883,201910,30,25.0,5.0,0.0

Si necesitamos ya no solo traer un valor del pasado, sino una secuencia de valores, por ejemplo para calcular la media móvil en los últimos 6 meses, se puede hacer fácilmente

In [43]:
%%sql
select
  numero_de_cliente
  , foto_mes
  , ctrx_quarter
  , avg(ctrx_quarter) over (partition by numero_de_cliente
                            order by foto_mes
                            rows between 6 preceding and current row) as avg_6_ctrx_quarter
from competencia_02
limit 10

   numero_de_cliente  foto_mes  ctrx_quarter  avg_6_ctrx_quarter
0           29188883    201901            43           43.000000
1           29188883    201902            45           44.000000
2           29188883    201903            39           42.333333
3           29188883    201904            38           41.250000
4           29188883    201905            39           40.800000
5           29188883    201906            41           40.833333
6           29188883    201907            34           39.857143
7           29188883    201908            30           38.000000
8           29188883    201909            25           35.142857
9           29188883    201910            30           33.857143

Si embargo puede resultar incómodo escribir constantemente el over partition sobre todo si se buscan aplicar muchas veces para distintas funciones. Para reducir el código se puede usar la siguiente sintaxis

In [44]:
%%sql
select
  numero_de_cliente
  , foto_mes
  , ctrx_quarter
  , avg(ctrx_quarter) over ventana_6 as ctrx_quarter_media_6
  , max(ctrx_quarter) over ventana_6 as ctrx_quarter_max_6
  , min(ctrx_quarter) over ventana_6 as ctrx_quarter_min_6
from competencia_02
window ventana_6 as (partition by numero_de_cliente order by foto_mes rows between 6 preceding and current row)
limit 10

,numero_de_cliente,foto_mes,ctrx_quarter,ctrx_quarter_media_6,ctrx_quarter_max_6,ctrx_quarter_min_6
0,29188883,201901,43,43.000000,43,43
1,29188883,201902,45,44.000000,45,43
2,29188883,201903,39,42.333333,45,39
3,29188883,201904,38,41.250000,45,38
4,29188883,201905,39,40.800000,45,38
5,29188883,201906,41,40.833333,45,38
6,29188883,201907,34,39.857143,45,34
7,29188883,201908,30,38.000000,45,30
8,29188883,201909,25,35.142857,41,25
9,29188883,201910,30,33.857143,41,25

Un caso más, que ni me voy a molestar en explicar que significa...

In [45]:
%%sql
select
  numero_de_cliente
  , foto_mes
  , ctrx_quarter
  ,regr_slope(ctrx_quarter, cliente_antiguedad) over ventana_6 as ctrx_quarter_slope_6
from competencia_02
window ventana_6 as (partition by numero_de_cliente order by foto_mes rows between 6 preceding and current row)
limit 10

   numero_de_cliente  foto_mes  ctrx_quarter  ctrx_quarter_slope_6
0           29188883    201901            43                   NaN
1           29188883    201902            45              2.000000
2           29188883    201903            39             -2.000000
3           29188883    201904            38             -2.100000
4           29188883    201905            39             -1.500000
5           29188883    201906            41             -0.828571
6           29188883    201907            34             -1.250000
7           29188883    201908            30             -1.857143
8           29188883    201909            25             -2.250000
9           29188883    201910            30             -2.250000

In [46]:
#campos = ['active_quarter', 'cliente_vip', 'internet', 'cliente_edad', 'cliente_antiguedad', 'mrentabilidad', 'mrentabilidad_annual', 'mcomisiones', 'mactivos_margen', 'mpasivos_margen', 'cproductos', 'tcuentas', 'ccuenta_corriente', 'mcuenta_corriente_adicional', 'mcuenta_corriente', 'ccaja_ahorro', 'mcaja_ahorro', 'mcaja_ahorro_adicional', 'mcaja_ahorro_dolares', 'cdescubierto_preacordado', 'mcuentas_saldo', 'ctarjeta_debito', 'ctarjeta_debito_transacciones', 'mautoservicio', 'ctarjeta_visa', 'ctarjeta_visa_transacciones', 'mtarjeta_visa_consumo', 'ctarjeta_master', 'ctarjeta_master_transacciones', 'mtarjeta_master_consumo', 'cprestamos_personales', 'mprestamos_personales', 'cprestamos_prendarios', 'mprestamos_prendarios', 'cprestamos_hipotecarios', 'mprestamos_hipotecarios', 'cplazo_fijo', 'mplazo_fijo_dolares', 'mplazo_fijo_pesos', 'cinversion1', 'minversion1_pesos', 'minversion1_dolares', 'cinversion2', 'minversion2', 'cseguro_vida', 'cseguro_auto', 'cseguro_vivienda', 'cseguro_accidentes_personales', 'ccaja_seguridad', 'cpayroll_trx', 'mpayroll', 'mpayroll2', 'cpayroll2_trx', 'ccuenta_debitos_automaticos', 'mcuenta_debitos_automaticos', 'ctarjeta_visa_debitos_automaticos', 'mttarjeta_visa_debitos_automaticos', 'ctarjeta_master_debitos_automaticos', 'mttarjeta_master_debitos_automaticos', 'cpagodeservicios', 'mpagodeservicios', 'cpagomiscuentas', 'mpagomiscuentas', 'ccajeros_propios_descuentos', 'mcajeros_propios_descuentos', 'ctarjeta_visa_descuentos', 'mtarjeta_visa_descuentos', 'ctarjeta_master_descuentos', 'mtarjeta_master_descuentos', 'ccomisiones_mantenimiento', 'mcomisiones_mantenimiento', 'ccomisiones_otras', 'mcomisiones_otras', 'cforex', 'cforex_buy', 'mforex_buy', 'cforex_sell', 'mforex_sell', 'ctransferencias_recibidas', 'mtransferencias_recibidas', 'ctransferencias_emitidas', 'mtransferencias_emitidas', 'cextraccion_autoservicio', 'mextraccion_autoservicio', 'ccheques_depositados', 'mcheques_depositados', 'ccheques_emitidos', 'mcheques_emitidos', 'ccheques_depositados_rechazados', 'mcheques_depositados_rechazados', 'ccheques_emitidos_rechazados', 'mcheques_emitidos_rechazados', 'tcallcenter', 'ccallcenter_transacciones', 'thomebanking', 'chomebanking_transacciones', 'ccajas_transacciones', 'ccajas_consultas', 'ccajas_depositos', 'ccajas_extracciones', 'ccajas_otras', 'catm_trx', 'matm', 'catm_trx_other', 'matm_other', 'ctrx_quarter', 'Master_delinquency', 'Master_status', 'Master_mfinanciacion_limite', 'Master_Fvencimiento', 'Master_Finiciomora', 'Master_msaldototal', 'Master_msaldopesos', 'Master_msaldodolares', 'Master_mconsumospesos', 'Master_mconsumosdolares', 'Master_mlimitecompra', 'Master_madelantopesos', 'Master_madelantodolares', 'Master_fultimo_cierre', 'Master_mpagado', 'Master_mpagospesos', 'Master_mpagosdolares', 'Master_fechaalta', 'Master_mconsumototal', 'Master_cconsumos', 'Master_cadelantosefectivo', 'Master_mpagominimo', 'Visa_delinquency', 'Visa_status', 'Visa_mfinanciacion_limite', 'Visa_Fvencimiento', 'Visa_Finiciomora', 'Visa_msaldototal', 'Visa_msaldopesos', 'Visa_msaldodolares', 'Visa_mconsumospesos', 'Visa_mconsumosdolares', 'Visa_mlimitecompra', 'Visa_madelantopesos', 'Visa_madelantodolares', 'Visa_fultimo_cierre', 'Visa_mpagado', 'Visa_mpagospesos', 'Visa_mpagosdolares', 'Visa_fechaalta', 'Visa_mconsumototal', 'Visa_cconsumos', 'Visa_cadelantosefectivo', 'Visa_mpagominimo']
campos = ['ctrx_quarter','mcaja_ahorro','mcuentas_saldo','mrentabilidad_annual','cpayroll_trx','mpasivos_margen','mprestamos_personales','mcuenta_corriente','cliente_antiguedad', 'mactivos_margen', 

'chomebanking_transacciones', 'mtarjeta_visa_consumo', 'mrentabilidad', 'cproductos', 'ctarjeta_visa_transacciones', 'Visa_mpagospesos', 'mcomisiones_mantenimiento', 
'mcaja_ahorro_dolares', 'mtransferencias_recibidas', 'Visa_mconsumospesos', 'mcomisiones_otras', 'ccomisiones_otras', 'Visa_msaldopesos', 'Visa_cconsumos', 'Visa_msaldototal', 
'ctarjeta_debito', ]
print(campos)
print(len(campos))

['ctrx_quarter', 'mcaja_ahorro', 'mcuentas_saldo', 'mrentabilidad_annual', 'cpayroll_trx', 'mpasivos_margen', 'mprestamos_personales', 'mcuenta_corriente', 'cliente_antiguedad', 'mactivos_margen', 'chomebanking_transacciones', 'mtarjeta_visa_consumo', 'mrentabilidad', 'cproductos', 'ctarjeta_visa_transacciones', 'Visa_mpagospesos', 'mcomisiones_mantenimiento', 'mcaja_ahorro_dolares', 'mtransferencias_recibidas', 'Visa_mconsumospesos', 'mcomisiones_otras', 'ccomisiones_otras', 'Visa_msaldopesos', 'Visa_cconsumos', 'Visa_msaldototal', 'ctarjeta_debito']
26

In [242]:
### Query para 6 meses
len(campos)
nuevos_features = ""
for campo in campos:
  nuevos_features += f"\n, regr_slope({campo}, cliente_antiguedad) over ventana_6 as {campo}_slope_6"
  nuevos_features += f", lag({campo}, 1) over ventana_6 as {campo}_lag_1"
  nuevos_features += f", lag({campo}, 2) over ventana_6 as {campo}_lag_2"
  nuevos_features += f", lag({campo}, 3) over ventana_6 as {campo}_lag_3"
  nuevos_features += f", lag({campo}, 4) over ventana_6 as {campo}_lag_4"
  nuevos_features += f", lag({campo}, 5) over ventana_6 as {campo}_lag_5"
  nuevos_features += f", lag({campo}, 6) over ventana_6 as {campo}_lag_6"
  nuevos_features += f", {campo} - lag({campo}, 1) over ventana_6 as {campo}_delta_1_lag"
  nuevos_features += f", {campo} - lag({campo}, 2) over ventana_6 as {campo}_delta_2_lag"
  nuevos_features += f", {campo} - lag({campo}, 3) over ventana_6 as {campo}_delta_3_lag"
  nuevos_features += f", {campo} - lag({campo}, 4) over ventana_6 as {campo}_delta_4_lag"
  nuevos_features += f", {campo} - lag({campo}, 5) over ventana_6 as {campo}_delta_5_lag"
  nuevos_features += f", {campo} - lag({campo}, 6) over ventana_6 as {campo}_delta_6_lag"
  nuevos_features += f", avg({campo}) over ventana_6 as {campo}_media_6"
  nuevos_features += f", max({campo}) over ventana_6 as {campo}_max_6"
  nuevos_features += f", min({campo}) over ventana_6 as {campo}_min_6"

print(nuevos_features)

, regr_slope(ctrx_quarter, cliente_antiguedad) over ventana_6 as ctrx_quarter_slope_6, lag(ctrx_quarter, 1) over ventana_6 as ctrx_quarter_lag_1, lag(ctrx_quarter, 2) over ventana_6 as ctrx_quarter_lag_2, lag(ctrx_quarter, 3) over ventana_6 as ctrx_quarter_lag_3, lag(ctrx_quarter, 4) over ventana_6 as ctrx_quarter_lag_4, lag(ctrx_quarter, 5) over ventana_6 as ctrx_quarter_lag_5, lag(ctrx_quarter, 6) over ventana_6 as ctrx_quarter_lag_6, ctrx_quarter - lag(ctrx_quarter, 1) over ventana_6 as ctrx_quarter_delta_1_lag, ctrx_quarter - lag(ctrx_quarter, 2) over ventana_6 as ctrx_quarter_delta_2_lag, ctrx_quarter - lag(ctrx_quarter, 3) over ventana_6 as ctrx_quarter_delta_3_lag, ctrx_quarter - lag(ctrx_quarter, 4) over ventana_6 as ctrx_quarter_delta_4_lag, ctrx_quarter - lag(ctrx_quarter, 5) over ventana_6 as ctrx_quarter_delta_5_lag, ctrx_quarter - lag(ctrx_quarter, 6) over ventana_6 as ctrx_quarter_delta_6_lag, avg(ctrx_quarter) over ventana_6 as ctrx_quarter_media_6, max(ctrx_quarter) over ventana_6 as ctrx_quarter_max_6, min(ctrx_quarter) over ventana_6 as ctrx_quarter_min_6
, regr_slope(mcaja_ahorro, cliente_antiguedad) over ventana_6 as mcaja_ahorro_slope_6, lag(mcaja_ahorro, 1) over ventana_6 as mcaja_ahorro_lag_1, lag(mcaja_ahorro, 2) over ventana_6 as mcaja_ahorro_lag_2, lag(mcaja_ahorro, 3) over ventana_6 as mcaja_ahorro_lag_3, lag(mcaja_ahorro, 4) over ventana_6 as mcaja_ahorro_lag_4, lag(mcaja_ahorro, 5) over ventana_6 as mcaja_ahorro_lag_5, lag(mcaja_ahorro, 6) over ventana_6 as mcaja_ahorro_lag_6, mcaja_ahorro - lag(mcaja_ahorro, 1) over ventana_6 as mcaja_ahorro_delta_1_lag, mcaja_ahorro - lag(mcaja_ahorro, 2) over ventana_6 as mcaja_ahorro_delta_2_lag, mcaja_ahorro - lag(mcaja_ahorro, 3) over ventana_6 as mcaja_ahorro_delta_3_lag, mcaja_ahorro - lag(mcaja_ahorro, 4) over ventana_6 as mcaja_ahorro_delta_4_lag, mcaja_ahorro - lag(mcaja_ahorro, 5) over ventana_6 as mcaja_ahorro_delta_5_lag, mcaja_ahorro - lag(mcaja_ahorro, 6) over ventana_6 as mcaja_ahorro_delta_6_lag, avg(mcaja_ahorro) over ventana_6 as mcaja_ahorro_media_6, max(mcaja_ahorro) over ventana_6 as mcaja_ahorro_max_6, min(mcaja_ahorro) over ventana_6 as mcaja_ahorro_min_6
, regr_slope(mcuentas_saldo, cliente_antiguedad) over ventana_6 as mcuentas_saldo_slope_6, lag(mcuentas_saldo, 1) over ventana_6 as mcuentas_saldo_lag_1, lag(mcuentas_saldo, 2) over ventana_6 as mcuentas_saldo_lag_2, lag(mcuentas_saldo, 3) over ventana_6 as mcuentas_saldo_lag_3, lag(mcuentas_saldo, 4) over ventana_6 as mcuentas_saldo_lag_4, lag(mcuentas_saldo, 5) over ventana_6 as mcuentas_saldo_lag_5, lag(mcuentas_saldo, 6) over ventana_6 as mcuentas_saldo_lag_6, mcuentas_saldo - lag(mcuentas_saldo, 1) over ventana_6 as mcuentas_saldo_delta_1_lag, mcuentas_saldo - lag(mcuentas_saldo, 2) over ventana_6 as mcuentas_saldo_delta_2_lag, mcuentas_saldo - lag(mcuentas_saldo, 3) over ventana_6 as mcuentas_saldo_delta_3_lag, mcuentas_saldo - lag(mcuentas_saldo, 4) over ventana_6 as mcuentas_saldo_delta_4_lag, mcuentas_saldo - lag(mcuentas_saldo, 5) over ventana_6 as mcuentas_saldo_delta_5_lag, mcuentas_saldo - lag(mcuentas_saldo, 6) over ventana_6 as mcuentas_saldo_delta_6_lag, avg(mcuentas_saldo) over ventana_6 as mcuentas_saldo_media_6, max(mcuentas_saldo) over ventana_6 as mcuentas_saldo_max_6, min(mcuentas_saldo) over ventana_6 as mcuentas_saldo_min_6
, regr_slope(mrentabilidad_annual, cliente_antiguedad) over ventana_6 as mrentabilidad_annual_slope_6, lag(mrentabilidad_annual, 1) over ventana_6 as mrentabilidad_annual_lag_1, lag(mrentabilidad_annual, 2) over ventana_6 as mrentabilidad_annual_lag_2, lag(mrentabilidad_annual, 3) over ventana_6 as mrentabilidad_annual_lag_3, lag(mrentabilidad_annual, 4) over ventana_6 as mrentabilidad_annual_lag_4, lag(mrentabilidad_annual, 5) over ventana_6 as mrentabilidad_annual_lag_5, lag(mrentabilidad_annual, 6) over ventana_6 as mrentabilidad_annual_lag_6, mrentabilidad_annual - lag(mrentabilidad_annual, 1) over ventana_6 as mrentabilidad_annual_delta_1_lag, mrentabilidad_annual - lag(mrentabilidad_annual, 2) over ventana_6 as mrentabilidad_annual_delta_2_lag, mrentabilidad_annual - lag(mrentabilidad_annual, 3) over ventana_6 as mrentabilidad_annual_delta_3_lag, mrentabilidad_annual - lag(mrentabilidad_annual, 4) over ventana_6 as mrentabilidad_annual_delta_4_lag, mrentabilidad_annual - lag(mrentabilidad_annual, 5) over ventana_6 as mrentabilidad_annual_delta_5_lag, mrentabilidad_annual - lag(mrentabilidad_annual, 6) over ventana_6 as mrentabilidad_annual_delta_6_lag, avg(mrentabilidad_annual) over ventana_6 as mrentabilidad_annual_media_6, max(mrentabilidad_annual) over ventana_6 as mrentabilidad_annual_max_6, min(mrentabilidad_annual) over ventana_6 as mrentabilidad_annual_min_6
, regr_slope(cpayroll_trx, cliente_antiguedad) over ventana_6 as cpayroll_trx_slope_6, lag(cpayroll_trx, 1) over ventana_6 as cpayroll_trx_lag_1, lag(cpayroll_trx, 2) over ventana_6 as cpayroll_trx_lag_2, lag(cpayroll_trx, 3) over ventana_6 as cpayroll_trx_lag_3, lag(cpayroll_trx, 4) over ventana_6 as cpayroll_trx_lag_4, lag(cpayroll_trx, 5) over ventana_6 as cpayroll_trx_lag_5, lag(cpayroll_trx, 6) over ventana_6 as cpayroll_trx_lag_6, cpayroll_trx - lag(cpayroll_trx, 1) over ventana_6 as cpayroll_trx_delta_1_lag, cpayroll_trx - lag(cpayroll_trx, 2) over ventana_6 as cpayroll_trx_delta_2_lag, cpayroll_trx - lag(cpayroll_trx, 3) over ventana_6 as cpayroll_trx_delta_3_lag, cpayroll_trx - lag(cpayroll_trx, 4) over ventana_6 as cpayroll_trx_delta_4_lag, cpayroll_trx - lag(cpayroll_trx, 5) over ventana_6 as cpayroll_trx_delta_5_lag, cpayroll_trx - lag(cpayroll_trx, 6) over ventana_6 as cpayroll_trx_delta_6_lag, avg(cpayroll_trx) over ventana_6 as cpayroll_trx_media_6, max(cpayroll_trx) over ventana_6 as cpayroll_trx_max_6, min(cpayroll_trx) over ventana_6 as cpayroll_trx_min_6
, regr_slope(mpasivos_margen, cliente_antiguedad) over ventana_6 as mpasivos_margen_slope_6, lag(mpasivos_margen, 1) over ventana_6 as mpasivos_margen_lag_1, lag(mpasivos_margen, 2) over ventana_6 as mpasivos_margen_lag_2, lag(mpasivos_margen, 3) over ventana_6 as mpasivos_margen_lag_3, lag(mpasivos_margen, 4) over ventana_6 as mpasivos_margen_lag_4, lag(mpasivos_margen, 5) over ventana_6 as mpasivos_margen_lag_5, lag(mpasivos_margen, 6) over ventana_6 as mpasivos_margen_lag_6, mpasivos_margen - lag(mpasivos_margen, 1) over ventana_6 as mpasivos_margen_delta_1_lag, mpasivos_margen - lag(mpasivos_margen, 2) over ventana_6 as mpasivos_margen_delta_2_lag, mpasivos_margen - lag(mpasivos_margen, 3) over ventana_6 as mpasivos_margen_delta_3_lag, mpasivos_margen - lag(mpasivos_margen, 4) over ventana_6 as mpasivos_margen_delta_4_lag, mpasivos_margen - lag(mpasivos_margen, 5) over ventana_6 as mpasivos_margen_delta_5_lag, mpasivos_margen - lag(mpasivos_margen, 6) over ventana_6 as mpasivos_margen_delta_6_lag, avg(mpasivos_margen) over ventana_6 as mpasivos_margen_media_6, max(mpasivos_margen) over ventana_6 as mpasivos_margen_max_6, min(mpasivos_margen) over ventana_6 as mpasivos_margen_min_6
, regr_slope(mprestamos_personales, cliente_antiguedad) over ventana_6 as mprestamos_personales_slope_6, lag(mprestamos_personales, 1) over ventana_6 as mprestamos_personales_lag_1, lag(mprestamos_personales, 2) over ventana_6 as mprestamos_personales_lag_2, lag(mprestamos_personales, 3) over ventana_6 as mprestamos_personales_lag_3, lag(mprestamos_personales, 4) over ventana_6 as mprestamos_personales_lag_4, lag(mprestamos_personales, 5) over ventana_6 as mprestamos_personales_lag_5, lag(mprestamos_personales, 6) over ventana_6 as mprestamos_personales_lag_6, mprestamos_personales - lag(mprestamos_personales, 1) over ventana_6 as mprestamos_personales_delta_1_lag, mprestamos_personales - lag(mprestamos_personales, 2) over ventana_6 as mprestamos_personales_delta_2_lag, mprestamos_personales - lag(mprestamos_personales, 3) over ventana_6 as mprestamos_personales_delta_3_lag, mprestamos_personales - lag(mprestamos_personales, 4) over ventana_6 as mprestamos_personales_delta_4_lag, mprestamos_personales - lag(mprestamos_personales, 5) over ventana_6 as mprestamos_personales_delta_5_lag, mprestamos_personales - lag(mprestamos_personales, 6) over ventana_6 as mprestamos_personales_delta_6_lag, avg(mprestamos_personales) over ventana_6 as mprestamos_personales_media_6, max(mprestamos_personales) over ventana_6 as mprestamos_personales_max_6, min(mprestamos_personales) over ventana_6 as mprestamos_personales_min_6
, regr_slope(mcuenta_corriente, cliente_antiguedad) over ventana_6 as mcuenta_corriente_slope_6, lag(mcuenta_corriente, 1) over ventana_6 as mcuenta_corriente_lag_1, lag(mcuenta_corriente, 2) over ventana_6 as mcuenta_corriente_lag_2, lag(mcuenta_corriente, 3) over ventana_6 as mcuenta_corriente_lag_3, lag(mcuenta_corriente, 4) over ventana_6 as mcuenta_corriente_lag_4, lag(mcuenta_corriente, 5) over ventana_6 as mcuenta_corriente_lag_5, lag(mcuenta_corriente, 6) over ventana_6 as mcuenta_corriente_lag_6, mcuenta_corriente - lag(mcuenta_corriente, 1) over ventana_6 as mcuenta_corriente_delta_1_lag, mcuenta_corriente - lag(mcuenta_corriente, 2) over ventana_6 as mcuenta_corriente_delta_2_lag, mcuenta_corriente - lag(mcuenta_corriente, 3) over ventana_6 as mcuenta_corriente_delta_3_lag, mcuenta_corriente - lag(mcuenta_corriente, 4) over ventana_6 as mcuenta_corriente_delta_4_lag, mcuenta_corriente - lag(mcuenta_corriente, 5) over ventana_6 as mcuenta_corriente_delta_5_lag, mcuenta_corriente - lag(mcuenta_corriente, 6) over ventana_6 as mcuenta_corriente_delta_6_lag, avg(mcuenta_corriente) over ventana_6 as mcuenta_corriente_media_6, max(mcuenta_corriente) over ventana_6 as mcuenta_corriente_max_6, min(mcuenta_corriente) over ventana_6 as mcuenta_corriente_min_6
, regr_slope(cliente_antiguedad, cliente_antiguedad) over ventana_6 as cliente_antiguedad_slope_6, lag(cliente_antiguedad, 1) over ventana_6 as cliente_antiguedad_lag_1, lag(cliente_antiguedad, 2) over ventana_6 as cliente_antiguedad_lag_2, lag(cliente_antiguedad, 3) over ventana_6 as cliente_antiguedad_lag_3, lag(cliente_antiguedad, 4) over ventana_6 as cliente_antiguedad_lag_4, lag(cliente_antiguedad, 5) over ventana_6 as cliente_antiguedad_lag_5, lag(cliente_antiguedad, 6) over ventana_6 as cliente_antiguedad_lag_6, cliente_antiguedad - lag(cliente_antiguedad, 1) over ventana_6 as cliente_antiguedad_delta_1_lag, cliente_antiguedad - lag(cliente_antiguedad, 2) over ventana_6 as cliente_antiguedad_delta_2_lag, cliente_antiguedad - lag(cliente_antiguedad, 3) over ventana_6 as cliente_antiguedad_delta_3_lag, cliente_antiguedad - lag(cliente_antiguedad, 4) over ventana_6 as cliente_antiguedad_delta_4_lag, cliente_antiguedad - lag(cliente_antiguedad, 5) over ventana_6 as cliente_antiguedad_delta_5_lag, cliente_antiguedad - lag(cliente_antiguedad, 6) over ventana_6 as cliente_antiguedad_delta_6_lag, avg(cliente_antiguedad) over ventana_6 as cliente_antiguedad_media_6, max(cliente_antiguedad) over ventana_6 as cliente_antiguedad_max_6, min(cliente_antiguedad) over ventana_6 as cliente_antiguedad_min_6
, regr_slope(mactivos_margen, cliente_antiguedad) over ventana_6 as mactivos_margen_slope_6, lag(mactivos_margen, 1) over ventana_6 as mactivos_margen_lag_1, lag(mactivos_margen, 2) over ventana_6 as mactivos_margen_lag_2, lag(mactivos_margen, 3) over ventana_6 as mactivos_margen_lag_3, lag(mactivos_margen, 4) over ventana_6 as mactivos_margen_lag_4, lag(mactivos_margen, 5) over ventana_6 as mactivos_margen_lag_5, lag(mactivos_margen, 6) over ventana_6 as mactivos_margen_lag_6, mactivos_margen - lag(mactivos_margen, 1) over ventana_6 as mactivos_margen_delta_1_lag, mactivos_margen - lag(mactivos_margen, 2) over ventana_6 as mactivos_margen_delta_2_lag, mactivos_margen - lag(mactivos_margen, 3) over ventana_6 as mactivos_margen_delta_3_lag, mactivos_margen - lag(mactivos_margen, 4) over ventana_6 as mactivos_margen_delta_4_lag, mactivos_margen - lag(mactivos_margen, 5) over ventana_6 as mactivos_margen_delta_5_lag, mactivos_margen - lag(mactivos_margen, 6) over ventana_6 as mactivos_margen_delta_6_lag, avg(mactivos_margen) over ventana_6 as mactivos_margen_media_6, max(mactivos_margen) over ventana_6 as mactivos_margen_max_6, min(mactivos_margen) over ventana_6 as mactivos_margen_min_6
, regr_slope(chomebanking_transacciones, cliente_antiguedad) over ventana_6 as chomebanking_transacciones_slope_6, lag(chomebanking_transacciones, 1) over ventana_6 as chomebanking_transacciones_lag_1, lag(chomebanking_transacciones, 2) over ventana_6 as chomebanking_transacciones_lag_2, lag(chomebanking_transacciones, 3) over ventana_6 as chomebanking_transacciones_lag_3, lag(chomebanking_transacciones, 4) over ventana_6 as chomebanking_transacciones_lag_4, lag(chomebanking_transacciones, 5) over ventana_6 as chomebanking_transacciones_lag_5, lag(chomebanking_transacciones, 6) over ventana_6 as chomebanking_transacciones_lag_6, chomebanking_transacciones - lag(chomebanking_transacciones, 1) over ventana_6 as chomebanking_transacciones_delta_1_lag, chomebanking_transacciones - lag(chomebanking_transacciones, 2) over ventana_6 as chomebanking_transacciones_delta_2_lag, chomebanking_transacciones - lag(chomebanking_transacciones, 3) over ventana_6 as chomebanking_transacciones_delta_3_lag, chomebanking_transacciones - lag(chomebanking_transacciones, 4) over ventana_6 as chomebanking_transacciones_delta_4_lag, chomebanking_transacciones - lag(chomebanking_transacciones, 5) over ventana_6 as chomebanking_transacciones_delta_5_lag, chomebanking_transacciones - lag(chomebanking_transacciones, 6) over ventana_6 as chomebanking_transacciones_delta_6_lag, avg(chomebanking_transacciones) over ventana_6 as chomebanking_transacciones_media_6, max(chomebanking_transacciones) over ventana_6 as chomebanking_transacciones_max_6, min(chomebanking_transacciones) over ventana_6 as chomebanking_transacciones_min_6
, regr_slope(mtarjeta_visa_consumo, cliente_antiguedad) over ventana_6 as mtarjeta_visa_consumo_slope_6, lag(mtarjeta_visa_consumo, 1) over ventana_6 as mtarjeta_visa_consumo_lag_1, lag(mtarjeta_visa_consumo, 2) over ventana_6 as mtarjeta_visa_consumo_lag_2, lag(mtarjeta_visa_consumo, 3) over ventana_6 as mtarjeta_visa_consumo_lag_3, lag(mtarjeta_visa_consumo, 4) over ventana_6 as mtarjeta_visa_consumo_lag_4, lag(mtarjeta_visa_consumo, 5) over ventana_6 as mtarjeta_visa_consumo_lag_5, lag(mtarjeta_visa_consumo, 6) over ventana_6 as mtarjeta_visa_consumo_lag_6, mtarjeta_visa_consumo - lag(mtarjeta_visa_consumo, 1) over ventana_6 as mtarjeta_visa_consumo_delta_1_lag, mtarjeta_visa_consumo - lag(mtarjeta_visa_consumo, 2) over ventana_6 as mtarjeta_visa_consumo_delta_2_lag, mtarjeta_visa_consumo - lag(mtarjeta_visa_consumo, 3) over ventana_6 as mtarjeta_visa_consumo_delta_3_lag, mtarjeta_visa_consumo - lag(mtarjeta_visa_consumo, 4) over ventana_6 as mtarjeta_visa_consumo_delta_4_lag, mtarjeta_visa_consumo - lag(mtarjeta_visa_consumo, 5) over ventana_6 as mtarjeta_visa_consumo_delta_5_lag, mtarjeta_visa_consumo - lag(mtarjeta_visa_consumo, 6) over ventana_6 as mtarjeta_visa_consumo_delta_6_lag, avg(mtarjeta_visa_consumo) over ventana_6 as mtarjeta_visa_consumo_media_6, max(mtarjeta_visa_consumo) over ventana_6 as mtarjeta_visa_consumo_max_6, min(mtarjeta_visa_consumo) over ventana_6 as mtarjeta_visa_consumo_min_6
, regr_slope(mrentabilidad, cliente_antiguedad) over ventana_6 as mrentabilidad_slope_6, lag(mrentabilidad, 1) over ventana_6 as mrentabilidad_lag_1, lag(mrentabilidad, 2) over ventana_6 as mrentabilidad_lag_2, lag(mrentabilidad, 3) over ventana_6 as mrentabilidad_lag_3, lag(mrentabilidad, 4) over ventana_6 as mrentabilidad_lag_4, lag(mrentabilidad, 5) over ventana_6 as mrentabilidad_lag_5, lag(mrentabilidad, 6) over ventana_6 as mrentabilidad_lag_6, mrentabilidad - lag(mrentabilidad, 1) over ventana_6 as mrentabilidad_delta_1_lag, mrentabilidad - lag(mrentabilidad, 2) over ventana_6 as mrentabilidad_delta_2_lag, mrentabilidad - lag(mrentabilidad, 3) over ventana_6 as mrentabilidad_delta_3_lag, mrentabilidad - lag(mrentabilidad, 4) over ventana_6 as mrentabilidad_delta_4_lag, mrentabilidad - lag(mrentabilidad, 5) over ventana_6 as mrentabilidad_delta_5_lag, mrentabilidad - lag(mrentabilidad, 6) over ventana_6 as mrentabilidad_delta_6_lag, avg(mrentabilidad) over ventana_6 as mrentabilidad_media_6, max(mrentabilidad) over ventana_6 as mrentabilidad_max_6, min(mrentabilidad) over ventana_6 as mrentabilidad_min_6
, regr_slope(cproductos, cliente_antiguedad) over ventana_6 as cproductos_slope_6, lag(cproductos, 1) over ventana_6 as cproductos_lag_1, lag(cproductos, 2) over ventana_6 as cproductos_lag_2, lag(cproductos, 3) over ventana_6 as cproductos_lag_3, lag(cproductos, 4) over ventana_6 as cproductos_lag_4, lag(cproductos, 5) over ventana_6 as cproductos_lag_5, lag(cproductos, 6) over ventana_6 as cproductos_lag_6, cproductos - lag(cproductos, 1) over ventana_6 as cproductos_delta_1_lag, cproductos - lag(cproductos, 2) over ventana_6 as cproductos_delta_2_lag, cproductos - lag(cproductos, 3) over ventana_6 as cproductos_delta_3_lag, cproductos - lag(cproductos, 4) over ventana_6 as cproductos_delta_4_lag, cproductos - lag(cproductos, 5) over ventana_6 as cproductos_delta_5_lag, cproductos - lag(cproductos, 6) over ventana_6 as cproductos_delta_6_lag, avg(cproductos) over ventana_6 as cproductos_media_6, max(cproductos) over ventana_6 as cproductos_max_6, min(cproductos) over ventana_6 as cproductos_min_6
, regr_slope(ctarjeta_visa_transacciones, cliente_antiguedad) over ventana_6 as ctarjeta_visa_transacciones_slope_6, lag(ctarjeta_visa_transacciones, 1) over ventana_6 as ctarjeta_visa_transacciones_lag_1, lag(ctarjeta_visa_transacciones, 2) over ventana_6 as ctarjeta_visa_transacciones_lag_2, lag(ctarjeta_visa_transacciones, 3) over ventana_6 as ctarjeta_visa_transacciones_lag_3, lag(ctarjeta_visa_transacciones, 4) over ventana_6 as ctarjeta_visa_transacciones_lag_4, lag(ctarjeta_visa_transacciones, 5) over ventana_6 as ctarjeta_visa_transacciones_lag_5, lag(ctarjeta_visa_transacciones, 6) over ventana_6 as ctarjeta_visa_transacciones_lag_6, ctarjeta_visa_transacciones - lag(ctarjeta_visa_transacciones, 1) over ventana_6 as ctarjeta_visa_transacciones_delta_1_lag, ctarjeta_visa_transacciones - lag(ctarjeta_visa_transacciones, 2) over ventana_6 as ctarjeta_visa_transacciones_delta_2_lag, ctarjeta_visa_transacciones - lag(ctarjeta_visa_transacciones, 3) over ventana_6 as ctarjeta_visa_transacciones_delta_3_lag, ctarjeta_visa_transacciones - lag(ctarjeta_visa_transacciones, 4) over ventana_6 as ctarjeta_visa_transacciones_delta_4_lag, ctarjeta_visa_transacciones - lag(ctarjeta_visa_transacciones, 5) over ventana_6 as ctarjeta_visa_transacciones_delta_5_lag, ctarjeta_visa_transacciones - lag(ctarjeta_visa_transacciones, 6) over ventana_6 as ctarjeta_visa_transacciones_delta_6_lag, avg(ctarjeta_visa_transacciones) over ventana_6 as ctarjeta_visa_transacciones_media_6, max(ctarjeta_visa_transacciones) over ventana_6 as ctarjeta_visa_transacciones_max_6, min(ctarjeta_visa_transacciones) over ventana_6 as ctarjeta_visa_transacciones_min_6

In [55]:
# ### Query para 9 meses
len(campos)
nuevos_features = ""
for campo in campos:
  nuevos_features += f"\n, regr_slope({campo}, cliente_antiguedad) over ventana_9 as {campo}_slope_6"
  nuevos_features += f", lag({campo}, 1) over ventana_9 as {campo}_lag_1"
  nuevos_features += f", lag({campo}, 2) over ventana_9 as {campo}_lag_2"
  nuevos_features += f", lag({campo}, 3) over ventana_9 as {campo}_lag_3"
  nuevos_features += f", lag({campo}, 4) over ventana_9 as {campo}_lag_4"
  nuevos_features += f", lag({campo}, 5) over ventana_9 as {campo}_lag_5"
  nuevos_features += f", lag({campo}, 6) over ventana_9 as {campo}_lag_6"
  nuevos_features += f", lag({campo}, 7) over ventana_9 as {campo}_lag_7"
  nuevos_features += f", lag({campo}, 8) over ventana_9 as {campo}_lag_8"
  nuevos_features += f", lag({campo}, 9) over ventana_9 as {campo}_lag_9"
  nuevos_features += f", {campo} - lag({campo}, 1) over ventana_9 as {campo}_delta_1_lag"
  nuevos_features += f", {campo} - lag({campo}, 2) over ventana_9 as {campo}_delta_2_lag"
  nuevos_features += f", {campo} - lag({campo}, 3) over ventana_9 as {campo}_delta_3_lag"
  nuevos_features += f", {campo} - lag({campo}, 4) over ventana_9 as {campo}_delta_4_lag"
  nuevos_features += f", {campo} - lag({campo}, 5) over ventana_9 as {campo}_delta_5_lag"
  nuevos_features += f", {campo} - lag({campo}, 6) over ventana_9 as {campo}_delta_6_lag"
  nuevos_features += f", {campo} - lag({campo}, 7) over ventana_9 as {campo}_delta_7_lag"
  nuevos_features += f", {campo} - lag({campo}, 8) over ventana_9 as {campo}_delta_8_lag"
  nuevos_features += f", {campo} - lag({campo}, 9) over ventana_9 as {campo}_delta_9_lag"
  nuevos_features += f", avg({campo}) over ventana_9 as {campo}_media_9"
  nuevos_features += f", max({campo}) over ventana_9 as {campo}_max_9"
  nuevos_features += f",  min({campo}) over ventana_9 as {campo}_min_9\n"

print(nuevos_features)

, regr_slope(ctrx_quarter, cliente_antiguedad) over ventana_9 as ctrx_quarter_slope_6, lag(ctrx_quarter, 1) over ventana_9 as ctrx_quarter_lag_1, lag(ctrx_quarter, 2) over ventana_9 as ctrx_quarter_lag_2, lag(ctrx_quarter, 3) over ventana_9 as ctrx_quarter_lag_3, lag(ctrx_quarter, 4) over ventana_9 as ctrx_quarter_lag_4, lag(ctrx_quarter, 5) over ventana_9 as ctrx_quarter_lag_5, lag(ctrx_quarter, 6) over ventana_9 as ctrx_quarter_lag_6, lag(ctrx_quarter, 7) over ventana_9 as ctrx_quarter_lag_7, lag(ctrx_quarter, 8) over ventana_9 as ctrx_quarter_lag_8, lag(ctrx_quarter, 9) over ventana_9 as ctrx_quarter_lag_9, ctrx_quarter - lag(ctrx_quarter, 1) over ventana_9 as ctrx_quarter_delta_1_lag, ctrx_quarter - lag(ctrx_quarter, 2) over ventana_9 as ctrx_quarter_delta_2_lag, ctrx_quarter - lag(ctrx_quarter, 3) over ventana_9 as ctrx_quarter_delta_3_lag, ctrx_quarter - lag(ctrx_quarter, 4) over ventana_9 as ctrx_quarter_delta_4_lag, ctrx_quarter - lag(ctrx_quarter, 5) over ventana_9 as ctrx_quarter_delta_5_lag, ctrx_quarter - lag(ctrx_quarter, 6) over ventana_9 as ctrx_quarter_delta_6_lag, ctrx_quarter - lag(ctrx_quarter, 7) over ventana_9 as ctrx_quarter_delta_7_lag, ctrx_quarter - lag(ctrx_quarter, 8) over ventana_9 as ctrx_quarter_delta_8_lag, ctrx_quarter - lag(ctrx_quarter, 9) over ventana_9 as ctrx_quarter_delta_9_lag, avg(ctrx_quarter) over ventana_9 as ctrx_quarter_media_9, max(ctrx_quarter) over ventana_9 as ctrx_quarter_max_9,  min(ctrx_quarter) over ventana_9 as ctrx_quarter_min_9

, regr_slope(mcaja_ahorro, cliente_antiguedad) over ventana_9 as mcaja_ahorro_slope_6, lag(mcaja_ahorro, 1) over ventana_9 as mcaja_ahorro_lag_1, lag(mcaja_ahorro, 2) over ventana_9 as mcaja_ahorro_lag_2, lag(mcaja_ahorro, 3) over ventana_9 as mcaja_ahorro_lag_3, lag(mcaja_ahorro, 4) over ventana_9 as mcaja_ahorro_lag_4, lag(mcaja_ahorro, 5) over ventana_9 as mcaja_ahorro_lag_5, lag(mcaja_ahorro, 6) over ventana_9 as mcaja_ahorro_lag_6, lag(mcaja_ahorro, 7) over ventana_9 as mcaja_ahorro_lag_7, lag(mcaja_ahorro, 8) over ventana_9 as mcaja_ahorro_lag_8, lag(mcaja_ahorro, 9) over ventana_9 as mcaja_ahorro_lag_9, mcaja_ahorro - lag(mcaja_ahorro, 1) over ventana_9 as mcaja_ahorro_delta_1_lag, mcaja_ahorro - lag(mcaja_ahorro, 2) over ventana_9 as mcaja_ahorro_delta_2_lag, mcaja_ahorro - lag(mcaja_ahorro, 3) over ventana_9 as mcaja_ahorro_delta_3_lag, mcaja_ahorro - lag(mcaja_ahorro, 4) over ventana_9 as mcaja_ahorro_delta_4_lag, mcaja_ahorro - lag(mcaja_ahorro, 5) over ventana_9 as mcaja_ahorro_delta_5_lag, mcaja_ahorro - lag(mcaja_ahorro, 6) over ventana_9 as mcaja_ahorro_delta_6_lag, mcaja_ahorro - lag(mcaja_ahorro, 7) over ventana_9 as mcaja_ahorro_delta_7_lag, mcaja_ahorro - lag(mcaja_ahorro, 8) over ventana_9 as mcaja_ahorro_delta_8_lag, mcaja_ahorro - lag(mcaja_ahorro, 9) over ventana_9 as mcaja_ahorro_delta_9_lag, avg(mcaja_ahorro) over ventana_9 as mcaja_ahorro_media_9, max(mcaja_ahorro) over ventana_9 as mcaja_ahorro_max_9,  min(mcaja_ahorro) over ventana_9 as mcaja_ahorro_min_9

, regr_slope(mcuentas_saldo, cliente_antiguedad) over ventana_9 as mcuentas_saldo_slope_6, lag(mcuentas_saldo, 1) over ventana_9 as mcuentas_saldo_lag_1, lag(mcuentas_saldo, 2) over ventana_9 as mcuentas_saldo_lag_2, lag(mcuentas_saldo, 3) over ventana_9 as mcuentas_saldo_lag_3, lag(mcuentas_saldo, 4) over ventana_9 as mcuentas_saldo_lag_4, lag(mcuentas_saldo, 5) over ventana_9 as mcuentas_saldo_lag_5, lag(mcuentas_saldo, 6) over ventana_9 as mcuentas_saldo_lag_6, lag(mcuentas_saldo, 7) over ventana_9 as mcuentas_saldo_lag_7, lag(mcuentas_saldo, 8) over ventana_9 as mcuentas_saldo_lag_8, lag(mcuentas_saldo, 9) over ventana_9 as mcuentas_saldo_lag_9, mcuentas_saldo - lag(mcuentas_saldo, 1) over ventana_9 as mcuentas_saldo_delta_1_lag, mcuentas_saldo - lag(mcuentas_saldo, 2) over ventana_9 as mcuentas_saldo_delta_2_lag, mcuentas_saldo - lag(mcuentas_saldo, 3) over ventana_9 as mcuentas_saldo_delta_3_lag, mcuentas_saldo - lag(mcuentas_saldo, 4) over ventana_9 as mcuentas_saldo_delta_4_lag, mcuentas_saldo - lag(mcuentas_saldo, 5) over ventana_9 as mcuentas_saldo_delta_5_lag, mcuentas_saldo - lag(mcuentas_saldo, 6) over ventana_9 as mcuentas_saldo_delta_6_lag, mcuentas_saldo - lag(mcuentas_saldo, 7) over ventana_9 as mcuentas_saldo_delta_7_lag, mcuentas_saldo - lag(mcuentas_saldo, 8) over ventana_9 as mcuentas_saldo_delta_8_lag, mcuentas_saldo - lag(mcuentas_saldo, 9) over ventana_9 as mcuentas_saldo_delta_9_lag, avg(mcuentas_saldo) over ventana_9 as mcuentas_saldo_media_9, max(mcuentas_saldo) over ventana_9 as mcuentas_saldo_max_9,  min(mcuentas_saldo) over ventana_9 as mcuentas_saldo_min_9

, regr_slope(mrentabilidad_annual, cliente_antiguedad) over ventana_9 as mrentabilidad_annual_slope_6, lag(mrentabilidad_annual, 1) over ventana_9 as mrentabilidad_annual_lag_1, lag(mrentabilidad_annual, 2) over ventana_9 as mrentabilidad_annual_lag_2, lag(mrentabilidad_annual, 3) over ventana_9 as mrentabilidad_annual_lag_3, lag(mrentabilidad_annual, 4) over ventana_9 as mrentabilidad_annual_lag_4, lag(mrentabilidad_annual, 5) over ventana_9 as mrentabilidad_annual_lag_5, lag(mrentabilidad_annual, 6) over ventana_9 as mrentabilidad_annual_lag_6, lag(mrentabilidad_annual, 7) over ventana_9 as mrentabilidad_annual_lag_7, lag(mrentabilidad_annual, 8) over ventana_9 as mrentabilidad_annual_lag_8, lag(mrentabilidad_annual, 9) over ventana_9 as mrentabilidad_annual_lag_9, mrentabilidad_annual - lag(mrentabilidad_annual, 1) over ventana_9 as mrentabilidad_annual_delta_1_lag, mrentabilidad_annual - lag(mrentabilidad_annual, 2) over ventana_9 as mrentabilidad_annual_delta_2_lag, mrentabilidad_annual - lag(mrentabilidad_annual, 3) over ventana_9 as mrentabilidad_annual_delta_3_lag, mrentabilidad_annual - lag(mrentabilidad_annual, 4) over ventana_9 as mrentabilidad_annual_delta_4_lag, mrentabilidad_annual - lag(mrentabilidad_annual, 5) over ventana_9 as mrentabilidad_annual_delta_5_lag, mrentabilidad_annual - lag(mrentabilidad_annual, 6) over ventana_9 as mrentabilidad_annual_delta_6_lag, mrentabilidad_annual - lag(mrentabilidad_annual, 7) over ventana_9 as mrentabilidad_annual_delta_7_lag, mrentabilidad_annual - lag(mrentabilidad_annual, 8) over ventana_9 as mrentabilidad_annual_delta_8_lag, mrentabilidad_annual - lag(mrentabilidad_annual, 9) over ventana_9 as mrentabilidad_annual_delta_9_lag, avg(mrentabilidad_annual) over ventana_9 as mrentabilidad_annual_media_9, max(mrentabilidad_annual) over ventana_9 as mrentabilidad_annual_max_9,  min(mrentabilidad_annual) over ventana_9 as mrentabilidad_annual_min_9

, regr_slope(cpayroll_trx, cliente_antiguedad) over ventana_9 as cpayroll_trx_slope_6, lag(cpayroll_trx, 1) over ventana_9 as cpayroll_trx_lag_1, lag(cpayroll_trx, 2) over ventana_9 as cpayroll_trx_lag_2, lag(cpayroll_trx, 3) over ventana_9 as cpayroll_trx_lag_3, lag(cpayroll_trx, 4) over ventana_9 as cpayroll_trx_lag_4, lag(cpayroll_trx, 5) over ventana_9 as cpayroll_trx_lag_5, lag(cpayroll_trx, 6) over ventana_9 as cpayroll_trx_lag_6, lag(cpayroll_trx, 7) over ventana_9 as cpayroll_trx_lag_7, lag(cpayroll_trx, 8) over ventana_9 as cpayroll_trx_lag_8, lag(cpayroll_trx, 9) over ventana_9 as cpayroll_trx_lag_9, cpayroll_trx - lag(cpayroll_trx, 1) over ventana_9 as cpayroll_trx_delta_1_lag, cpayroll_trx - lag(cpayroll_trx, 2) over ventana_9 as cpayroll_trx_delta_2_lag, cpayroll_trx - lag(cpayroll_trx, 3) over ventana_9 as cpayroll_trx_delta_3_lag, cpayroll_trx - lag(cpayroll_trx, 4) over ventana_9 as cpayroll_trx_delta_4_lag, cpayroll_trx - lag(cpayroll_trx, 5) over ventana_9 as cpayroll_trx_delta_5_lag, cpayroll_trx - lag(cpayroll_trx, 6) over ventana_9 as cpayroll_trx_delta_6_lag, cpayroll_trx - lag(cpayroll_trx, 7) over ventana_9 as cpayroll_trx_delta_7_lag, cpayroll_trx - lag(cpayroll_trx, 8) over ventana_9 as cpayroll_trx_delta_8_lag, cpayroll_trx - lag(cpayroll_trx, 9) over ventana_9 as cpayroll_trx_delta_9_lag, avg(cpayroll_trx) over ventana_9 as cpayroll_trx_media_9, max(cpayroll_trx) over ventana_9 as cpayroll_trx_max_9,  min(cpayroll_trx) over ventana_9 as cpayroll_trx_min_9

, regr_slope(mpasivos_margen, cliente_antiguedad) over ventana_9 as mpasivos_margen_slope_6, lag(mpasivos_margen, 1) over ventana_9 as mpasivos_margen_lag_1, lag(mpasivos_margen, 2) over ventana_9 as mpasivos_margen_lag_2, lag(mpasivos_margen, 3) over ventana_9 as mpasivos_margen_lag_3, lag(mpasivos_margen, 4) over ventana_9 as mpasivos_margen_lag_4, lag(mpasivos_margen, 5) over ventana_9 as mpasivos_margen_lag_5, lag(mpasivos_margen, 6) over ventana_9 as mpasivos_margen_lag_6, lag(mpasivos_margen, 7) over ventana_9 as mpasivos_margen_lag_7, lag(mpasivos_margen, 8) over ventana_9 as mpasivos_margen_lag_8, lag(mpasivos_margen, 9) over ventana_9 as mpasivos_margen_lag_9, mpasivos_margen - lag(mpasivos_margen, 1) over ventana_9 as mpasivos_margen_delta_1_lag, mpasivos_margen - lag(mpasivos_margen, 2) over ventana_9 as mpasivos_margen_delta_2_lag, mpasivos_margen - lag(mpasivos_margen, 3) over ventana_9 as mpasivos_margen_delta_3_lag, mpasivos_margen - lag(mpasivos_margen, 4) over ventana_9 as mpasivos_margen_delta_4_lag, mpasivos_margen - lag(mpasivos_margen, 5) over ventana_9 as mpasivos_margen_delta_5_lag, mpasivos_margen - lag(mpasivos_margen, 6) over ventana_9 as mpasivos_margen_delta_6_lag, mpasivos_margen - lag(mpasivos_margen, 7) over ventana_9 as mpasivos_margen_delta_7_lag, mpasivos_margen - lag(mpasivos_margen, 8) over ventana_9 as mpasivos_margen_delta_8_lag, mpasivos_margen - lag(mpasivos_margen, 9) over ventana_9 as mpasivos_margen_delta_9_lag, avg(mpasivos_margen) over ventana_9 as mpasivos_margen_media_9, max(mpasivos_margen) over ventana_9 as mpasivos_margen_max_9,  min(mpasivos_margen) over ventana_9 as mpasivos_margen_min_9

, regr_slope(mprestamos_personales, cliente_antiguedad) over ventana_9 as mprestamos_personales_slope_6, lag(mprestamos_personales, 1) over ventana_9 as mprestamos_personales_lag_1, lag(mprestamos_personales, 2) over ventana_9 as mprestamos_personales_lag_2, lag(mprestamos_personales, 3) over ventana_9 as mprestamos_personales_lag_3, lag(mprestamos_personales, 4) over ventana_9 as mprestamos_personales_lag_4, lag(mprestamos_personales, 5) over ventana_9 as mprestamos_personales_lag_5, lag(mprestamos_personales, 6) over ventana_9 as mprestamos_personales_lag_6, lag(mprestamos_personales, 7) over ventana_9 as mprestamos_personales_lag_7, lag(mprestamos_personales, 8) over ventana_9 as mprestamos_personales_lag_8, lag(mprestamos_personales, 9) over ventana_9 as mprestamos_personales_lag_9, mprestamos_personales - lag(mprestamos_personales, 1) over ventana_9 as mprestamos_personales_delta_1_lag, mprestamos_personales - lag(mprestamos_personales, 2) over ventana_9 as mprestamos_personales_delta_2_lag, mprestamos_personales - lag(mprestamos_personales, 3) over ventana_9 as mprestamos_personales_delta_3_lag, mprestamos_personales - lag(mprestamos_personales, 4) over ventana_9 as mprestamos_personales_delta_4_lag, mprestamos_personales - lag(mprestamos_personales, 5) over ventana_9 as mprestamos_personales_delta_5_lag, mprestamos_personales - lag(mprestamos_personales, 6) over ventana_9 as mprestamos_personales_delta_6_lag, mprestamos_personales - lag(mprestamos_personales, 7) over ventana_9 as mprestamos_personales_delta_7_lag, mprestamos_personales - lag(mprestamos_personales, 8) over ventana_9 as mprestamos_personales_delta_8_lag, mprestamos_personales - lag(mprestamos_personales, 9) over ventana_9 as mprestamos_personales_delta_9_lag, avg(mprestamos_personales) over ventana_9 as mprestamos_personales_media_9, max(mprestamos_personales) over ventana_9 as mprestamos_personales_max_9,  min(mprestamos_personales) over ventana_9 as mprestamos_personales_min_9

, regr_slope(mcuenta_corriente, cliente_antiguedad) over ventana_9 as mcuenta_corriente_slope_6, lag(mcuenta_corriente, 1) over ventana_9 as mcuenta_corriente_lag_1, lag(mcuenta_corriente, 2) over ventana_9 as mcuenta_corriente_lag_2, lag(mcuenta_corriente, 3) over ventana_9 as mcuenta_corriente_lag_3, lag(mcuenta_corriente, 4) over ventana_9 as mcuenta_corriente_lag_4, lag(mcuenta_corriente, 5) over ventana_9 as mcuenta_corriente_lag_5, lag(mcuenta_corriente, 6) over ventana_9 as mcuenta_corriente_lag_6, lag(mcuenta_corriente, 7) over ventana_9 as mcuenta_corriente_lag_7, lag(mcuenta_corriente, 8) over ventana_9 as mcuenta_corriente_lag_8, lag(mcuenta_corriente, 9) over ventana_9 as mcuenta_corriente_lag_9, mcuenta_corriente - lag(mcuenta_corriente, 1) over ventana_9 as mcuenta_corriente_delta_1_lag, mcuenta_corriente - lag(mcuenta_corriente, 2) over ventana_9 as mcuenta_corriente_delta_2_lag, mcuenta_corriente - lag(mcuenta_corriente, 3) over ventana_9 as mcuenta_corriente_delta_3_lag, mcuenta_corriente - lag(mcuenta_corriente, 4) over ventana_9 as mcuenta_corriente_delta_4_lag, mcuenta_corriente - lag(mcuenta_corriente, 5) over ventana_9 as mcuenta_corriente_delta_5_lag, mcuenta_corriente - lag(mcuenta_corriente, 6) over ventana_9 as mcuenta_corriente_delta_6_lag, mcuenta_corriente - lag(mcuenta_corriente, 7) over ventana_9 as mcuenta_corriente_delta_7_lag, mcuenta_corriente - lag(mcuenta_corriente, 8) over ventana_9 as mcuenta_corriente_delta_8_lag, mcuenta_corriente - lag(mcuenta_corriente, 9) over ventana_9 as mcuenta_corriente_delta_9_lag, avg(mcuenta_corriente) over ventana_9 as mcuenta_corriente_media_9, max(mcuenta_corriente) over ventana_9 as mcuenta_corriente_max_9,  min(mcuenta_corriente) over ventana_9 as mcuenta_corriente_min_9

, regr_slope(cliente_antiguedad, cliente_antiguedad) over ventana_9 as cliente_antiguedad_slope_6, lag(cliente_antiguedad, 1) over ventana_9 as cliente_antiguedad_lag_1, lag(cliente_antiguedad, 2) over ventana_9 as cliente_antiguedad_lag_2, lag(cliente_antiguedad, 3) over ventana_9 as cliente_antiguedad_lag_3, lag(cliente_antiguedad, 4) over ventana_9 as cliente_antiguedad_lag_4, lag(cliente_antiguedad, 5) over ventana_9 as cliente_antiguedad_lag_5, lag(cliente_antiguedad, 6) over ventana_9 as cliente_antiguedad_lag_6, lag(cliente_antiguedad, 7) over ventana_9 as cliente_antiguedad_lag_7, lag(cliente_antiguedad, 8) over ventana_9 as cliente_antiguedad_lag_8, lag(cliente_antiguedad, 9) over ventana_9 as cliente_antiguedad_lag_9, cliente_antiguedad - lag(cliente_antiguedad, 1) over ventana_9 as cliente_antiguedad_delta_1_lag, cliente_antiguedad - lag(cliente_antiguedad, 2) over ventana_9 as cliente_antiguedad_delta_2_lag, cliente_antiguedad - lag(cliente_antiguedad, 3) over ventana_9 as cliente_antiguedad_delta_3_lag, cliente_antiguedad - lag(cliente_antiguedad, 4) over ventana_9 as cliente_antiguedad_delta_4_lag, cliente_antiguedad - lag(cliente_antiguedad, 5) over ventana_9 as cliente_antiguedad_delta_5_lag, cliente_antiguedad - lag(cliente_antiguedad, 6) over ventana_9 as cliente_antiguedad_delta_6_lag, cliente_antiguedad - lag(cliente_antiguedad, 7) over ventana_9 as cliente_antiguedad_delta_7_lag, cliente_antiguedad - lag(cliente_antiguedad, 8) over ventana_9 as cliente_antiguedad_delta_8_lag, cliente_antiguedad - lag(cliente_antiguedad, 9) over ventana_9 as cliente_antiguedad_delta_9_lag, avg(cliente_antiguedad) over ventana_9 as cliente_antiguedad_media_9, max(cliente_antiguedad) over ventana_9 as cliente_antiguedad_max_9,  min(cliente_antiguedad) over ventana_9 as cliente_antiguedad_min_9

, regr_slope(mactivos_margen, cliente_antiguedad) over ventana_9 as mactivos_margen_slope_6, lag(mactivos_margen, 1) over ventana_9 as mactivos_margen_lag_1, lag(mactivos_margen, 2) over ventana_9 as mactivos_margen_lag_2, lag(mactivos_margen, 3) over ventana_9 as mactivos_margen_lag_3, lag(mactivos_margen, 4) over ventana_9 as mactivos_margen_lag_4, lag(mactivos_margen, 5) over ventana_9 as mactivos_margen_lag_5, lag(mactivos_margen, 6) over ventana_9 as mactivos_margen_lag_6, lag(mactivos_margen, 7) over ventana_9 as mactivos_margen_lag_7, lag(mactivos_margen, 8) over ventana_9 as mactivos_margen_lag_8, lag(mactivos_margen, 9) over ventana_9 as mactivos_margen_lag_9, mactivos_margen - lag(mactivos_margen, 1) over ventana_9 as mactivos_margen_delta_1_lag, mactivos_margen - lag(mactivos_margen, 2) over ventana_9 as mactivos_margen_delta_2_lag, mactivos_margen - lag(mactivos_margen, 3) over ventana_9 as mactivos_margen_delta_3_lag, mactivos_margen - lag(mactivos_margen, 4) over ventana_9 as mactivos_margen_delta_4_lag, mactivos_margen - lag(mactivos_margen, 5) over ventana_9 as mactivos_margen_delta_5_lag, mactivos_margen - lag(mactivos_margen, 6) over ventana_9 as mactivos_margen_delta_6_lag, mactivos_margen - lag(mactivos_margen, 7) over ventana_9 as mactivos_margen_delta_7_lag, mactivos_margen - lag(mactivos_margen, 8) over ventana_9 as mactivos_margen_delta_8_lag, mactivos_margen - lag(mactivos_margen, 9) over ventana_9 as mactivos_margen_delta_9_lag, avg(mactivos_margen) over ventana_9 as mactivos_margen_media_9, max(mactivos_margen) over ventana_9 as mactivos_margen_max_9,  min(mactivos_margen) over ventana_9 as mactivos_margen_min_9

, regr_slope(chomebanking_transacciones, cliente_antiguedad) over ventana_9 as chomebanking_transacciones_slope_6, lag(chomebanking_transacciones, 1) over ventana_9 as chomebanking_transacciones_lag_1, lag(chomebanking_transacciones, 2) over ventana_9 as chomebanking_transacciones_lag_2, lag(chomebanking_transacciones, 3) over ventana_9 as chomebanking_transacciones_lag_3, lag(chomebanking_transacciones, 4) over ventana_9 as chomebanking_transacciones_lag_4, lag(chomebanking_transacciones, 5) over ventana_9 as chomebanking_transacciones_lag_5, lag(chomebanking_transacciones, 6) over ventana_9 as chomebanking_transacciones_lag_6, lag(chomebanking_transacciones, 7) over ventana_9 as chomebanking_transacciones_lag_7, lag(chomebanking_transacciones, 8) over ventana_9 as chomebanking_transacciones_lag_8, lag(chomebanking_transacciones, 9) over ventana_9 as chomebanking_transacciones_lag_9, chomebanking_transacciones - lag(chomebanking_transacciones, 1) over ventana_9 as chomebanking_transacciones_delta_1_lag, chomebanking_transacciones - lag(chomebanking_transacciones, 2) over ventana_9 as chomebanking_transacciones_delta_2_lag, chomebanking_transacciones - lag(chomebanking_transacciones, 3) over ventana_9 as chomebanking_transacciones_delta_3_lag, chomebanking_transacciones - lag(chomebanking_transacciones, 4) over ventana_9 as chomebanking_transacciones_delta_4_lag, chomebanking_transacciones - lag(chomebanking_transacciones, 5) over ventana_9 as chomebanking_transacciones_delta_5_lag, chomebanking_transacciones - lag(chomebanking_transacciones, 6) over ventana_9 as chomebanking_transacciones_delta_6_lag, chomebanking_transacciones - lag(chomebanking_transacciones, 7) over ventana_9 as chomebanking_transacciones_delta_7_lag, chomebanking_transacciones - lag(chomebanking_transacciones, 8) over ventana_9 as chomebanking_transacciones_delta_8_lag, chomebanking_transacciones - lag(chomebanking_transacciones, 9) over ventana_9 as chomebanking_transacciones_delta_9_lag, avg(chomebanking_transacciones) over ventana_9 as chomebanking_transacciones_media_9, max(chomebanking_transacciones) over ventana_9 as chomebanking_transacciones_max_9,  min(chomebanking_transacciones) over ventana_9 as chomebanking_transacciones_min_9


In [56]:
sql_query = f"""
SELECT
  *
  {nuevos_features}
FROM competencia_02
WINDOW ventana_9 AS (PARTITION BY numero_de_cliente ORDER BY foto_mes ROWS BETWEEN 9 PRECEDING AND CURRENT ROW)
"""
print (sql_query)

SELECT
  *

, regr_slope(ctrx_quarter, cliente_antiguedad) over ventana_9 as ctrx_quarter_slope_6, lag(ctrx_quarter, 1) over ventana_9 as ctrx_quarter_lag_1, lag(ctrx_quarter, 2) over ventana_9 as ctrx_quarter_lag_2, lag(ctrx_quarter, 3) over ventana_9 as ctrx_quarter_lag_3, lag(ctrx_quarter, 4) over ventana_9 as ctrx_quarter_lag_4, lag(ctrx_quarter, 5) over ventana_9 as ctrx_quarter_lag_5, lag(ctrx_quarter, 6) over ventana_9 as ctrx_quarter_lag_6, lag(ctrx_quarter, 7) over ventana_9 as ctrx_quarter_lag_7, lag(ctrx_quarter, 8) over ventana_9 as ctrx_quarter_lag_8, lag(ctrx_quarter, 9) over ventana_9 as ctrx_quarter_lag_9, ctrx_quarter - lag(ctrx_quarter, 1) over ventana_9 as ctrx_quarter_delta_1_lag, ctrx_quarter - lag(ctrx_quarter, 2) over ventana_9 as ctrx_quarter_delta_2_lag, ctrx_quarter - lag(ctrx_quarter, 3) over ventana_9 as ctrx_quarter_delta_3_lag, ctrx_quarter - lag(ctrx_quarter, 4) over ventana_9 as ctrx_quarter_delta_4_lag, ctrx_quarter - lag(ctrx_quarter, 5) over ventana_9 as ctrx_quarter_delta_5_lag, ctrx_quarter - lag(ctrx_quarter, 6) over ventana_9 as ctrx_quarter_delta_6_lag, ctrx_quarter - lag(ctrx_quarter, 7) over ventana_9 as ctrx_quarter_delta_7_lag, ctrx_quarter - lag(ctrx_quarter, 8) over ventana_9 as ctrx_quarter_delta_8_lag, ctrx_quarter - lag(ctrx_quarter, 9) over ventana_9 as ctrx_quarter_delta_9_lag, avg(ctrx_quarter) over ventana_9 as ctrx_quarter_media_9, max(ctrx_quarter) over ventana_9 as ctrx_quarter_max_9,  min(ctrx_quarter) over ventana_9 as ctrx_quarter_min_9

, regr_slope(mcaja_ahorro, cliente_antiguedad) over ventana_9 as mcaja_ahorro_slope_6, lag(mcaja_ahorro, 1) over ventana_9 as mcaja_ahorro_lag_1, lag(mcaja_ahorro, 2) over ventana_9 as mcaja_ahorro_lag_2, lag(mcaja_ahorro, 3) over ventana_9 as mcaja_ahorro_lag_3, lag(mcaja_ahorro, 4) over ventana_9 as mcaja_ahorro_lag_4, lag(mcaja_ahorro, 5) over ventana_9 as mcaja_ahorro_lag_5, lag(mcaja_ahorro, 6) over ventana_9 as mcaja_ahorro_lag_6, lag(mcaja_ahorro, 7) over ventana_9 as mcaja_ahorro_lag_7, lag(mcaja_ahorro, 8) over ventana_9 as mcaja_ahorro_lag_8, lag(mcaja_ahorro, 9) over ventana_9 as mcaja_ahorro_lag_9, mcaja_ahorro - lag(mcaja_ahorro, 1) over ventana_9 as mcaja_ahorro_delta_1_lag, mcaja_ahorro - lag(mcaja_ahorro, 2) over ventana_9 as mcaja_ahorro_delta_2_lag, mcaja_ahorro - lag(mcaja_ahorro, 3) over ventana_9 as mcaja_ahorro_delta_3_lag, mcaja_ahorro - lag(mcaja_ahorro, 4) over ventana_9 as mcaja_ahorro_delta_4_lag, mcaja_ahorro - lag(mcaja_ahorro, 5) over ventana_9 as mcaja_ahorro_delta_5_lag, mcaja_ahorro - lag(mcaja_ahorro, 6) over ventana_9 as mcaja_ahorro_delta_6_lag, mcaja_ahorro - lag(mcaja_ahorro, 7) over ventana_9 as mcaja_ahorro_delta_7_lag, mcaja_ahorro - lag(mcaja_ahorro, 8) over ventana_9 as mcaja_ahorro_delta_8_lag, mcaja_ahorro - lag(mcaja_ahorro, 9) over ventana_9 as mcaja_ahorro_delta_9_lag, avg(mcaja_ahorro) over ventana_9 as mcaja_ahorro_media_9, max(mcaja_ahorro) over ventana_9 as mcaja_ahorro_max_9,  min(mcaja_ahorro) over ventana_9 as mcaja_ahorro_min_9

, regr_slope(mcuentas_saldo, cliente_antiguedad) over ventana_9 as mcuentas_saldo_slope_6, lag(mcuentas_saldo, 1) over ventana_9 as mcuentas_saldo_lag_1, lag(mcuentas_saldo, 2) over ventana_9 as mcuentas_saldo_lag_2, lag(mcuentas_saldo, 3) over ventana_9 as mcuentas_saldo_lag_3, lag(mcuentas_saldo, 4) over ventana_9 as mcuentas_saldo_lag_4, lag(mcuentas_saldo, 5) over ventana_9 as mcuentas_saldo_lag_5, lag(mcuentas_saldo, 6) over ventana_9 as mcuentas_saldo_lag_6, lag(mcuentas_saldo, 7) over ventana_9 as mcuentas_saldo_lag_7, lag(mcuentas_saldo, 8) over ventana_9 as mcuentas_saldo_lag_8, lag(mcuentas_saldo, 9) over ventana_9 as mcuentas_saldo_lag_9, mcuentas_saldo - lag(mcuentas_saldo, 1) over ventana_9 as mcuentas_saldo_delta_1_lag, mcuentas_saldo - lag(mcuentas_saldo, 2) over ventana_9 as mcuentas_saldo_delta_2_lag, mcuentas_saldo - lag(mcuentas_saldo, 3) over ventana_9 as mcuentas_saldo_delta_3_lag, mcuentas_saldo - lag(mcuentas_saldo, 4) over ventana_9 as mcuentas_saldo_delta_4_lag, mcuentas_saldo - lag(mcuentas_saldo, 5) over ventana_9 as mcuentas_saldo_delta_5_lag, mcuentas_saldo - lag(mcuentas_saldo, 6) over ventana_9 as mcuentas_saldo_delta_6_lag, mcuentas_saldo - lag(mcuentas_saldo, 7) over ventana_9 as mcuentas_saldo_delta_7_lag, mcuentas_saldo - lag(mcuentas_saldo, 8) over ventana_9 as mcuentas_saldo_delta_8_lag, mcuentas_saldo - lag(mcuentas_saldo, 9) over ventana_9 as mcuentas_saldo_delta_9_lag, avg(mcuentas_saldo) over ventana_9 as mcuentas_saldo_media_9, max(mcuentas_saldo) over ventana_9 as mcuentas_saldo_max_9,  min(mcuentas_saldo) over ventana_9 as mcuentas_saldo_min_9

, regr_slope(mrentabilidad_annual, cliente_antiguedad) over ventana_9 as mrentabilidad_annual_slope_6, lag(mrentabilidad_annual, 1) over ventana_9 as mrentabilidad_annual_lag_1, lag(mrentabilidad_annual, 2) over ventana_9 as mrentabilidad_annual_lag_2, lag(mrentabilidad_annual, 3) over ventana_9 as mrentabilidad_annual_lag_3, lag(mrentabilidad_annual, 4) over ventana_9 as mrentabilidad_annual_lag_4, lag(mrentabilidad_annual, 5) over ventana_9 as mrentabilidad_annual_lag_5, lag(mrentabilidad_annual, 6) over ventana_9 as mrentabilidad_annual_lag_6, lag(mrentabilidad_annual, 7) over ventana_9 as mrentabilidad_annual_lag_7, lag(mrentabilidad_annual, 8) over ventana_9 as mrentabilidad_annual_lag_8, lag(mrentabilidad_annual, 9) over ventana_9 as mrentabilidad_annual_lag_9, mrentabilidad_annual - lag(mrentabilidad_annual, 1) over ventana_9 as mrentabilidad_annual_delta_1_lag, mrentabilidad_annual - lag(mrentabilidad_annual, 2) over ventana_9 as mrentabilidad_annual_delta_2_lag, mrentabilidad_annual - lag(mrentabilidad_annual, 3) over ventana_9 as mrentabilidad_annual_delta_3_lag, mrentabilidad_annual - lag(mrentabilidad_annual, 4) over ventana_9 as mrentabilidad_annual_delta_4_lag, mrentabilidad_annual - lag(mrentabilidad_annual, 5) over ventana_9 as mrentabilidad_annual_delta_5_lag, mrentabilidad_annual - lag(mrentabilidad_annual, 6) over ventana_9 as mrentabilidad_annual_delta_6_lag, mrentabilidad_annual - lag(mrentabilidad_annual, 7) over ventana_9 as mrentabilidad_annual_delta_7_lag, mrentabilidad_annual - lag(mrentabilidad_annual, 8) over ventana_9 as mrentabilidad_annual_delta_8_lag, mrentabilidad_annual - lag(mrentabilidad_annual, 9) over ventana_9 as mrentabilidad_annual_delta_9_lag, avg(mrentabilidad_annual) over ventana_9 as mrentabilidad_annual_media_9, max(mrentabilidad_annual) over ventana_9 as mrentabilidad_annual_max_9,  min(mrentabilidad_annual) over ventana_9 as mrentabilidad_annual_min_9

, regr_slope(cpayroll_trx, cliente_antiguedad) over ventana_9 as cpayroll_trx_slope_6, lag(cpayroll_trx, 1) over ventana_9 as cpayroll_trx_lag_1, lag(cpayroll_trx, 2) over ventana_9 as cpayroll_trx_lag_2, lag(cpayroll_trx, 3) over ventana_9 as cpayroll_trx_lag_3, lag(cpayroll_trx, 4) over ventana_9 as cpayroll_trx_lag_4, lag(cpayroll_trx, 5) over ventana_9 as cpayroll_trx_lag_5, lag(cpayroll_trx, 6) over ventana_9 as cpayroll_trx_lag_6, lag(cpayroll_trx, 7) over ventana_9 as cpayroll_trx_lag_7, lag(cpayroll_trx, 8) over ventana_9 as cpayroll_trx_lag_8, lag(cpayroll_trx, 9) over ventana_9 as cpayroll_trx_lag_9, cpayroll_trx - lag(cpayroll_trx, 1) over ventana_9 as cpayroll_trx_delta_1_lag, cpayroll_trx - lag(cpayroll_trx, 2) over ventana_9 as cpayroll_trx_delta_2_lag, cpayroll_trx - lag(cpayroll_trx, 3) over ventana_9 as cpayroll_trx_delta_3_lag, cpayroll_trx - lag(cpayroll_trx, 4) over ventana_9 as cpayroll_trx_delta_4_lag, cpayroll_trx - lag(cpayroll_trx, 5) over ventana_9 as cpayroll_trx_delta_5_lag, cpayroll_trx - lag(cpayroll_trx, 6) over ventana_9 as cpayroll_trx_delta_6_lag, cpayroll_trx - lag(cpayroll_trx, 7) over ventana_9 as cpayroll_trx_delta_7_lag, cpayroll_trx - lag(cpayroll_trx, 8) over ventana_9 as cpayroll_trx_delta_8_lag, cpayroll_trx - lag(cpayroll_trx, 9) over ventana_9 as cpayroll_trx_delta_9_lag, avg(cpayroll_trx) over ventana_9 as cpayroll_trx_media_9, max(cpayroll_trx) over ventana_9 as cpayroll_trx_max_9,  min(cpayroll_trx) over ventana_9 as cpayroll_trx_min_9

, regr_slope(mpasivos_margen, cliente_antiguedad) over ventana_9 as mpasivos_margen_slope_6, lag(mpasivos_margen, 1) over ventana_9 as mpasivos_margen_lag_1, lag(mpasivos_margen, 2) over ventana_9 as mpasivos_margen_lag_2, lag(mpasivos_margen, 3) over ventana_9 as mpasivos_margen_lag_3, lag(mpasivos_margen, 4) over ventana_9 as mpasivos_margen_lag_4, lag(mpasivos_margen, 5) over ventana_9 as mpasivos_margen_lag_5, lag(mpasivos_margen, 6) over ventana_9 as mpasivos_margen_lag_6, lag(mpasivos_margen, 7) over ventana_9 as mpasivos_margen_lag_7, lag(mpasivos_margen, 8) over ventana_9 as mpasivos_margen_lag_8, lag(mpasivos_margen, 9) over ventana_9 as mpasivos_margen_lag_9, mpasivos_margen - lag(mpasivos_margen, 1) over ventana_9 as mpasivos_margen_delta_1_lag, mpasivos_margen - lag(mpasivos_margen, 2) over ventana_9 as mpasivos_margen_delta_2_lag, mpasivos_margen - lag(mpasivos_margen, 3) over ventana_9 as mpasivos_margen_delta_3_lag, mpasivos_margen - lag(mpasivos_margen, 4) over ventana_9 as mpasivos_margen_delta_4_lag, mpasivos_margen - lag(mpasivos_margen, 5) over ventana_9 as mpasivos_margen_delta_5_lag, mpasivos_margen - lag(mpasivos_margen, 6) over ventana_9 as mpasivos_margen_delta_6_lag, mpasivos_margen - lag(mpasivos_margen, 7) over ventana_9 as mpasivos_margen_delta_7_lag, mpasivos_margen - lag(mpasivos_margen, 8) over ventana_9 as mpasivos_margen_delta_8_lag, mpasivos_margen - lag(mpasivos_margen, 9) over ventana_9 as mpasivos_margen_delta_9_lag, avg(mpasivos_margen) over ventana_9 as mpasivos_margen_media_9, max(mpasivos_margen) over ventana_9 as mpasivos_margen_max_9,  min(mpasivos_margen) over ventana_9 as mpasivos_margen_min_9

, regr_slope(mprestamos_personales, cliente_antiguedad) over ventana_9 as mprestamos_personales_slope_6, lag(mprestamos_personales, 1) over ventana_9 as mprestamos_personales_lag_1, lag(mprestamos_personales, 2) over ventana_9 as mprestamos_personales_lag_2, lag(mprestamos_personales, 3) over ventana_9 as mprestamos_personales_lag_3, lag(mprestamos_personales, 4) over ventana_9 as mprestamos_personales_lag_4, lag(mprestamos_personales, 5) over ventana_9 as mprestamos_personales_lag_5, lag(mprestamos_personales, 6) over ventana_9 as mprestamos_personales_lag_6, lag(mprestamos_personales, 7) over ventana_9 as mprestamos_personales_lag_7, lag(mprestamos_personales, 8) over ventana_9 as mprestamos_personales_lag_8, lag(mprestamos_personales, 9) over ventana_9 as mprestamos_personales_lag_9, mprestamos_personales - lag(mprestamos_personales, 1) over ventana_9 as mprestamos_personales_delta_1_lag, mprestamos_personales - lag(mprestamos_personales, 2) over ventana_9 as mprestamos_personales_delta_2_lag, mprestamos_personales - lag(mprestamos_personales, 3) over ventana_9 as mprestamos_personales_delta_3_lag, mprestamos_personales - lag(mprestamos_personales, 4) over ventana_9 as mprestamos_personales_delta_4_lag, mprestamos_personales - lag(mprestamos_personales, 5) over ventana_9 as mprestamos_personales_delta_5_lag, mprestamos_personales - lag(mprestamos_personales, 6) over ventana_9 as mprestamos_personales_delta_6_lag, mprestamos_personales - lag(mprestamos_personales, 7) over ventana_9 as mprestamos_personales_delta_7_lag, mprestamos_personales - lag(mprestamos_personales, 8) over ventana_9 as mprestamos_personales_delta_8_lag, mprestamos_personales - lag(mprestamos_personales, 9) over ventana_9 as mprestamos_personales_delta_9_lag, avg(mprestamos_personales) over ventana_9 as mprestamos_personales_media_9, max(mprestamos_personales) over ventana_9 as mprestamos_personales_max_9,  min(mprestamos_personales) over ventana_9 as mprestamos_personales_min_9

, regr_slope(mcuenta_corriente, cliente_antiguedad) over ventana_9 as mcuenta_corriente_slope_6, lag(mcuenta_corriente, 1) over ventana_9 as mcuenta_corriente_lag_1, lag(mcuenta_corriente, 2) over ventana_9 as mcuenta_corriente_lag_2, lag(mcuenta_corriente, 3) over ventana_9 as mcuenta_corriente_lag_3, lag(mcuenta_corriente, 4) over ventana_9 as mcuenta_corriente_lag_4, lag(mcuenta_corriente, 5) over ventana_9 as mcuenta_corriente_lag_5, lag(mcuenta_corriente, 6) over ventana_9 as mcuenta_corriente_lag_6, lag(mcuenta_corriente, 7) over ventana_9 as mcuenta_corriente_lag_7, lag(mcuenta_corriente, 8) over ventana_9 as mcuenta_corriente_lag_8, lag(mcuenta_corriente, 9) over ventana_9 as mcuenta_corriente_lag_9, mcuenta_corriente - lag(mcuenta_corriente, 1) over ventana_9 as mcuenta_corriente_delta_1_lag, mcuenta_corriente - lag(mcuenta_corriente, 2) over ventana_9 as mcuenta_corriente_delta_2_lag, mcuenta_corriente - lag(mcuenta_corriente, 3) over ventana_9 as mcuenta_corriente_delta_3_lag, mcuenta_corriente - lag(mcuenta_corriente, 4) over ventana_9 as mcuenta_corriente_delta_4_lag, mcuenta_corriente - lag(mcuenta_corriente, 5) over ventana_9 as mcuenta_corriente_delta_5_lag, mcuenta_corriente - lag(mcuenta_corriente, 6) over ventana_9 as mcuenta_corriente_delta_6_lag, mcuenta_corriente - lag(mcuenta_corriente, 7) over ventana_9 as mcuenta_corriente_delta_7_lag, mcuenta_corriente - lag(mcuenta_corriente, 8) over ventana_9 as mcuenta_corriente_delta_8_lag, mcuenta_corriente - lag(mcuenta_corriente, 9) over ventana_9 as mcuenta_corriente_delta_9_lag, avg(mcuenta_corriente) over ventana_9 as mcuenta_corriente_media_9, max(mcuenta_corriente) over ventana_9 as mcuenta_corriente_max_9,  min(mcuenta_corriente) over ventana_9 as mcuenta_corriente_min_9

, regr_slope(cliente_antiguedad, cliente_antiguedad) over ventana_9 as cliente_antiguedad_slope_6, lag(cliente_antiguedad, 1) over ventana_9 as cliente_antiguedad_lag_1, lag(cliente_antiguedad, 2) over ventana_9 as cliente_antiguedad_lag_2, lag(cliente_antiguedad, 3) over ventana_9 as cliente_antiguedad_lag_3, lag(cliente_antiguedad, 4) over ventana_9 as cliente_antiguedad_lag_4, lag(cliente_antiguedad, 5) over ventana_9 as cliente_antiguedad_lag_5, lag(cliente_antiguedad, 6) over ventana_9 as cliente_antiguedad_lag_6, lag(cliente_antiguedad, 7) over ventana_9 as cliente_antiguedad_lag_7, lag(cliente_antiguedad, 8) over ventana_9 as cliente_antiguedad_lag_8, lag(cliente_antiguedad, 9) over ventana_9 as cliente_antiguedad_lag_9, cliente_antiguedad - lag(cliente_antiguedad, 1) over ventana_9 as cliente_antiguedad_delta_1_lag, cliente_antiguedad - lag(cliente_antiguedad, 2) over ventana_9 as cliente_antiguedad_delta_2_lag, cliente_antiguedad - lag(cliente_antiguedad, 3) over ventana_9 as cliente_antiguedad_delta_3_lag, cliente_antiguedad - lag(cliente_antiguedad, 4) over ventana_9 as cliente_antiguedad_delta_4_lag, cliente_antiguedad - lag(cliente_antiguedad, 5) over ventana_9 as cliente_antiguedad_delta_5_lag, cliente_antiguedad - lag(cliente_antiguedad, 6) over ventana_9 as cliente_antiguedad_delta_6_lag, cliente_antiguedad - lag(cliente_antiguedad, 7) over ventana_9 as cliente_antiguedad_delta_7_lag, cliente_antiguedad - lag(cliente_antiguedad, 8) over ventana_9 as cliente_antiguedad_delta_8_lag, cliente_antiguedad - lag(cliente_antiguedad, 9) over ventana_9 as cliente_antiguedad_delta_9_lag, avg(cliente_antiguedad) over ventana_9 as cliente_antiguedad_media_9, max(cliente_antiguedad) over ventana_9 as cliente_antiguedad_max_9,  min(cliente_antiguedad) over ventana_9 as cliente_antiguedad_min_9

, regr_slope(mactivos_margen, cliente_antiguedad) over ventana_9 as mactivos_margen_slope_6, lag(mactivos_margen, 1) over ventana_9 as mactivos_margen_lag_1, lag(mactivos_margen, 2) over ventana_9 as mactivos_margen_lag_2, lag(mactivos_margen, 3) over ventana_9 as mactivos_margen_lag_3, lag(mactivos_margen, 4) over ventana_9 as mactivos_margen_lag_4, lag(mactivos_margen, 5) over ventana_9 as mactivos_margen_lag_5, lag(mactivos_margen, 6) over ventana_9 as mactivos_margen_lag_6, lag(mactivos_margen, 7) over ventana_9 as mactivos_margen_lag_7, lag(mactivos_margen, 8) over ventana_9 as mactivos_margen_lag_8, lag(mactivos_margen, 9) over ventana_9 as mactivos_margen_lag_9, mactivos_margen - lag(mactivos_margen, 1) over ventana_9 as mactivos_margen_delta_1_lag, mactivos_margen - lag(mactivos_margen, 2) over ventana_9 as mactivos_margen_delta_2_lag, mactivos_margen - lag(mactivos_margen, 3) over ventana_9 as mactivos_margen_delta_3_lag, mactivos_margen - lag(mactivos_margen, 4) over ventana_9 as mactivos_margen_delta_4_lag, mactivos_margen - lag(mactivos_margen, 5) over ventana_9 as mactivos_margen_delta_5_lag, mactivos_margen - lag(mactivos_margen, 6) over ventana_9 as mactivos_margen_delta_6_lag, mactivos_margen - lag(mactivos_margen, 7) over ventana_9 as mactivos_margen_delta_7_lag, mactivos_margen - lag(mactivos_margen, 8) over ventana_9 as mactivos_margen_delta_8_lag, mactivos_margen - lag(mactivos_margen, 9) over ventana_9 as mactivos_margen_delta_9_lag, avg(mactivos_margen) over ventana_9 as mactivos_margen_media_9, max(mactivos_margen) over ventana_9 as mactivos_margen_max_9,  min(mactivos_margen) over ventana_9 as mactivos_margen_min_9

, regr_slope(chomebanking_transacciones, cliente_antiguedad) over ventana_9 as chomebanking_transacciones_slope_6, lag(chomebanking_transacciones, 1) over ventana_9 as chomebanking_transacciones_lag_1, lag(chomebanking_transacciones, 2) over ventana_9 as chomebanking_transacciones_lag_2, lag(chomebanking_transacciones, 3) over ventana_9 as chomebanking_transacciones_lag_3, lag(chomebanking_transacciones, 4) over ventana_9 as chomebanking_transacciones_lag_4, lag(chomebanking_transacciones, 5) over ventana_9 as chomebanking_transacciones_lag_5, lag(chomebanking_transacciones, 6) over ventana_9 as chomebanking_transacciones_lag_6, lag(chomebanking_transacciones, 7) over ventana_9 as chomebanking_transacciones_lag_7, lag(chomebanking_transacciones, 8) over ventana_9 as chomebanking_transacciones_lag_8, lag(chomebanking_transacciones, 9) over ventana_9 as chomebanking_transacciones_lag_9, chomebanking_transacciones - lag(chomebanking_transacciones, 1) over ventana_9 as chomebanking_transacciones_delta_1_lag, chomebanking_transacciones - lag(chomebanking_transacciones, 2) over ventana_9 as chomebanking_transacciones_delta_2_lag, chomebanking_transacciones - lag(chomebanking_transacciones, 3) over ventana_9 as chomebanking_transacciones_delta_3_lag, chomebanking_transacciones - lag(chomebanking_transacciones, 4) over ventana_9 as chomebanking_transacciones_delta_4_lag, chomebanking_transacciones - lag(chomebanking_transacciones, 5) over ventana_9 as chomebanking_transacciones_delta_5_lag, chomebanking_transacciones - lag(chomebanking_transacciones, 6) over ventana_9 as chomebanking_transacciones_delta_6_lag, chomebanking_transacciones - lag(chomebanking_transacciones, 7) over ventana_9 as chomebanking_transacciones_delta_7_lag, chomebanking_transacciones - lag(chomebanking_transacciones, 8) over ventana_9 as chomebanking_transacciones_delta_8_lag, chomebanking_transacciones - lag(chomebanking_transacciones, 9) over ventana_9 as chomebanking_transacciones_delta_9_lag, avg(chomebanking_transacciones) over ventana_9 as chomebanking_transacciones_media_9, max(chomebanking_transacciones) over ventana_9 as chomebanking_transacciones_max_9,  min(chomebanking_transacciones) over ventana_9 as chomebanking_transacciones_min_9


Query con 6 meses

In [252]:
%%time
%%sql
create or replace table competencia_02 as
SELECT
  *
, regr_slope(ctrx_quarter, cliente_antiguedad) over ventana_6 as ctrx_quarter_slope_6, lag(ctrx_quarter, 1) over ventana_6 as ctrx_quarter_lag_1, lag(ctrx_quarter, 2) over ventana_6 as ctrx_quarter_lag_2, lag(ctrx_quarter, 3) over ventana_6 as ctrx_quarter_lag_3, lag(ctrx_quarter, 4) over ventana_6 as ctrx_quarter_lag_4, lag(ctrx_quarter, 5) over ventana_6 as ctrx_quarter_lag_5, lag(ctrx_quarter, 6) over ventana_6 as ctrx_quarter_lag_6, ctrx_quarter - lag(ctrx_quarter, 1) over ventana_6 as ctrx_quarter_delta_1_lag, ctrx_quarter - lag(ctrx_quarter, 2) over ventana_6 as ctrx_quarter_delta_2_lag, ctrx_quarter - lag(ctrx_quarter, 3) over ventana_6 as ctrx_quarter_delta_3_lag, ctrx_quarter - lag(ctrx_quarter, 4) over ventana_6 as ctrx_quarter_delta_4_lag, ctrx_quarter - lag(ctrx_quarter, 5) over ventana_6 as ctrx_quarter_delta_5_lag, ctrx_quarter - lag(ctrx_quarter, 6) over ventana_6 as ctrx_quarter_delta_6_lag, avg(ctrx_quarter) over ventana_6 as ctrx_quarter_media_6, max(ctrx_quarter) over ventana_6 as ctrx_quarter_max_6,  min(ctrx_quarter) over ventana_6 as ctrx_quarter_min_6
, regr_slope(mcaja_ahorro, cliente_antiguedad) over ventana_6 as mcaja_ahorro_slope_6, lag(mcaja_ahorro, 1) over ventana_6 as mcaja_ahorro_lag_1, lag(mcaja_ahorro, 2) over ventana_6 as mcaja_ahorro_lag_2, lag(mcaja_ahorro, 3) over ventana_6 as mcaja_ahorro_lag_3, lag(mcaja_ahorro, 4) over ventana_6 as mcaja_ahorro_lag_4, lag(mcaja_ahorro, 5) over ventana_6 as mcaja_ahorro_lag_5, lag(mcaja_ahorro, 6) over ventana_6 as mcaja_ahorro_lag_6, mcaja_ahorro - lag(mcaja_ahorro, 1) over ventana_6 as mcaja_ahorro_delta_1_lag, mcaja_ahorro - lag(mcaja_ahorro, 2) over ventana_6 as mcaja_ahorro_delta_2_lag, mcaja_ahorro - lag(mcaja_ahorro, 3) over ventana_6 as mcaja_ahorro_delta_3_lag, mcaja_ahorro - lag(mcaja_ahorro, 4) over ventana_6 as mcaja_ahorro_delta_4_lag, mcaja_ahorro - lag(mcaja_ahorro, 5) over ventana_6 as mcaja_ahorro_delta_5_lag, mcaja_ahorro - lag(mcaja_ahorro, 6) over ventana_6 as mcaja_ahorro_delta_6_lag, avg(mcaja_ahorro) over ventana_6 as mcaja_ahorro_media_6, max(mcaja_ahorro) over ventana_6 as mcaja_ahorro_max_6,  min(mcaja_ahorro) over ventana_6 as mcaja_ahorro_min_6
, regr_slope(mcuentas_saldo, cliente_antiguedad) over ventana_6 as mcuentas_saldo_slope_6, lag(mcuentas_saldo, 1) over ventana_6 as mcuentas_saldo_lag_1, lag(mcuentas_saldo, 2) over ventana_6 as mcuentas_saldo_lag_2, lag(mcuentas_saldo, 3) over ventana_6 as mcuentas_saldo_lag_3, lag(mcuentas_saldo, 4) over ventana_6 as mcuentas_saldo_lag_4, lag(mcuentas_saldo, 5) over ventana_6 as mcuentas_saldo_lag_5, lag(mcuentas_saldo, 6) over ventana_6 as mcuentas_saldo_lag_6, mcuentas_saldo - lag(mcuentas_saldo, 1) over ventana_6 as mcuentas_saldo_delta_1_lag, mcuentas_saldo - lag(mcuentas_saldo, 2) over ventana_6 as mcuentas_saldo_delta_2_lag, mcuentas_saldo - lag(mcuentas_saldo, 3) over ventana_6 as mcuentas_saldo_delta_3_lag, mcuentas_saldo - lag(mcuentas_saldo, 4) over ventana_6 as mcuentas_saldo_delta_4_lag, mcuentas_saldo - lag(mcuentas_saldo, 5) over ventana_6 as mcuentas_saldo_delta_5_lag, mcuentas_saldo - lag(mcuentas_saldo, 6) over ventana_6 as mcuentas_saldo_delta_6_lag, avg(mcuentas_saldo) over ventana_6 as mcuentas_saldo_media_6, max(mcuentas_saldo) over ventana_6 as mcuentas_saldo_max_6,  min(mcuentas_saldo) over ventana_6 as mcuentas_saldo_min_6
, regr_slope(mrentabilidad_annual, cliente_antiguedad) over ventana_6 as mrentabilidad_annual_slope_6, lag(mrentabilidad_annual, 1) over ventana_6 as mrentabilidad_annual_lag_1, lag(mrentabilidad_annual, 2) over ventana_6 as mrentabilidad_annual_lag_2, lag(mrentabilidad_annual, 3) over ventana_6 as mrentabilidad_annual_lag_3, lag(mrentabilidad_annual, 4) over ventana_6 as mrentabilidad_annual_lag_4, lag(mrentabilidad_annual, 5) over ventana_6 as mrentabilidad_annual_lag_5, lag(mrentabilidad_annual, 6) over ventana_6 as mrentabilidad_annual_lag_6, mrentabilidad_annual - lag(mrentabilidad_annual, 1) over ventana_6 as mrentabilidad_annual_delta_1_lag, mrentabilidad_annual - lag(mrentabilidad_annual, 2) over ventana_6 as mrentabilidad_annual_delta_2_lag, mrentabilidad_annual - lag(mrentabilidad_annual, 3) over ventana_6 as mrentabilidad_annual_delta_3_lag, mrentabilidad_annual - lag(mrentabilidad_annual, 4) over ventana_6 as mrentabilidad_annual_delta_4_lag, mrentabilidad_annual - lag(mrentabilidad_annual, 5) over ventana_6 as mrentabilidad_annual_delta_5_lag, mrentabilidad_annual - lag(mrentabilidad_annual, 6) over ventana_6 as mrentabilidad_annual_delta_6_lag, avg(mrentabilidad_annual) over ventana_6 as mrentabilidad_annual_media_6, max(mrentabilidad_annual) over ventana_6 as mrentabilidad_annual_max_6,  min(mrentabilidad_annual) over ventana_6 as mrentabilidad_annual_min_6
, regr_slope(cpayroll_trx, cliente_antiguedad) over ventana_6 as cpayroll_trx_slope_6, lag(cpayroll_trx, 1) over ventana_6 as cpayroll_trx_lag_1, lag(cpayroll_trx, 2) over ventana_6 as cpayroll_trx_lag_2, lag(cpayroll_trx, 3) over ventana_6 as cpayroll_trx_lag_3, lag(cpayroll_trx, 4) over ventana_6 as cpayroll_trx_lag_4, lag(cpayroll_trx, 5) over ventana_6 as cpayroll_trx_lag_5, lag(cpayroll_trx, 6) over ventana_6 as cpayroll_trx_lag_6, cpayroll_trx - lag(cpayroll_trx, 1) over ventana_6 as cpayroll_trx_delta_1_lag, cpayroll_trx - lag(cpayroll_trx, 2) over ventana_6 as cpayroll_trx_delta_2_lag, cpayroll_trx - lag(cpayroll_trx, 3) over ventana_6 as cpayroll_trx_delta_3_lag, cpayroll_trx - lag(cpayroll_trx, 4) over ventana_6 as cpayroll_trx_delta_4_lag, cpayroll_trx - lag(cpayroll_trx, 5) over ventana_6 as cpayroll_trx_delta_5_lag, cpayroll_trx - lag(cpayroll_trx, 6) over ventana_6 as cpayroll_trx_delta_6_lag, avg(cpayroll_trx) over ventana_6 as cpayroll_trx_media_6, max(cpayroll_trx) over ventana_6 as cpayroll_trx_max_6,  min(cpayroll_trx) over ventana_6 as cpayroll_trx_min_6
, regr_slope(mpasivos_margen, cliente_antiguedad) over ventana_6 as mpasivos_margen_slope_6, lag(mpasivos_margen, 1) over ventana_6 as mpasivos_margen_lag_1, lag(mpasivos_margen, 2) over ventana_6 as mpasivos_margen_lag_2, lag(mpasivos_margen, 3) over ventana_6 as mpasivos_margen_lag_3, lag(mpasivos_margen, 4) over ventana_6 as mpasivos_margen_lag_4, lag(mpasivos_margen, 5) over ventana_6 as mpasivos_margen_lag_5, lag(mpasivos_margen, 6) over ventana_6 as mpasivos_margen_lag_6, mpasivos_margen - lag(mpasivos_margen, 1) over ventana_6 as mpasivos_margen_delta_1_lag, mpasivos_margen - lag(mpasivos_margen, 2) over ventana_6 as mpasivos_margen_delta_2_lag, mpasivos_margen - lag(mpasivos_margen, 3) over ventana_6 as mpasivos_margen_delta_3_lag, mpasivos_margen - lag(mpasivos_margen, 4) over ventana_6 as mpasivos_margen_delta_4_lag, mpasivos_margen - lag(mpasivos_margen, 5) over ventana_6 as mpasivos_margen_delta_5_lag, mpasivos_margen - lag(mpasivos_margen, 6) over ventana_6 as mpasivos_margen_delta_6_lag, avg(mpasivos_margen) over ventana_6 as mpasivos_margen_media_6, max(mpasivos_margen) over ventana_6 as mpasivos_margen_max_6,  min(mpasivos_margen) over ventana_6 as mpasivos_margen_min_6
, regr_slope(mprestamos_personales, cliente_antiguedad) over ventana_6 as mprestamos_personales_slope_6, lag(mprestamos_personales, 1) over ventana_6 as mprestamos_personales_lag_1, lag(mprestamos_personales, 2) over ventana_6 as mprestamos_personales_lag_2, lag(mprestamos_personales, 3) over ventana_6 as mprestamos_personales_lag_3, lag(mprestamos_personales, 4) over ventana_6 as mprestamos_personales_lag_4, lag(mprestamos_personales, 5) over ventana_6 as mprestamos_personales_lag_5, lag(mprestamos_personales, 6) over ventana_6 as mprestamos_personales_lag_6, mprestamos_personales - lag(mprestamos_personales, 1) over ventana_6 as mprestamos_personales_delta_1_lag, mprestamos_personales - lag(mprestamos_personales, 2) over ventana_6 as mprestamos_personales_delta_2_lag, mprestamos_personales - lag(mprestamos_personales, 3) over ventana_6 as mprestamos_personales_delta_3_lag, mprestamos_personales - lag(mprestamos_personales, 4) over ventana_6 as mprestamos_personales_delta_4_lag, mprestamos_personales - lag(mprestamos_personales, 5) over ventana_6 as mprestamos_personales_delta_5_lag, mprestamos_personales - lag(mprestamos_personales, 6) over ventana_6 as mprestamos_personales_delta_6_lag, avg(mprestamos_personales) over ventana_6 as mprestamos_personales_media_6, max(mprestamos_personales) over ventana_6 as mprestamos_personales_max_6,  min(mprestamos_personales) over ventana_6 as mprestamos_personales_min_6
, regr_slope(mcuenta_corriente, cliente_antiguedad) over ventana_6 as mcuenta_corriente_slope_6, lag(mcuenta_corriente, 1) over ventana_6 as mcuenta_corriente_lag_1, lag(mcuenta_corriente, 2) over ventana_6 as mcuenta_corriente_lag_2, lag(mcuenta_corriente, 3) over ventana_6 as mcuenta_corriente_lag_3, lag(mcuenta_corriente, 4) over ventana_6 as mcuenta_corriente_lag_4, lag(mcuenta_corriente, 5) over ventana_6 as mcuenta_corriente_lag_5, lag(mcuenta_corriente, 6) over ventana_6 as mcuenta_corriente_lag_6, mcuenta_corriente - lag(mcuenta_corriente, 1) over ventana_6 as mcuenta_corriente_delta_1_lag, mcuenta_corriente - lag(mcuenta_corriente, 2) over ventana_6 as mcuenta_corriente_delta_2_lag, mcuenta_corriente - lag(mcuenta_corriente, 3) over ventana_6 as mcuenta_corriente_delta_3_lag, mcuenta_corriente - lag(mcuenta_corriente, 4) over ventana_6 as mcuenta_corriente_delta_4_lag, mcuenta_corriente - lag(mcuenta_corriente, 5) over ventana_6 as mcuenta_corriente_delta_5_lag, mcuenta_corriente - lag(mcuenta_corriente, 6) over ventana_6 as mcuenta_corriente_delta_6_lag, avg(mcuenta_corriente) over ventana_6 as mcuenta_corriente_media_6, max(mcuenta_corriente) over ventana_6 as mcuenta_corriente_max_6,  min(mcuenta_corriente) over ventana_6 as mcuenta_corriente_min_6
, regr_slope(cliente_antiguedad, cliente_antiguedad) over ventana_6 as cliente_antiguedad_slope_6, lag(cliente_antiguedad, 1) over ventana_6 as cliente_antiguedad_lag_1, lag(cliente_antiguedad, 2) over ventana_6 as cliente_antiguedad_lag_2, lag(cliente_antiguedad, 3) over ventana_6 as cliente_antiguedad_lag_3, lag(cliente_antiguedad, 4) over ventana_6 as cliente_antiguedad_lag_4, lag(cliente_antiguedad, 5) over ventana_6 as cliente_antiguedad_lag_5, lag(cliente_antiguedad, 6) over ventana_6 as cliente_antiguedad_lag_6, cliente_antiguedad - lag(cliente_antiguedad, 1) over ventana_6 as cliente_antiguedad_delta_1_lag, cliente_antiguedad - lag(cliente_antiguedad, 2) over ventana_6 as cliente_antiguedad_delta_2_lag, cliente_antiguedad - lag(cliente_antiguedad, 3) over ventana_6 as cliente_antiguedad_delta_3_lag, cliente_antiguedad - lag(cliente_antiguedad, 4) over ventana_6 as cliente_antiguedad_delta_4_lag, cliente_antiguedad - lag(cliente_antiguedad, 5) over ventana_6 as cliente_antiguedad_delta_5_lag, cliente_antiguedad - lag(cliente_antiguedad, 6) over ventana_6 as cliente_antiguedad_delta_6_lag, avg(cliente_antiguedad) over ventana_6 as cliente_antiguedad_media_6, max(cliente_antiguedad) over ventana_6 as cliente_antiguedad_max_6,  min(cliente_antiguedad) over ventana_6 as cliente_antiguedad_min_6
, regr_slope(mactivos_margen, cliente_antiguedad) over ventana_6 as mactivos_margen_slope_6, lag(mactivos_margen, 1) over ventana_6 as mactivos_margen_lag_1, lag(mactivos_margen, 2) over ventana_6 as mactivos_margen_lag_2, lag(mactivos_margen, 3) over ventana_6 as mactivos_margen_lag_3, lag(mactivos_margen, 4) over ventana_6 as mactivos_margen_lag_4, lag(mactivos_margen, 5) over ventana_6 as mactivos_margen_lag_5, lag(mactivos_margen, 6) over ventana_6 as mactivos_margen_lag_6, mactivos_margen - lag(mactivos_margen, 1) over ventana_6 as mactivos_margen_delta_1_lag, mactivos_margen - lag(mactivos_margen, 2) over ventana_6 as mactivos_margen_delta_2_lag, mactivos_margen - lag(mactivos_margen, 3) over ventana_6 as mactivos_margen_delta_3_lag, mactivos_margen - lag(mactivos_margen, 4) over ventana_6 as mactivos_margen_delta_4_lag, mactivos_margen - lag(mactivos_margen, 5) over ventana_6 as mactivos_margen_delta_5_lag, mactivos_margen - lag(mactivos_margen, 6) over ventana_6 as mactivos_margen_delta_6_lag, avg(mactivos_margen) over ventana_6 as mactivos_margen_media_6, max(mactivos_margen) over ventana_6 as mactivos_margen_max_6,  min(mactivos_margen) over ventana_6 as mactivos_margen_min_6
, regr_slope(chomebanking_transacciones, cliente_antiguedad) over ventana_6 as chomebanking_transacciones_slope_6, lag(chomebanking_transacciones, 1) over ventana_6 as chomebanking_transacciones_lag_1, lag(chomebanking_transacciones, 2) over ventana_6 as chomebanking_transacciones_lag_2, lag(chomebanking_transacciones, 3) over ventana_6 as chomebanking_transacciones_lag_3, lag(chomebanking_transacciones, 4) over ventana_6 as chomebanking_transacciones_lag_4, lag(chomebanking_transacciones, 5) over ventana_6 as chomebanking_transacciones_lag_5, lag(chomebanking_transacciones, 6) over ventana_6 as chomebanking_transacciones_lag_6, chomebanking_transacciones - lag(chomebanking_transacciones, 1) over ventana_6 as chomebanking_transacciones_delta_1_lag, chomebanking_transacciones - lag(chomebanking_transacciones, 2) over ventana_6 as chomebanking_transacciones_delta_2_lag, chomebanking_transacciones - lag(chomebanking_transacciones, 3) over ventana_6 as chomebanking_transacciones_delta_3_lag, chomebanking_transacciones - lag(chomebanking_transacciones, 4) over ventana_6 as chomebanking_transacciones_delta_4_lag, chomebanking_transacciones - lag(chomebanking_transacciones, 5) over ventana_6 as chomebanking_transacciones_delta_5_lag, chomebanking_transacciones - lag(chomebanking_transacciones, 6) over ventana_6 as chomebanking_transacciones_delta_6_lag, avg(chomebanking_transacciones) over ventana_6 as chomebanking_transacciones_media_6, max(chomebanking_transacciones) over ventana_6 as chomebanking_transacciones_max_6,  min(chomebanking_transacciones) over ventana_6 as chomebanking_transacciones_min_6
, regr_slope(mtarjeta_visa_consumo, cliente_antiguedad) over ventana_6 as mtarjeta_visa_consumo_slope_6, lag(mtarjeta_visa_consumo, 1) over ventana_6 as mtarjeta_visa_consumo_lag_1, lag(mtarjeta_visa_consumo, 2) over ventana_6 as mtarjeta_visa_consumo_lag_2, lag(mtarjeta_visa_consumo, 3) over ventana_6 as mtarjeta_visa_consumo_lag_3, lag(mtarjeta_visa_consumo, 4) over ventana_6 as mtarjeta_visa_consumo_lag_4, lag(mtarjeta_visa_consumo, 5) over ventana_6 as mtarjeta_visa_consumo_lag_5, lag(mtarjeta_visa_consumo, 6) over ventana_6 as mtarjeta_visa_consumo_lag_6, mtarjeta_visa_consumo - lag(mtarjeta_visa_consumo, 1) over ventana_6 as mtarjeta_visa_consumo_delta_1_lag, mtarjeta_visa_consumo - lag(mtarjeta_visa_consumo, 2) over ventana_6 as mtarjeta_visa_consumo_delta_2_lag, mtarjeta_visa_consumo - lag(mtarjeta_visa_consumo, 3) over ventana_6 as mtarjeta_visa_consumo_delta_3_lag, mtarjeta_visa_consumo - lag(mtarjeta_visa_consumo, 4) over ventana_6 as mtarjeta_visa_consumo_delta_4_lag, mtarjeta_visa_consumo - lag(mtarjeta_visa_consumo, 5) over ventana_6 as mtarjeta_visa_consumo_delta_5_lag, mtarjeta_visa_consumo - lag(mtarjeta_visa_consumo, 6) over ventana_6 as mtarjeta_visa_consumo_delta_6_lag, avg(mtarjeta_visa_consumo) over ventana_6 as mtarjeta_visa_consumo_media_6, max(mtarjeta_visa_consumo) over ventana_6 as mtarjeta_visa_consumo_max_6,  min(mtarjeta_visa_consumo) over ventana_6 as mtarjeta_visa_consumo_min_6
, regr_slope(mrentabilidad, cliente_antiguedad) over ventana_6 as mrentabilidad_slope_6, lag(mrentabilidad, 1) over ventana_6 as mrentabilidad_lag_1, lag(mrentabilidad, 2) over ventana_6 as mrentabilidad_lag_2, lag(mrentabilidad, 3) over ventana_6 as mrentabilidad_lag_3, lag(mrentabilidad, 4) over ventana_6 as mrentabilidad_lag_4, lag(mrentabilidad, 5) over ventana_6 as mrentabilidad_lag_5, lag(mrentabilidad, 6) over ventana_6 as mrentabilidad_lag_6, mrentabilidad - lag(mrentabilidad, 1) over ventana_6 as mrentabilidad_delta_1_lag, mrentabilidad - lag(mrentabilidad, 2) over ventana_6 as mrentabilidad_delta_2_lag, mrentabilidad - lag(mrentabilidad, 3) over ventana_6 as mrentabilidad_delta_3_lag, mrentabilidad - lag(mrentabilidad, 4) over ventana_6 as mrentabilidad_delta_4_lag, mrentabilidad - lag(mrentabilidad, 5) over ventana_6 as mrentabilidad_delta_5_lag, mrentabilidad - lag(mrentabilidad, 6) over ventana_6 as mrentabilidad_delta_6_lag, avg(mrentabilidad) over ventana_6 as mrentabilidad_media_6, max(mrentabilidad) over ventana_6 as mrentabilidad_max_6,  min(mrentabilidad) over ventana_6 as mrentabilidad_min_6
, regr_slope(cproductos, cliente_antiguedad) over ventana_6 as cproductos_slope_6, lag(cproductos, 1) over ventana_6 as cproductos_lag_1, lag(cproductos, 2) over ventana_6 as cproductos_lag_2, lag(cproductos, 3) over ventana_6 as cproductos_lag_3, lag(cproductos, 4) over ventana_6 as cproductos_lag_4, lag(cproductos, 5) over ventana_6 as cproductos_lag_5, lag(cproductos, 6) over ventana_6 as cproductos_lag_6, cproductos - lag(cproductos, 1) over ventana_6 as cproductos_delta_1_lag, cproductos - lag(cproductos, 2) over ventana_6 as cproductos_delta_2_lag, cproductos - lag(cproductos, 3) over ventana_6 as cproductos_delta_3_lag, cproductos - lag(cproductos, 4) over ventana_6 as cproductos_delta_4_lag, cproductos - lag(cproductos, 5) over ventana_6 as cproductos_delta_5_lag, cproductos - lag(cproductos, 6) over ventana_6 as cproductos_delta_6_lag, avg(cproductos) over ventana_6 as cproductos_media_6, max(cproductos) over ventana_6 as cproductos_max_6,  min(cproductos) over ventana_6 as cproductos_min_6
, regr_slope(ctarjeta_visa_transacciones, cliente_antiguedad) over ventana_6 as ctarjeta_visa_transacciones_slope_6, lag(ctarjeta_visa_transacciones, 1) over ventana_6 as ctarjeta_visa_transacciones_lag_1, lag(ctarjeta_visa_transacciones, 2) over ventana_6 as ctarjeta_visa_transacciones_lag_2, lag(ctarjeta_visa_transacciones, 3) over ventana_6 as ctarjeta_visa_transacciones_lag_3, lag(ctarjeta_visa_transacciones, 4) over ventana_6 as ctarjeta_visa_transacciones_lag_4, lag(ctarjeta_visa_transacciones, 5) over ventana_6 as ctarjeta_visa_transacciones_lag_5, lag(ctarjeta_visa_transacciones, 6) over ventana_6 as ctarjeta_visa_transacciones_lag_6, ctarjeta_visa_transacciones - lag(ctarjeta_visa_transacciones, 1) over ventana_6 as ctarjeta_visa_transacciones_delta_1_lag, ctarjeta_visa_transacciones - lag(ctarjeta_visa_transacciones, 2) over ventana_6 as ctarjeta_visa_transacciones_delta_2_lag, ctarjeta_visa_transacciones - lag(ctarjeta_visa_transacciones, 3) over ventana_6 as ctarjeta_visa_transacciones_delta_3_lag, ctarjeta_visa_transacciones - lag(ctarjeta_visa_transacciones, 4) over ventana_6 as ctarjeta_visa_transacciones_delta_4_lag, ctarjeta_visa_transacciones - lag(ctarjeta_visa_transacciones, 5) over ventana_6 as ctarjeta_visa_transacciones_delta_5_lag, ctarjeta_visa_transacciones - lag(ctarjeta_visa_transacciones, 6) over ventana_6 as ctarjeta_visa_transacciones_delta_6_lag, avg(ctarjeta_visa_transacciones) over ventana_6 as ctarjeta_visa_transacciones_media_6, max(ctarjeta_visa_transacciones) over ventana_6 as ctarjeta_visa_transacciones_max_6,  min(ctarjeta_visa_transacciones) over ventana_6 as ctarjeta_visa_transacciones_min_6
, regr_slope(Visa_mpagospesos, cliente_antiguedad) over ventana_6 as Visa_mpagospesos_slope_6, lag(Visa_mpagospesos, 1) over ventana_6 as Visa_mpagospesos_lag_1, lag(Visa_mpagospesos, 2) over ventana_6 as Visa_mpagospesos_lag_2, lag(Visa_mpagospesos, 3) over ventana_6 as Visa_mpagospesos_lag_3, lag(Visa_mpagospesos, 4) over ventana_6 as Visa_mpagospesos_lag_4, lag(Visa_mpagospesos, 5) over ventana_6 as Visa_mpagospesos_lag_5, lag(Visa_mpagospesos, 6) over ventana_6 as Visa_mpagospesos_lag_6, Visa_mpagospesos - lag(Visa_mpagospesos, 1) over ventana_6 as Visa_mpagospesos_delta_1_lag, Visa_mpagospesos - lag(Visa_mpagospesos, 2) over ventana_6 as Visa_mpagospesos_delta_2_lag, Visa_mpagospesos - lag(Visa_mpagospesos, 3) over ventana_6 as Visa_mpagospesos_delta_3_lag, Visa_mpagospesos - lag(Visa_mpagospesos, 4) over ventana_6 as Visa_mpagospesos_delta_4_lag, Visa_mpagospesos - lag(Visa_mpagospesos, 5) over ventana_6 as Visa_mpagospesos_delta_5_lag, Visa_mpagospesos - lag(Visa_mpagospesos, 6) over ventana_6 as Visa_mpagospesos_delta_6_lag, avg(Visa_mpagospesos) over ventana_6 as Visa_mpagospesos_media_6, max(Visa_mpagospesos) over ventana_6 as Visa_mpagospesos_max_6,  min(Visa_mpagospesos) over ventana_6 as Visa_mpagospesos_min_6
, regr_slope(mcomisiones_mantenimiento, cliente_antiguedad) over ventana_6 as mcomisiones_mantenimiento_slope_6, lag(mcomisiones_mantenimiento, 1) over ventana_6 as mcomisiones_mantenimiento_lag_1, lag(mcomisiones_mantenimiento, 2) over ventana_6 as mcomisiones_mantenimiento_lag_2, lag(mcomisiones_mantenimiento, 3) over ventana_6 as mcomisiones_mantenimiento_lag_3, lag(mcomisiones_mantenimiento, 4) over ventana_6 as mcomisiones_mantenimiento_lag_4, lag(mcomisiones_mantenimiento, 5) over ventana_6 as mcomisiones_mantenimiento_lag_5, lag(mcomisiones_mantenimiento, 6) over ventana_6 as mcomisiones_mantenimiento_lag_6, mcomisiones_mantenimiento - lag(mcomisiones_mantenimiento, 1) over ventana_6 as mcomisiones_mantenimiento_delta_1_lag, mcomisiones_mantenimiento - lag(mcomisiones_mantenimiento, 2) over ventana_6 as mcomisiones_mantenimiento_delta_2_lag, mcomisiones_mantenimiento - lag(mcomisiones_mantenimiento, 3) over ventana_6 as mcomisiones_mantenimiento_delta_3_lag, mcomisiones_mantenimiento - lag(mcomisiones_mantenimiento, 4) over ventana_6 as mcomisiones_mantenimiento_delta_4_lag, mcomisiones_mantenimiento - lag(mcomisiones_mantenimiento, 5) over ventana_6 as mcomisiones_mantenimiento_delta_5_lag, mcomisiones_mantenimiento - lag(mcomisiones_mantenimiento, 6) over ventana_6 as mcomisiones_mantenimiento_delta_6_lag, avg(mcomisiones_mantenimiento) over ventana_6 as mcomisiones_mantenimiento_media_6, max(mcomisiones_mantenimiento) over ventana_6 as mcomisiones_mantenimiento_max_6,  min(mcomisiones_mantenimiento) over ventana_6 as mcomisiones_mantenimiento_min_6
, regr_slope(mcaja_ahorro_dolares, cliente_antiguedad) over ventana_6 as mcaja_ahorro_dolares_slope_6, lag(mcaja_ahorro_dolares, 1) over ventana_6 as mcaja_ahorro_dolares_lag_1, lag(mcaja_ahorro_dolares, 2) over ventana_6 as mcaja_ahorro_dolares_lag_2, lag(mcaja_ahorro_dolares, 3) over ventana_6 as mcaja_ahorro_dolares_lag_3, lag(mcaja_ahorro_dolares, 4) over ventana_6 as mcaja_ahorro_dolares_lag_4, lag(mcaja_ahorro_dolares, 5) over ventana_6 as mcaja_ahorro_dolares_lag_5, lag(mcaja_ahorro_dolares, 6) over ventana_6 as mcaja_ahorro_dolares_lag_6, mcaja_ahorro_dolares - lag(mcaja_ahorro_dolares, 1) over ventana_6 as mcaja_ahorro_dolares_delta_1_lag, mcaja_ahorro_dolares - lag(mcaja_ahorro_dolares, 2) over ventana_6 as mcaja_ahorro_dolares_delta_2_lag, mcaja_ahorro_dolares - lag(mcaja_ahorro_dolares, 3) over ventana_6 as mcaja_ahorro_dolares_delta_3_lag, mcaja_ahorro_dolares - lag(mcaja_ahorro_dolares, 4) over ventana_6 as mcaja_ahorro_dolares_delta_4_lag, mcaja_ahorro_dolares - lag(mcaja_ahorro_dolares, 5) over ventana_6 as mcaja_ahorro_dolares_delta_5_lag, mcaja_ahorro_dolares - lag(mcaja_ahorro_dolares, 6) over ventana_6 as mcaja_ahorro_dolares_delta_6_lag, avg(mcaja_ahorro_dolares) over ventana_6 as mcaja_ahorro_dolares_media_6, max(mcaja_ahorro_dolares) over ventana_6 as mcaja_ahorro_dolares_max_6,  min(mcaja_ahorro_dolares) over ventana_6 as mcaja_ahorro_dolares_min_6
, regr_slope(mtransferencias_recibidas, cliente_antiguedad) over ventana_6 as mtransferencias_recibidas_slope_6, lag(mtransferencias_recibidas, 1) over ventana_6 as mtransferencias_recibidas_lag_1, lag(mtransferencias_recibidas, 2) over ventana_6 as mtransferencias_recibidas_lag_2, lag(mtransferencias_recibidas, 3) over ventana_6 as mtransferencias_recibidas_lag_3, lag(mtransferencias_recibidas, 4) over ventana_6 as mtransferencias_recibidas_lag_4, lag(mtransferencias_recibidas, 5) over ventana_6 as mtransferencias_recibidas_lag_5, lag(mtransferencias_recibidas, 6) over ventana_6 as mtransferencias_recibidas_lag_6, mtransferencias_recibidas - lag(mtransferencias_recibidas, 1) over ventana_6 as mtransferencias_recibidas_delta_1_lag, mtransferencias_recibidas - lag(mtransferencias_recibidas, 2) over ventana_6 as mtransferencias_recibidas_delta_2_lag, mtransferencias_recibidas - lag(mtransferencias_recibidas, 3) over ventana_6 as mtransferencias_recibidas_delta_3_lag, mtransferencias_recibidas - lag(mtransferencias_recibidas, 4) over ventana_6 as mtransferencias_recibidas_delta_4_lag, mtransferencias_recibidas - lag(mtransferencias_recibidas, 5) over ventana_6 as mtransferencias_recibidas_delta_5_lag, mtransferencias_recibidas - lag(mtransferencias_recibidas, 6) over ventana_6 as mtransferencias_recibidas_delta_6_lag, avg(mtransferencias_recibidas) over ventana_6 as mtransferencias_recibidas_media_6, max(mtransferencias_recibidas) over ventana_6 as mtransferencias_recibidas_max_6,  min(mtransferencias_recibidas) over ventana_6 as mtransferencias_recibidas_min_6
, regr_slope(Visa_mconsumospesos, cliente_antiguedad) over ventana_6 as Visa_mconsumospesos_slope_6, lag(Visa_mconsumospesos, 1) over ventana_6 as Visa_mconsumospesos_lag_1, lag(Visa_mconsumospesos, 2) over ventana_6 as Visa_mconsumospesos_lag_2, lag(Visa_mconsumospesos, 3) over ventana_6 as Visa_mconsumospesos_lag_3, lag(Visa_mconsumospesos, 4) over ventana_6 as Visa_mconsumospesos_lag_4, lag(Visa_mconsumospesos, 5) over ventana_6 as Visa_mconsumospesos_lag_5, lag(Visa_mconsumospesos, 6) over ventana_6 as Visa_mconsumospesos_lag_6, Visa_mconsumospesos - lag(Visa_mconsumospesos, 1) over ventana_6 as Visa_mconsumospesos_delta_1_lag, Visa_mconsumospesos - lag(Visa_mconsumospesos, 2) over ventana_6 as Visa_mconsumospesos_delta_2_lag, Visa_mconsumospesos - lag(Visa_mconsumospesos, 3) over ventana_6 as Visa_mconsumospesos_delta_3_lag, Visa_mconsumospesos - lag(Visa_mconsumospesos, 4) over ventana_6 as Visa_mconsumospesos_delta_4_lag, Visa_mconsumospesos - lag(Visa_mconsumospesos, 5) over ventana_6 as Visa_mconsumospesos_delta_5_lag, Visa_mconsumospesos - lag(Visa_mconsumospesos, 6) over ventana_6 as Visa_mconsumospesos_delta_6_lag, avg(Visa_mconsumospesos) over ventana_6 as Visa_mconsumospesos_media_6, max(Visa_mconsumospesos) over ventana_6 as Visa_mconsumospesos_max_6,  min(Visa_mconsumospesos) over ventana_6 as Visa_mconsumospesos_min_6
, regr_slope(mcomisiones_otras, cliente_antiguedad) over ventana_6 as mcomisiones_otras_slope_6, lag(mcomisiones_otras, 1) over ventana_6 as mcomisiones_otras_lag_1, lag(mcomisiones_otras, 2) over ventana_6 as mcomisiones_otras_lag_2, lag(mcomisiones_otras, 3) over ventana_6 as mcomisiones_otras_lag_3, lag(mcomisiones_otras, 4) over ventana_6 as mcomisiones_otras_lag_4, lag(mcomisiones_otras, 5) over ventana_6 as mcomisiones_otras_lag_5, lag(mcomisiones_otras, 6) over ventana_6 as mcomisiones_otras_lag_6, mcomisiones_otras - lag(mcomisiones_otras, 1) over ventana_6 as mcomisiones_otras_delta_1_lag, mcomisiones_otras - lag(mcomisiones_otras, 2) over ventana_6 as mcomisiones_otras_delta_2_lag, mcomisiones_otras - lag(mcomisiones_otras, 3) over ventana_6 as mcomisiones_otras_delta_3_lag, mcomisiones_otras - lag(mcomisiones_otras, 4) over ventana_6 as mcomisiones_otras_delta_4_lag, mcomisiones_otras - lag(mcomisiones_otras, 5) over ventana_6 as mcomisiones_otras_delta_5_lag, mcomisiones_otras - lag(mcomisiones_otras, 6) over ventana_6 as mcomisiones_otras_delta_6_lag, avg(mcomisiones_otras) over ventana_6 as mcomisiones_otras_media_6, max(mcomisiones_otras) over ventana_6 as mcomisiones_otras_max_6,  min(mcomisiones_otras) over ventana_6 as mcomisiones_otras_min_6
, regr_slope(ccomisiones_otras, cliente_antiguedad) over ventana_6 as ccomisiones_otras_slope_6, lag(ccomisiones_otras, 1) over ventana_6 as ccomisiones_otras_lag_1, lag(ccomisiones_otras, 2) over ventana_6 as ccomisiones_otras_lag_2, lag(ccomisiones_otras, 3) over ventana_6 as ccomisiones_otras_lag_3, lag(ccomisiones_otras, 4) over ventana_6 as ccomisiones_otras_lag_4, lag(ccomisiones_otras, 5) over ventana_6 as ccomisiones_otras_lag_5, lag(ccomisiones_otras, 6) over ventana_6 as ccomisiones_otras_lag_6, ccomisiones_otras - lag(ccomisiones_otras, 1) over ventana_6 as ccomisiones_otras_delta_1_lag, ccomisiones_otras - lag(ccomisiones_otras, 2) over ventana_6 as ccomisiones_otras_delta_2_lag, ccomisiones_otras - lag(ccomisiones_otras, 3) over ventana_6 as ccomisiones_otras_delta_3_lag, ccomisiones_otras - lag(ccomisiones_otras, 4) over ventana_6 as ccomisiones_otras_delta_4_lag, ccomisiones_otras - lag(ccomisiones_otras, 5) over ventana_6 as ccomisiones_otras_delta_5_lag, ccomisiones_otras - lag(ccomisiones_otras, 6) over ventana_6 as ccomisiones_otras_delta_6_lag, avg(ccomisiones_otras) over ventana_6 as ccomisiones_otras_media_6, max(ccomisiones_otras) over ventana_6 as ccomisiones_otras_max_6,  min(ccomisiones_otras) over ventana_6 as ccomisiones_otras_min_6
, regr_slope(Visa_msaldopesos, cliente_antiguedad) over ventana_6 as Visa_msaldopesos_slope_6, lag(Visa_msaldopesos, 1) over ventana_6 as Visa_msaldopesos_lag_1, lag(Visa_msaldopesos, 2) over ventana_6 as Visa_msaldopesos_lag_2, lag(Visa_msaldopesos, 3) over ventana_6 as Visa_msaldopesos_lag_3, lag(Visa_msaldopesos, 4) over ventana_6 as Visa_msaldopesos_lag_4, lag(Visa_msaldopesos, 5) over ventana_6 as Visa_msaldopesos_lag_5, lag(Visa_msaldopesos, 6) over ventana_6 as Visa_msaldopesos_lag_6, Visa_msaldopesos - lag(Visa_msaldopesos, 1) over ventana_6 as Visa_msaldopesos_delta_1_lag, Visa_msaldopesos - lag(Visa_msaldopesos, 2) over ventana_6 as Visa_msaldopesos_delta_2_lag, Visa_msaldopesos - lag(Visa_msaldopesos, 3) over ventana_6 as Visa_msaldopesos_delta_3_lag, Visa_msaldopesos - lag(Visa_msaldopesos, 4) over ventana_6 as Visa_msaldopesos_delta_4_lag, Visa_msaldopesos - lag(Visa_msaldopesos, 5) over ventana_6 as Visa_msaldopesos_delta_5_lag, Visa_msaldopesos - lag(Visa_msaldopesos, 6) over ventana_6 as Visa_msaldopesos_delta_6_lag, avg(Visa_msaldopesos) over ventana_6 as Visa_msaldopesos_media_6, max(Visa_msaldopesos) over ventana_6 as Visa_msaldopesos_max_6,  min(Visa_msaldopesos) over ventana_6 as Visa_msaldopesos_min_6
, regr_slope(Visa_cconsumos, cliente_antiguedad) over ventana_6 as Visa_cconsumos_slope_6, lag(Visa_cconsumos, 1) over ventana_6 as Visa_cconsumos_lag_1, lag(Visa_cconsumos, 2) over ventana_6 as Visa_cconsumos_lag_2, lag(Visa_cconsumos, 3) over ventana_6 as Visa_cconsumos_lag_3, lag(Visa_cconsumos, 4) over ventana_6 as Visa_cconsumos_lag_4, lag(Visa_cconsumos, 5) over ventana_6 as Visa_cconsumos_lag_5, lag(Visa_cconsumos, 6) over ventana_6 as Visa_cconsumos_lag_6, Visa_cconsumos - lag(Visa_cconsumos, 1) over ventana_6 as Visa_cconsumos_delta_1_lag, Visa_cconsumos - lag(Visa_cconsumos, 2) over ventana_6 as Visa_cconsumos_delta_2_lag, Visa_cconsumos - lag(Visa_cconsumos, 3) over ventana_6 as Visa_cconsumos_delta_3_lag, Visa_cconsumos - lag(Visa_cconsumos, 4) over ventana_6 as Visa_cconsumos_delta_4_lag, Visa_cconsumos - lag(Visa_cconsumos, 5) over ventana_6 as Visa_cconsumos_delta_5_lag, Visa_cconsumos - lag(Visa_cconsumos, 6) over ventana_6 as Visa_cconsumos_delta_6_lag, avg(Visa_cconsumos) over ventana_6 as Visa_cconsumos_media_6, max(Visa_cconsumos) over ventana_6 as Visa_cconsumos_max_6,  min(Visa_cconsumos) over ventana_6 as Visa_cconsumos_min_6
, regr_slope(Visa_msaldototal, cliente_antiguedad) over ventana_6 as Visa_msaldototal_slope_6, lag(Visa_msaldototal, 1) over ventana_6 as Visa_msaldototal_lag_1, lag(Visa_msaldototal, 2) over ventana_6 as Visa_msaldototal_lag_2, lag(Visa_msaldototal, 3) over ventana_6 as Visa_msaldototal_lag_3, lag(Visa_msaldototal, 4) over ventana_6 as Visa_msaldototal_lag_4, lag(Visa_msaldototal, 5) over ventana_6 as Visa_msaldototal_lag_5, lag(Visa_msaldototal, 6) over ventana_6 as Visa_msaldototal_lag_6, Visa_msaldototal - lag(Visa_msaldototal, 1) over ventana_6 as Visa_msaldototal_delta_1_lag, Visa_msaldototal - lag(Visa_msaldototal, 2) over ventana_6 as Visa_msaldototal_delta_2_lag, Visa_msaldototal - lag(Visa_msaldototal, 3) over ventana_6 as Visa_msaldototal_delta_3_lag, Visa_msaldototal - lag(Visa_msaldototal, 4) over ventana_6 as Visa_msaldototal_delta_4_lag, Visa_msaldototal - lag(Visa_msaldototal, 5) over ventana_6 as Visa_msaldototal_delta_5_lag, Visa_msaldototal - lag(Visa_msaldototal, 6) over ventana_6 as Visa_msaldototal_delta_6_lag, avg(Visa_msaldototal) over ventana_6 as Visa_msaldototal_media_6, max(Visa_msaldototal) over ventana_6 as Visa_msaldototal_max_6,  min(Visa_msaldototal) over ventana_6 as Visa_msaldototal_min_6
, regr_slope(ctarjeta_debito, cliente_antiguedad) over ventana_6 as ctarjeta_debito_slope_6, lag(ctarjeta_debito, 1) over ventana_6 as ctarjeta_debito_lag_1, lag(ctarjeta_debito, 2) over ventana_6 as ctarjeta_debito_lag_2, lag(ctarjeta_debito, 3) over ventana_6 as ctarjeta_debito_lag_3, lag(ctarjeta_debito, 4) over ventana_6 as ctarjeta_debito_lag_4, lag(ctarjeta_debito, 5) over ventana_6 as ctarjeta_debito_lag_5, lag(ctarjeta_debito, 6) over ventana_6 as ctarjeta_debito_lag_6, ctarjeta_debito - lag(ctarjeta_debito, 1) over ventana_6 as ctarjeta_debito_delta_1_lag, ctarjeta_debito - lag(ctarjeta_debito, 2) over ventana_6 as ctarjeta_debito_delta_2_lag, ctarjeta_debito - lag(ctarjeta_debito, 3) over ventana_6 as ctarjeta_debito_delta_3_lag, ctarjeta_debito - lag(ctarjeta_debito, 4) over ventana_6 as ctarjeta_debito_delta_4_lag, ctarjeta_debito - lag(ctarjeta_debito, 5) over ventana_6 as ctarjeta_debito_delta_5_lag, ctarjeta_debito - lag(ctarjeta_debito, 6) over ventana_6 as ctarjeta_debito_delta_6_lag, avg(ctarjeta_debito) over ventana_6 as ctarjeta_debito_media_6, max(ctarjeta_debito) over ventana_6 as ctarjeta_debito_max_6,  min(ctarjeta_debito) over ventana_6 as ctarjeta_debito_min_6
FROM competencia_02
WINDOW ventana_6 AS (PARTITION BY numero_de_cliente ORDER BY foto_mes ROWS BETWEEN 6 PRECEDING AND CURRENT ROW)

CPU times: user 19min 3s, sys: 9min 27s, total: 28min 30s
Wall time: 7min 18s

Empty DataFrame
Columns: [Success]
Index: []

query con 9 meses

In [68]:
%%time
%%sql
create or replace table competencia_02 as
SELECT
  *
, regr_slope(mprestamos_personales, cliente_antiguedad) over ventana_9 as mprestamos_personales_slope_6, lag(mprestamos_personales, 1) over ventana_9 as mprestamos_personales_lag_1, lag(mprestamos_personales, 2) over ventana_9 as mprestamos_personales_lag_2, lag(mprestamos_personales, 3) over ventana_9 as mprestamos_personales_lag_3, lag(mprestamos_personales, 4) over ventana_9 as mprestamos_personales_lag_4, lag(mprestamos_personales, 5) over ventana_9 as mprestamos_personales_lag_5, lag(mprestamos_personales, 6) over ventana_9 as mprestamos_personales_lag_6, lag(mprestamos_personales, 7) over ventana_9 as mprestamos_personales_lag_7, lag(mprestamos_personales, 8) over ventana_9 as mprestamos_personales_lag_8, lag(mprestamos_personales, 9) over ventana_9 as mprestamos_personales_lag_9, mprestamos_personales - lag(mprestamos_personales, 1) over ventana_9 as mprestamos_personales_delta_1_lag, mprestamos_personales - lag(mprestamos_personales, 2) over ventana_9 as mprestamos_personales_delta_2_lag, mprestamos_personales - lag(mprestamos_personales, 3) over ventana_9 as mprestamos_personales_delta_3_lag, mprestamos_personales - lag(mprestamos_personales, 4) over ventana_9 as mprestamos_personales_delta_4_lag, mprestamos_personales - lag(mprestamos_personales, 5) over ventana_9 as mprestamos_personales_delta_5_lag, mprestamos_personales - lag(mprestamos_personales, 6) over ventana_9 as mprestamos_personales_delta_6_lag, mprestamos_personales - lag(mprestamos_personales, 7) over ventana_9 as mprestamos_personales_delta_7_lag, mprestamos_personales - lag(mprestamos_personales, 8) over ventana_9 as mprestamos_personales_delta_8_lag, mprestamos_personales - lag(mprestamos_personales, 9) over ventana_9 as mprestamos_personales_delta_9_lag, avg(mprestamos_personales) over ventana_9 as mprestamos_personales_media_9, max(mprestamos_personales) over ventana_9 as mprestamos_personales_max_9,  min(mprestamos_personales) over ventana_9 as mprestamos_personales_min_9
, regr_slope(mcuenta_corriente, cliente_antiguedad) over ventana_9 as mcuenta_corriente_slope_6, lag(mcuenta_corriente, 1) over ventana_9 as mcuenta_corriente_lag_1, lag(mcuenta_corriente, 2) over ventana_9 as mcuenta_corriente_lag_2, lag(mcuenta_corriente, 3) over ventana_9 as mcuenta_corriente_lag_3, lag(mcuenta_corriente, 4) over ventana_9 as mcuenta_corriente_lag_4, lag(mcuenta_corriente, 5) over ventana_9 as mcuenta_corriente_lag_5, lag(mcuenta_corriente, 6) over ventana_9 as mcuenta_corriente_lag_6, lag(mcuenta_corriente, 7) over ventana_9 as mcuenta_corriente_lag_7, lag(mcuenta_corriente, 8) over ventana_9 as mcuenta_corriente_lag_8, lag(mcuenta_corriente, 9) over ventana_9 as mcuenta_corriente_lag_9, mcuenta_corriente - lag(mcuenta_corriente, 1) over ventana_9 as mcuenta_corriente_delta_1_lag, mcuenta_corriente - lag(mcuenta_corriente, 2) over ventana_9 as mcuenta_corriente_delta_2_lag, mcuenta_corriente - lag(mcuenta_corriente, 3) over ventana_9 as mcuenta_corriente_delta_3_lag, mcuenta_corriente - lag(mcuenta_corriente, 4) over ventana_9 as mcuenta_corriente_delta_4_lag, mcuenta_corriente - lag(mcuenta_corriente, 5) over ventana_9 as mcuenta_corriente_delta_5_lag, mcuenta_corriente - lag(mcuenta_corriente, 6) over ventana_9 as mcuenta_corriente_delta_6_lag, mcuenta_corriente - lag(mcuenta_corriente, 7) over ventana_9 as mcuenta_corriente_delta_7_lag, mcuenta_corriente - lag(mcuenta_corriente, 8) over ventana_9 as mcuenta_corriente_delta_8_lag, mcuenta_corriente - lag(mcuenta_corriente, 9) over ventana_9 as mcuenta_corriente_delta_9_lag, avg(mcuenta_corriente) over ventana_9 as mcuenta_corriente_media_9, max(mcuenta_corriente) over ventana_9 as mcuenta_corriente_max_9,  min(mcuenta_corriente) over ventana_9 as mcuenta_corriente_min_9
, regr_slope(cliente_antiguedad, cliente_antiguedad) over ventana_9 as cliente_antiguedad_slope_6, lag(cliente_antiguedad, 1) over ventana_9 as cliente_antiguedad_lag_1, lag(cliente_antiguedad, 2) over ventana_9 as cliente_antiguedad_lag_2, lag(cliente_antiguedad, 3) over ventana_9 as cliente_antiguedad_lag_3, lag(cliente_antiguedad, 4) over ventana_9 as cliente_antiguedad_lag_4, lag(cliente_antiguedad, 5) over ventana_9 as cliente_antiguedad_lag_5, lag(cliente_antiguedad, 6) over ventana_9 as cliente_antiguedad_lag_6, lag(cliente_antiguedad, 7) over ventana_9 as cliente_antiguedad_lag_7, lag(cliente_antiguedad, 8) over ventana_9 as cliente_antiguedad_lag_8, lag(cliente_antiguedad, 9) over ventana_9 as cliente_antiguedad_lag_9, cliente_antiguedad - lag(cliente_antiguedad, 1) over ventana_9 as cliente_antiguedad_delta_1_lag, cliente_antiguedad - lag(cliente_antiguedad, 2) over ventana_9 as cliente_antiguedad_delta_2_lag, cliente_antiguedad - lag(cliente_antiguedad, 3) over ventana_9 as cliente_antiguedad_delta_3_lag, cliente_antiguedad - lag(cliente_antiguedad, 4) over ventana_9 as cliente_antiguedad_delta_4_lag, cliente_antiguedad - lag(cliente_antiguedad, 5) over ventana_9 as cliente_antiguedad_delta_5_lag, cliente_antiguedad - lag(cliente_antiguedad, 6) over ventana_9 as cliente_antiguedad_delta_6_lag, cliente_antiguedad - lag(cliente_antiguedad, 7) over ventana_9 as cliente_antiguedad_delta_7_lag, cliente_antiguedad - lag(cliente_antiguedad, 8) over ventana_9 as cliente_antiguedad_delta_8_lag, cliente_antiguedad - lag(cliente_antiguedad, 9) over ventana_9 as cliente_antiguedad_delta_9_lag, avg(cliente_antiguedad) over ventana_9 as cliente_antiguedad_media_9, max(cliente_antiguedad) over ventana_9 as cliente_antiguedad_max_9,  min(cliente_antiguedad) over ventana_9 as cliente_antiguedad_min_9
, regr_slope(mactivos_margen, cliente_antiguedad) over ventana_9 as mactivos_margen_slope_6, lag(mactivos_margen, 1) over ventana_9 as mactivos_margen_lag_1, lag(mactivos_margen, 2) over ventana_9 as mactivos_margen_lag_2, lag(mactivos_margen, 3) over ventana_9 as mactivos_margen_lag_3, lag(mactivos_margen, 4) over ventana_9 as mactivos_margen_lag_4, lag(mactivos_margen, 5) over ventana_9 as mactivos_margen_lag_5, lag(mactivos_margen, 6) over ventana_9 as mactivos_margen_lag_6, lag(mactivos_margen, 7) over ventana_9 as mactivos_margen_lag_7, lag(mactivos_margen, 8) over ventana_9 as mactivos_margen_lag_8, lag(mactivos_margen, 9) over ventana_9 as mactivos_margen_lag_9, mactivos_margen - lag(mactivos_margen, 1) over ventana_9 as mactivos_margen_delta_1_lag, mactivos_margen - lag(mactivos_margen, 2) over ventana_9 as mactivos_margen_delta_2_lag, mactivos_margen - lag(mactivos_margen, 3) over ventana_9 as mactivos_margen_delta_3_lag, mactivos_margen - lag(mactivos_margen, 4) over ventana_9 as mactivos_margen_delta_4_lag, mactivos_margen - lag(mactivos_margen, 5) over ventana_9 as mactivos_margen_delta_5_lag, mactivos_margen - lag(mactivos_margen, 6) over ventana_9 as mactivos_margen_delta_6_lag, mactivos_margen - lag(mactivos_margen, 7) over ventana_9 as mactivos_margen_delta_7_lag, mactivos_margen - lag(mactivos_margen, 8) over ventana_9 as mactivos_margen_delta_8_lag, mactivos_margen - lag(mactivos_margen, 9) over ventana_9 as mactivos_margen_delta_9_lag, avg(mactivos_margen) over ventana_9 as mactivos_margen_media_9, max(mactivos_margen) over ventana_9 as mactivos_margen_max_9,  min(mactivos_margen) over ventana_9 as mactivos_margen_min_9
, regr_slope(chomebanking_transacciones, cliente_antiguedad) over ventana_9 as chomebanking_transacciones_slope_6, lag(chomebanking_transacciones, 1) over ventana_9 as chomebanking_transacciones_lag_1, lag(chomebanking_transacciones, 2) over ventana_9 as chomebanking_transacciones_lag_2, lag(chomebanking_transacciones, 3) over ventana_9 as chomebanking_transacciones_lag_3, lag(chomebanking_transacciones, 4) over ventana_9 as chomebanking_transacciones_lag_4, lag(chomebanking_transacciones, 5) over ventana_9 as chomebanking_transacciones_lag_5, lag(chomebanking_transacciones, 6) over ventana_9 as chomebanking_transacciones_lag_6, lag(chomebanking_transacciones, 7) over ventana_9 as chomebanking_transacciones_lag_7, lag(chomebanking_transacciones, 8) over ventana_9 as chomebanking_transacciones_lag_8, lag(chomebanking_transacciones, 9) over ventana_9 as chomebanking_transacciones_lag_9, chomebanking_transacciones - lag(chomebanking_transacciones, 1) over ventana_9 as chomebanking_transacciones_delta_1_lag, chomebanking_transacciones - lag(chomebanking_transacciones, 2) over ventana_9 as chomebanking_transacciones_delta_2_lag, chomebanking_transacciones - lag(chomebanking_transacciones, 3) over ventana_9 as chomebanking_transacciones_delta_3_lag, chomebanking_transacciones - lag(chomebanking_transacciones, 4) over ventana_9 as chomebanking_transacciones_delta_4_lag, chomebanking_transacciones - lag(chomebanking_transacciones, 5) over ventana_9 as chomebanking_transacciones_delta_5_lag, chomebanking_transacciones - lag(chomebanking_transacciones, 6) over ventana_9 as chomebanking_transacciones_delta_6_lag, chomebanking_transacciones - lag(chomebanking_transacciones, 7) over ventana_9 as chomebanking_transacciones_delta_7_lag, chomebanking_transacciones - lag(chomebanking_transacciones, 8) over ventana_9 as chomebanking_transacciones_delta_8_lag, chomebanking_transacciones - lag(chomebanking_transacciones, 9) over ventana_9 as chomebanking_transacciones_delta_9_lag, avg(chomebanking_transacciones) over ventana_9 as chomebanking_transacciones_media_9, max(chomebanking_transacciones) over ventana_9 as chomebanking_transacciones_max_9,  min(chomebanking_transacciones) over ventana_9 as chomebanking_transacciones_min_9
, regr_slope(mtarjeta_visa_consumo, cliente_antiguedad) over ventana_9 as mtarjeta_visa_consumo_slope_6, lag(mtarjeta_visa_consumo, 1) over ventana_9 as mtarjeta_visa_consumo_lag_1, lag(mtarjeta_visa_consumo, 2) over ventana_9 as mtarjeta_visa_consumo_lag_2, lag(mtarjeta_visa_consumo, 3) over ventana_9 as mtarjeta_visa_consumo_lag_3, lag(mtarjeta_visa_consumo, 4) over ventana_9 as mtarjeta_visa_consumo_lag_4, lag(mtarjeta_visa_consumo, 5) over ventana_9 as mtarjeta_visa_consumo_lag_5, lag(mtarjeta_visa_consumo, 6) over ventana_9 as mtarjeta_visa_consumo_lag_6, lag(mtarjeta_visa_consumo, 7) over ventana_9 as mtarjeta_visa_consumo_lag_7, lag(mtarjeta_visa_consumo, 8) over ventana_9 as mtarjeta_visa_consumo_lag_8, lag(mtarjeta_visa_consumo, 9) over ventana_9 as mtarjeta_visa_consumo_lag_9, mtarjeta_visa_consumo - lag(mtarjeta_visa_consumo, 1) over ventana_9 as mtarjeta_visa_consumo_delta_1_lag, mtarjeta_visa_consumo - lag(mtarjeta_visa_consumo, 2) over ventana_9 as mtarjeta_visa_consumo_delta_2_lag, mtarjeta_visa_consumo - lag(mtarjeta_visa_consumo, 3) over ventana_9 as mtarjeta_visa_consumo_delta_3_lag, mtarjeta_visa_consumo - lag(mtarjeta_visa_consumo, 4) over ventana_9 as mtarjeta_visa_consumo_delta_4_lag, mtarjeta_visa_consumo - lag(mtarjeta_visa_consumo, 5) over ventana_9 as mtarjeta_visa_consumo_delta_5_lag, mtarjeta_visa_consumo - lag(mtarjeta_visa_consumo, 6) over ventana_9 as mtarjeta_visa_consumo_delta_6_lag, mtarjeta_visa_consumo - lag(mtarjeta_visa_consumo, 7) over ventana_9 as mtarjeta_visa_consumo_delta_7_lag, mtarjeta_visa_consumo - lag(mtarjeta_visa_consumo, 8) over ventana_9 as mtarjeta_visa_consumo_delta_8_lag, mtarjeta_visa_consumo - lag(mtarjeta_visa_consumo, 9) over ventana_9 as mtarjeta_visa_consumo_delta_9_lag, avg(mtarjeta_visa_consumo) over ventana_9 as mtarjeta_visa_consumo_media_9, max(mtarjeta_visa_consumo) over ventana_9 as mtarjeta_visa_consumo_max_9,  min(mtarjeta_visa_consumo) over ventana_9 as mtarjeta_visa_consumo_min_9
, regr_slope(mrentabilidad, cliente_antiguedad) over ventana_9 as mrentabilidad_slope_6, lag(mrentabilidad, 1) over ventana_9 as mrentabilidad_lag_1, lag(mrentabilidad, 2) over ventana_9 as mrentabilidad_lag_2, lag(mrentabilidad, 3) over ventana_9 as mrentabilidad_lag_3, lag(mrentabilidad, 4) over ventana_9 as mrentabilidad_lag_4, lag(mrentabilidad, 5) over ventana_9 as mrentabilidad_lag_5, lag(mrentabilidad, 6) over ventana_9 as mrentabilidad_lag_6, lag(mrentabilidad, 7) over ventana_9 as mrentabilidad_lag_7, lag(mrentabilidad, 8) over ventana_9 as mrentabilidad_lag_8, lag(mrentabilidad, 9) over ventana_9 as mrentabilidad_lag_9, mrentabilidad - lag(mrentabilidad, 1) over ventana_9 as mrentabilidad_delta_1_lag, mrentabilidad - lag(mrentabilidad, 2) over ventana_9 as mrentabilidad_delta_2_lag, mrentabilidad - lag(mrentabilidad, 3) over ventana_9 as mrentabilidad_delta_3_lag, mrentabilidad - lag(mrentabilidad, 4) over ventana_9 as mrentabilidad_delta_4_lag, mrentabilidad - lag(mrentabilidad, 5) over ventana_9 as mrentabilidad_delta_5_lag, mrentabilidad - lag(mrentabilidad, 6) over ventana_9 as mrentabilidad_delta_6_lag, mrentabilidad - lag(mrentabilidad, 7) over ventana_9 as mrentabilidad_delta_7_lag, mrentabilidad - lag(mrentabilidad, 8) over ventana_9 as mrentabilidad_delta_8_lag, mrentabilidad - lag(mrentabilidad, 9) over ventana_9 as mrentabilidad_delta_9_lag, avg(mrentabilidad) over ventana_9 as mrentabilidad_media_9, max(mrentabilidad) over ventana_9 as mrentabilidad_max_9,  min(mrentabilidad) over ventana_9 as mrentabilidad_min_9
, regr_slope(cproductos, cliente_antiguedad) over ventana_9 as cproductos_slope_6, lag(cproductos, 1) over ventana_9 as cproductos_lag_1, lag(cproductos, 2) over ventana_9 as cproductos_lag_2, lag(cproductos, 3) over ventana_9 as cproductos_lag_3, lag(cproductos, 4) over ventana_9 as cproductos_lag_4, lag(cproductos, 5) over ventana_9 as cproductos_lag_5, lag(cproductos, 6) over ventana_9 as cproductos_lag_6, lag(cproductos, 7) over ventana_9 as cproductos_lag_7, lag(cproductos, 8) over ventana_9 as cproductos_lag_8, lag(cproductos, 9) over ventana_9 as cproductos_lag_9, cproductos - lag(cproductos, 1) over ventana_9 as cproductos_delta_1_lag, cproductos - lag(cproductos, 2) over ventana_9 as cproductos_delta_2_lag, cproductos - lag(cproductos, 3) over ventana_9 as cproductos_delta_3_lag, cproductos - lag(cproductos, 4) over ventana_9 as cproductos_delta_4_lag, cproductos - lag(cproductos, 5) over ventana_9 as cproductos_delta_5_lag, cproductos - lag(cproductos, 6) over ventana_9 as cproductos_delta_6_lag, cproductos - lag(cproductos, 7) over ventana_9 as cproductos_delta_7_lag, cproductos - lag(cproductos, 8) over ventana_9 as cproductos_delta_8_lag, cproductos - lag(cproductos, 9) over ventana_9 as cproductos_delta_9_lag, avg(cproductos) over ventana_9 as cproductos_media_9, max(cproductos) over ventana_9 as cproductos_max_9,  min(cproductos) over ventana_9 as cproductos_min_9
, regr_slope(ctarjeta_visa_transacciones, cliente_antiguedad) over ventana_9 as ctarjeta_visa_transacciones_slope_6, lag(ctarjeta_visa_transacciones, 1) over ventana_9 as ctarjeta_visa_transacciones_lag_1, lag(ctarjeta_visa_transacciones, 2) over ventana_9 as ctarjeta_visa_transacciones_lag_2, lag(ctarjeta_visa_transacciones, 3) over ventana_9 as ctarjeta_visa_transacciones_lag_3, lag(ctarjeta_visa_transacciones, 4) over ventana_9 as ctarjeta_visa_transacciones_lag_4, lag(ctarjeta_visa_transacciones, 5) over ventana_9 as ctarjeta_visa_transacciones_lag_5, lag(ctarjeta_visa_transacciones, 6) over ventana_9 as ctarjeta_visa_transacciones_lag_6, lag(ctarjeta_visa_transacciones, 7) over ventana_9 as ctarjeta_visa_transacciones_lag_7, lag(ctarjeta_visa_transacciones, 8) over ventana_9 as ctarjeta_visa_transacciones_lag_8, lag(ctarjeta_visa_transacciones, 9) over ventana_9 as ctarjeta_visa_transacciones_lag_9, ctarjeta_visa_transacciones - lag(ctarjeta_visa_transacciones, 1) over ventana_9 as ctarjeta_visa_transacciones_delta_1_lag, ctarjeta_visa_transacciones - lag(ctarjeta_visa_transacciones, 2) over ventana_9 as ctarjeta_visa_transacciones_delta_2_lag, ctarjeta_visa_transacciones - lag(ctarjeta_visa_transacciones, 3) over ventana_9 as ctarjeta_visa_transacciones_delta_3_lag, ctarjeta_visa_transacciones - lag(ctarjeta_visa_transacciones, 4) over ventana_9 as ctarjeta_visa_transacciones_delta_4_lag, ctarjeta_visa_transacciones - lag(ctarjeta_visa_transacciones, 5) over ventana_9 as ctarjeta_visa_transacciones_delta_5_lag, ctarjeta_visa_transacciones - lag(ctarjeta_visa_transacciones, 6) over ventana_9 as ctarjeta_visa_transacciones_delta_6_lag, ctarjeta_visa_transacciones - lag(ctarjeta_visa_transacciones, 7) over ventana_9 as ctarjeta_visa_transacciones_delta_7_lag, ctarjeta_visa_transacciones - lag(ctarjeta_visa_transacciones, 8) over ventana_9 as ctarjeta_visa_transacciones_delta_8_lag, ctarjeta_visa_transacciones - lag(ctarjeta_visa_transacciones, 9) over ventana_9 as ctarjeta_visa_transacciones_delta_9_lag, avg(ctarjeta_visa_transacciones) over ventana_9 as ctarjeta_visa_transacciones_media_9, max(ctarjeta_visa_transacciones) over ventana_9 as ctarjeta_visa_transacciones_max_9,  min(ctarjeta_visa_transacciones) over ventana_9 as ctarjeta_visa_transacciones_min_9
, regr_slope(Visa_mpagospesos, cliente_antiguedad) over ventana_9 as Visa_mpagospesos_slope_6, lag(Visa_mpagospesos, 1) over ventana_9 as Visa_mpagospesos_lag_1, lag(Visa_mpagospesos, 2) over ventana_9 as Visa_mpagospesos_lag_2, lag(Visa_mpagospesos, 3) over ventana_9 as Visa_mpagospesos_lag_3, lag(Visa_mpagospesos, 4) over ventana_9 as Visa_mpagospesos_lag_4, lag(Visa_mpagospesos, 5) over ventana_9 as Visa_mpagospesos_lag_5, lag(Visa_mpagospesos, 6) over ventana_9 as Visa_mpagospesos_lag_6, lag(Visa_mpagospesos, 7) over ventana_9 as Visa_mpagospesos_lag_7, lag(Visa_mpagospesos, 8) over ventana_9 as Visa_mpagospesos_lag_8, lag(Visa_mpagospesos, 9) over ventana_9 as Visa_mpagospesos_lag_9, Visa_mpagospesos - lag(Visa_mpagospesos, 1) over ventana_9 as Visa_mpagospesos_delta_1_lag, Visa_mpagospesos - lag(Visa_mpagospesos, 2) over ventana_9 as Visa_mpagospesos_delta_2_lag, Visa_mpagospesos - lag(Visa_mpagospesos, 3) over ventana_9 as Visa_mpagospesos_delta_3_lag, Visa_mpagospesos - lag(Visa_mpagospesos, 4) over ventana_9 as Visa_mpagospesos_delta_4_lag, Visa_mpagospesos - lag(Visa_mpagospesos, 5) over ventana_9 as Visa_mpagospesos_delta_5_lag, Visa_mpagospesos - lag(Visa_mpagospesos, 6) over ventana_9 as Visa_mpagospesos_delta_6_lag, Visa_mpagospesos - lag(Visa_mpagospesos, 7) over ventana_9 as Visa_mpagospesos_delta_7_lag, Visa_mpagospesos - lag(Visa_mpagospesos, 8) over ventana_9 as Visa_mpagospesos_delta_8_lag, Visa_mpagospesos - lag(Visa_mpagospesos, 9) over ventana_9 as Visa_mpagospesos_delta_9_lag, avg(Visa_mpagospesos) over ventana_9 as Visa_mpagospesos_media_9, max(Visa_mpagospesos) over ventana_9 as Visa_mpagospesos_max_9,  min(Visa_mpagospesos) over ventana_9 as Visa_mpagospesos_min_9
, regr_slope(mcomisiones_mantenimiento, cliente_antiguedad) over ventana_9 as mcomisiones_mantenimiento_slope_6, lag(mcomisiones_mantenimiento, 1) over ventana_9 as mcomisiones_mantenimiento_lag_1, lag(mcomisiones_mantenimiento, 2) over ventana_9 as mcomisiones_mantenimiento_lag_2, lag(mcomisiones_mantenimiento, 3) over ventana_9 as mcomisiones_mantenimiento_lag_3, lag(mcomisiones_mantenimiento, 4) over ventana_9 as mcomisiones_mantenimiento_lag_4, lag(mcomisiones_mantenimiento, 5) over ventana_9 as mcomisiones_mantenimiento_lag_5, lag(mcomisiones_mantenimiento, 6) over ventana_9 as mcomisiones_mantenimiento_lag_6, lag(mcomisiones_mantenimiento, 7) over ventana_9 as mcomisiones_mantenimiento_lag_7, lag(mcomisiones_mantenimiento, 8) over ventana_9 as mcomisiones_mantenimiento_lag_8, lag(mcomisiones_mantenimiento, 9) over ventana_9 as mcomisiones_mantenimiento_lag_9, mcomisiones_mantenimiento - lag(mcomisiones_mantenimiento, 1) over ventana_9 as mcomisiones_mantenimiento_delta_1_lag, mcomisiones_mantenimiento - lag(mcomisiones_mantenimiento, 2) over ventana_9 as mcomisiones_mantenimiento_delta_2_lag, mcomisiones_mantenimiento - lag(mcomisiones_mantenimiento, 3) over ventana_9 as mcomisiones_mantenimiento_delta_3_lag, mcomisiones_mantenimiento - lag(mcomisiones_mantenimiento, 4) over ventana_9 as mcomisiones_mantenimiento_delta_4_lag, mcomisiones_mantenimiento - lag(mcomisiones_mantenimiento, 5) over ventana_9 as mcomisiones_mantenimiento_delta_5_lag, mcomisiones_mantenimiento - lag(mcomisiones_mantenimiento, 6) over ventana_9 as mcomisiones_mantenimiento_delta_6_lag, mcomisiones_mantenimiento - lag(mcomisiones_mantenimiento, 7) over ventana_9 as mcomisiones_mantenimiento_delta_7_lag, mcomisiones_mantenimiento - lag(mcomisiones_mantenimiento, 8) over ventana_9 as mcomisiones_mantenimiento_delta_8_lag, mcomisiones_mantenimiento - lag(mcomisiones_mantenimiento, 9) over ventana_9 as mcomisiones_mantenimiento_delta_9_lag, avg(mcomisiones_mantenimiento) over ventana_9 as mcomisiones_mantenimiento_media_9, max(mcomisiones_mantenimiento) over ventana_9 as mcomisiones_mantenimiento_max_9,  min(mcomisiones_mantenimiento) over ventana_9 as mcomisiones_mantenimiento_min_9
, regr_slope(mcaja_ahorro_dolares, cliente_antiguedad) over ventana_9 as mcaja_ahorro_dolares_slope_6, lag(mcaja_ahorro_dolares, 1) over ventana_9 as mcaja_ahorro_dolares_lag_1, lag(mcaja_ahorro_dolares, 2) over ventana_9 as mcaja_ahorro_dolares_lag_2, lag(mcaja_ahorro_dolares, 3) over ventana_9 as mcaja_ahorro_dolares_lag_3, lag(mcaja_ahorro_dolares, 4) over ventana_9 as mcaja_ahorro_dolares_lag_4, lag(mcaja_ahorro_dolares, 5) over ventana_9 as mcaja_ahorro_dolares_lag_5, lag(mcaja_ahorro_dolares, 6) over ventana_9 as mcaja_ahorro_dolares_lag_6, lag(mcaja_ahorro_dolares, 7) over ventana_9 as mcaja_ahorro_dolares_lag_7, lag(mcaja_ahorro_dolares, 8) over ventana_9 as mcaja_ahorro_dolares_lag_8, lag(mcaja_ahorro_dolares, 9) over ventana_9 as mcaja_ahorro_dolares_lag_9, mcaja_ahorro_dolares - lag(mcaja_ahorro_dolares, 1) over ventana_9 as mcaja_ahorro_dolares_delta_1_lag, mcaja_ahorro_dolares - lag(mcaja_ahorro_dolares, 2) over ventana_9 as mcaja_ahorro_dolares_delta_2_lag, mcaja_ahorro_dolares - lag(mcaja_ahorro_dolares, 3) over ventana_9 as mcaja_ahorro_dolares_delta_3_lag, mcaja_ahorro_dolares - lag(mcaja_ahorro_dolares, 4) over ventana_9 as mcaja_ahorro_dolares_delta_4_lag, mcaja_ahorro_dolares - lag(mcaja_ahorro_dolares, 5) over ventana_9 as mcaja_ahorro_dolares_delta_5_lag, mcaja_ahorro_dolares - lag(mcaja_ahorro_dolares, 6) over ventana_9 as mcaja_ahorro_dolares_delta_6_lag, mcaja_ahorro_dolares - lag(mcaja_ahorro_dolares, 7) over ventana_9 as mcaja_ahorro_dolares_delta_7_lag, mcaja_ahorro_dolares - lag(mcaja_ahorro_dolares, 8) over ventana_9 as mcaja_ahorro_dolares_delta_8_lag, mcaja_ahorro_dolares - lag(mcaja_ahorro_dolares, 9) over ventana_9 as mcaja_ahorro_dolares_delta_9_lag, avg(mcaja_ahorro_dolares) over ventana_9 as mcaja_ahorro_dolares_media_9, max(mcaja_ahorro_dolares) over ventana_9 as mcaja_ahorro_dolares_max_9,  min(mcaja_ahorro_dolares) over ventana_9 as mcaja_ahorro_dolares_min_9
, regr_slope(mtransferencias_recibidas, cliente_antiguedad) over ventana_9 as mtransferencias_recibidas_slope_6, lag(mtransferencias_recibidas, 1) over ventana_9 as mtransferencias_recibidas_lag_1, lag(mtransferencias_recibidas, 2) over ventana_9 as mtransferencias_recibidas_lag_2, lag(mtransferencias_recibidas, 3) over ventana_9 as mtransferencias_recibidas_lag_3, lag(mtransferencias_recibidas, 4) over ventana_9 as mtransferencias_recibidas_lag_4, lag(mtransferencias_recibidas, 5) over ventana_9 as mtransferencias_recibidas_lag_5, lag(mtransferencias_recibidas, 6) over ventana_9 as mtransferencias_recibidas_lag_6, lag(mtransferencias_recibidas, 7) over ventana_9 as mtransferencias_recibidas_lag_7, lag(mtransferencias_recibidas, 8) over ventana_9 as mtransferencias_recibidas_lag_8, lag(mtransferencias_recibidas, 9) over ventana_9 as mtransferencias_recibidas_lag_9, mtransferencias_recibidas - lag(mtransferencias_recibidas, 1) over ventana_9 as mtransferencias_recibidas_delta_1_lag, mtransferencias_recibidas - lag(mtransferencias_recibidas, 2) over ventana_9 as mtransferencias_recibidas_delta_2_lag, mtransferencias_recibidas - lag(mtransferencias_recibidas, 3) over ventana_9 as mtransferencias_recibidas_delta_3_lag, mtransferencias_recibidas - lag(mtransferencias_recibidas, 4) over ventana_9 as mtransferencias_recibidas_delta_4_lag, mtransferencias_recibidas - lag(mtransferencias_recibidas, 5) over ventana_9 as mtransferencias_recibidas_delta_5_lag, mtransferencias_recibidas - lag(mtransferencias_recibidas, 6) over ventana_9 as mtransferencias_recibidas_delta_6_lag, mtransferencias_recibidas - lag(mtransferencias_recibidas, 7) over ventana_9 as mtransferencias_recibidas_delta_7_lag, mtransferencias_recibidas - lag(mtransferencias_recibidas, 8) over ventana_9 as mtransferencias_recibidas_delta_8_lag, mtransferencias_recibidas - lag(mtransferencias_recibidas, 9) over ventana_9 as mtransferencias_recibidas_delta_9_lag, avg(mtransferencias_recibidas) over ventana_9 as mtransferencias_recibidas_media_9, max(mtransferencias_recibidas) over ventana_9 as mtransferencias_recibidas_max_9,  min(mtransferencias_recibidas) over ventana_9 as mtransferencias_recibidas_min_9
, regr_slope(Visa_mconsumospesos, cliente_antiguedad) over ventana_9 as Visa_mconsumospesos_slope_6, lag(Visa_mconsumospesos, 1) over ventana_9 as Visa_mconsumospesos_lag_1, lag(Visa_mconsumospesos, 2) over ventana_9 as Visa_mconsumospesos_lag_2, lag(Visa_mconsumospesos, 3) over ventana_9 as Visa_mconsumospesos_lag_3, lag(Visa_mconsumospesos, 4) over ventana_9 as Visa_mconsumospesos_lag_4, lag(Visa_mconsumospesos, 5) over ventana_9 as Visa_mconsumospesos_lag_5, lag(Visa_mconsumospesos, 6) over ventana_9 as Visa_mconsumospesos_lag_6, lag(Visa_mconsumospesos, 7) over ventana_9 as Visa_mconsumospesos_lag_7, lag(Visa_mconsumospesos, 8) over ventana_9 as Visa_mconsumospesos_lag_8, lag(Visa_mconsumospesos, 9) over ventana_9 as Visa_mconsumospesos_lag_9, Visa_mconsumospesos - lag(Visa_mconsumospesos, 1) over ventana_9 as Visa_mconsumospesos_delta_1_lag, Visa_mconsumospesos - lag(Visa_mconsumospesos, 2) over ventana_9 as Visa_mconsumospesos_delta_2_lag, Visa_mconsumospesos - lag(Visa_mconsumospesos, 3) over ventana_9 as Visa_mconsumospesos_delta_3_lag, Visa_mconsumospesos - lag(Visa_mconsumospesos, 4) over ventana_9 as Visa_mconsumospesos_delta_4_lag, Visa_mconsumospesos - lag(Visa_mconsumospesos, 5) over ventana_9 as Visa_mconsumospesos_delta_5_lag, Visa_mconsumospesos - lag(Visa_mconsumospesos, 6) over ventana_9 as Visa_mconsumospesos_delta_6_lag, Visa_mconsumospesos - lag(Visa_mconsumospesos, 7) over ventana_9 as Visa_mconsumospesos_delta_7_lag, Visa_mconsumospesos - lag(Visa_mconsumospesos, 8) over ventana_9 as Visa_mconsumospesos_delta_8_lag, Visa_mconsumospesos - lag(Visa_mconsumospesos, 9) over ventana_9 as Visa_mconsumospesos_delta_9_lag, avg(Visa_mconsumospesos) over ventana_9 as Visa_mconsumospesos_media_9, max(Visa_mconsumospesos) over ventana_9 as Visa_mconsumospesos_max_9,  min(Visa_mconsumospesos) over ventana_9 as Visa_mconsumospesos_min_9
, regr_slope(mcomisiones_otras, cliente_antiguedad) over ventana_9 as mcomisiones_otras_slope_6, lag(mcomisiones_otras, 1) over ventana_9 as mcomisiones_otras_lag_1, lag(mcomisiones_otras, 2) over ventana_9 as mcomisiones_otras_lag_2, lag(mcomisiones_otras, 3) over ventana_9 as mcomisiones_otras_lag_3, lag(mcomisiones_otras, 4) over ventana_9 as mcomisiones_otras_lag_4, lag(mcomisiones_otras, 5) over ventana_9 as mcomisiones_otras_lag_5, lag(mcomisiones_otras, 6) over ventana_9 as mcomisiones_otras_lag_6, lag(mcomisiones_otras, 7) over ventana_9 as mcomisiones_otras_lag_7, lag(mcomisiones_otras, 8) over ventana_9 as mcomisiones_otras_lag_8, lag(mcomisiones_otras, 9) over ventana_9 as mcomisiones_otras_lag_9, mcomisiones_otras - lag(mcomisiones_otras, 1) over ventana_9 as mcomisiones_otras_delta_1_lag, mcomisiones_otras - lag(mcomisiones_otras, 2) over ventana_9 as mcomisiones_otras_delta_2_lag, mcomisiones_otras - lag(mcomisiones_otras, 3) over ventana_9 as mcomisiones_otras_delta_3_lag, mcomisiones_otras - lag(mcomisiones_otras, 4) over ventana_9 as mcomisiones_otras_delta_4_lag, mcomisiones_otras - lag(mcomisiones_otras, 5) over ventana_9 as mcomisiones_otras_delta_5_lag, mcomisiones_otras - lag(mcomisiones_otras, 6) over ventana_9 as mcomisiones_otras_delta_6_lag, mcomisiones_otras - lag(mcomisiones_otras, 7) over ventana_9 as mcomisiones_otras_delta_7_lag, mcomisiones_otras - lag(mcomisiones_otras, 8) over ventana_9 as mcomisiones_otras_delta_8_lag, mcomisiones_otras - lag(mcomisiones_otras, 9) over ventana_9 as mcomisiones_otras_delta_9_lag, avg(mcomisiones_otras) over ventana_9 as mcomisiones_otras_media_9, max(mcomisiones_otras) over ventana_9 as mcomisiones_otras_max_9,  min(mcomisiones_otras) over ventana_9 as mcomisiones_otras_min_9
, regr_slope(ccomisiones_otras, cliente_antiguedad) over ventana_9 as ccomisiones_otras_slope_6, lag(ccomisiones_otras, 1) over ventana_9 as ccomisiones_otras_lag_1, lag(ccomisiones_otras, 2) over ventana_9 as ccomisiones_otras_lag_2, lag(ccomisiones_otras, 3) over ventana_9 as ccomisiones_otras_lag_3, lag(ccomisiones_otras, 4) over ventana_9 as ccomisiones_otras_lag_4, lag(ccomisiones_otras, 5) over ventana_9 as ccomisiones_otras_lag_5, lag(ccomisiones_otras, 6) over ventana_9 as ccomisiones_otras_lag_6, lag(ccomisiones_otras, 7) over ventana_9 as ccomisiones_otras_lag_7, lag(ccomisiones_otras, 8) over ventana_9 as ccomisiones_otras_lag_8, lag(ccomisiones_otras, 9) over ventana_9 as ccomisiones_otras_lag_9, ccomisiones_otras - lag(ccomisiones_otras, 1) over ventana_9 as ccomisiones_otras_delta_1_lag, ccomisiones_otras - lag(ccomisiones_otras, 2) over ventana_9 as ccomisiones_otras_delta_2_lag, ccomisiones_otras - lag(ccomisiones_otras, 3) over ventana_9 as ccomisiones_otras_delta_3_lag, ccomisiones_otras - lag(ccomisiones_otras, 4) over ventana_9 as ccomisiones_otras_delta_4_lag, ccomisiones_otras - lag(ccomisiones_otras, 5) over ventana_9 as ccomisiones_otras_delta_5_lag, ccomisiones_otras - lag(ccomisiones_otras, 6) over ventana_9 as ccomisiones_otras_delta_6_lag, ccomisiones_otras - lag(ccomisiones_otras, 7) over ventana_9 as ccomisiones_otras_delta_7_lag, ccomisiones_otras - lag(ccomisiones_otras, 8) over ventana_9 as ccomisiones_otras_delta_8_lag, ccomisiones_otras - lag(ccomisiones_otras, 9) over ventana_9 as ccomisiones_otras_delta_9_lag, avg(ccomisiones_otras) over ventana_9 as ccomisiones_otras_media_9, max(ccomisiones_otras) over ventana_9 as ccomisiones_otras_max_9,  min(ccomisiones_otras) over ventana_9 as ccomisiones_otras_min_9
, regr_slope(Visa_msaldopesos, cliente_antiguedad) over ventana_9 as Visa_msaldopesos_slope_6, lag(Visa_msaldopesos, 1) over ventana_9 as Visa_msaldopesos_lag_1, lag(Visa_msaldopesos, 2) over ventana_9 as Visa_msaldopesos_lag_2, lag(Visa_msaldopesos, 3) over ventana_9 as Visa_msaldopesos_lag_3, lag(Visa_msaldopesos, 4) over ventana_9 as Visa_msaldopesos_lag_4, lag(Visa_msaldopesos, 5) over ventana_9 as Visa_msaldopesos_lag_5, lag(Visa_msaldopesos, 6) over ventana_9 as Visa_msaldopesos_lag_6, lag(Visa_msaldopesos, 7) over ventana_9 as Visa_msaldopesos_lag_7, lag(Visa_msaldopesos, 8) over ventana_9 as Visa_msaldopesos_lag_8, lag(Visa_msaldopesos, 9) over ventana_9 as Visa_msaldopesos_lag_9, Visa_msaldopesos - lag(Visa_msaldopesos, 1) over ventana_9 as Visa_msaldopesos_delta_1_lag, Visa_msaldopesos - lag(Visa_msaldopesos, 2) over ventana_9 as Visa_msaldopesos_delta_2_lag, Visa_msaldopesos - lag(Visa_msaldopesos, 3) over ventana_9 as Visa_msaldopesos_delta_3_lag, Visa_msaldopesos - lag(Visa_msaldopesos, 4) over ventana_9 as Visa_msaldopesos_delta_4_lag, Visa_msaldopesos - lag(Visa_msaldopesos, 5) over ventana_9 as Visa_msaldopesos_delta_5_lag, Visa_msaldopesos - lag(Visa_msaldopesos, 6) over ventana_9 as Visa_msaldopesos_delta_6_lag, Visa_msaldopesos - lag(Visa_msaldopesos, 7) over ventana_9 as Visa_msaldopesos_delta_7_lag, Visa_msaldopesos - lag(Visa_msaldopesos, 8) over ventana_9 as Visa_msaldopesos_delta_8_lag, Visa_msaldopesos - lag(Visa_msaldopesos, 9) over ventana_9 as Visa_msaldopesos_delta_9_lag, avg(Visa_msaldopesos) over ventana_9 as Visa_msaldopesos_media_9, max(Visa_msaldopesos) over ventana_9 as Visa_msaldopesos_max_9,  min(Visa_msaldopesos) over ventana_9 as Visa_msaldopesos_min_9
, regr_slope(Visa_cconsumos, cliente_antiguedad) over ventana_9 as Visa_cconsumos_slope_6, lag(Visa_cconsumos, 1) over ventana_9 as Visa_cconsumos_lag_1, lag(Visa_cconsumos, 2) over ventana_9 as Visa_cconsumos_lag_2, lag(Visa_cconsumos, 3) over ventana_9 as Visa_cconsumos_lag_3, lag(Visa_cconsumos, 4) over ventana_9 as Visa_cconsumos_lag_4, lag(Visa_cconsumos, 5) over ventana_9 as Visa_cconsumos_lag_5, lag(Visa_cconsumos, 6) over ventana_9 as Visa_cconsumos_lag_6, lag(Visa_cconsumos, 7) over ventana_9 as Visa_cconsumos_lag_7, lag(Visa_cconsumos, 8) over ventana_9 as Visa_cconsumos_lag_8, lag(Visa_cconsumos, 9) over ventana_9 as Visa_cconsumos_lag_9, Visa_cconsumos - lag(Visa_cconsumos, 1) over ventana_9 as Visa_cconsumos_delta_1_lag, Visa_cconsumos - lag(Visa_cconsumos, 2) over ventana_9 as Visa_cconsumos_delta_2_lag, Visa_cconsumos - lag(Visa_cconsumos, 3) over ventana_9 as Visa_cconsumos_delta_3_lag, Visa_cconsumos - lag(Visa_cconsumos, 4) over ventana_9 as Visa_cconsumos_delta_4_lag, Visa_cconsumos - lag(Visa_cconsumos, 5) over ventana_9 as Visa_cconsumos_delta_5_lag, Visa_cconsumos - lag(Visa_cconsumos, 6) over ventana_9 as Visa_cconsumos_delta_6_lag, Visa_cconsumos - lag(Visa_cconsumos, 7) over ventana_9 as Visa_cconsumos_delta_7_lag, Visa_cconsumos - lag(Visa_cconsumos, 8) over ventana_9 as Visa_cconsumos_delta_8_lag, Visa_cconsumos - lag(Visa_cconsumos, 9) over ventana_9 as Visa_cconsumos_delta_9_lag, avg(Visa_cconsumos) over ventana_9 as Visa_cconsumos_media_9, max(Visa_cconsumos) over ventana_9 as Visa_cconsumos_max_9,  min(Visa_cconsumos) over ventana_9 as Visa_cconsumos_min_9
, regr_slope(Visa_msaldototal, cliente_antiguedad) over ventana_9 as Visa_msaldototal_slope_6, lag(Visa_msaldototal, 1) over ventana_9 as Visa_msaldototal_lag_1, lag(Visa_msaldototal, 2) over ventana_9 as Visa_msaldototal_lag_2, lag(Visa_msaldototal, 3) over ventana_9 as Visa_msaldototal_lag_3, lag(Visa_msaldototal, 4) over ventana_9 as Visa_msaldototal_lag_4, lag(Visa_msaldototal, 5) over ventana_9 as Visa_msaldototal_lag_5, lag(Visa_msaldototal, 6) over ventana_9 as Visa_msaldototal_lag_6, lag(Visa_msaldototal, 7) over ventana_9 as Visa_msaldototal_lag_7, lag(Visa_msaldototal, 8) over ventana_9 as Visa_msaldototal_lag_8, lag(Visa_msaldototal, 9) over ventana_9 as Visa_msaldototal_lag_9, Visa_msaldototal - lag(Visa_msaldototal, 1) over ventana_9 as Visa_msaldototal_delta_1_lag, Visa_msaldototal - lag(Visa_msaldototal, 2) over ventana_9 as Visa_msaldototal_delta_2_lag, Visa_msaldototal - lag(Visa_msaldototal, 3) over ventana_9 as Visa_msaldototal_delta_3_lag, Visa_msaldototal - lag(Visa_msaldototal, 4) over ventana_9 as Visa_msaldototal_delta_4_lag, Visa_msaldototal - lag(Visa_msaldototal, 5) over ventana_9 as Visa_msaldototal_delta_5_lag, Visa_msaldototal - lag(Visa_msaldototal, 6) over ventana_9 as Visa_msaldototal_delta_6_lag, Visa_msaldototal - lag(Visa_msaldototal, 7) over ventana_9 as Visa_msaldototal_delta_7_lag, Visa_msaldototal - lag(Visa_msaldototal, 8) over ventana_9 as Visa_msaldototal_delta_8_lag, Visa_msaldototal - lag(Visa_msaldototal, 9) over ventana_9 as Visa_msaldototal_delta_9_lag, avg(Visa_msaldototal) over ventana_9 as Visa_msaldototal_media_9, max(Visa_msaldototal) over ventana_9 as Visa_msaldototal_max_9,  min(Visa_msaldototal) over ventana_9 as Visa_msaldototal_min_9
, regr_slope(ctarjeta_debito, cliente_antiguedad) over ventana_9 as ctarjeta_debito_slope_6, lag(ctarjeta_debito, 1) over ventana_9 as ctarjeta_debito_lag_1, lag(ctarjeta_debito, 2) over ventana_9 as ctarjeta_debito_lag_2, lag(ctarjeta_debito, 3) over ventana_9 as ctarjeta_debito_lag_3, lag(ctarjeta_debito, 4) over ventana_9 as ctarjeta_debito_lag_4, lag(ctarjeta_debito, 5) over ventana_9 as ctarjeta_debito_lag_5, lag(ctarjeta_debito, 6) over ventana_9 as ctarjeta_debito_lag_6, lag(ctarjeta_debito, 7) over ventana_9 as ctarjeta_debito_lag_7, lag(ctarjeta_debito, 8) over ventana_9 as ctarjeta_debito_lag_8, lag(ctarjeta_debito, 9) over ventana_9 as ctarjeta_debito_lag_9, ctarjeta_debito - lag(ctarjeta_debito, 1) over ventana_9 as ctarjeta_debito_delta_1_lag, ctarjeta_debito - lag(ctarjeta_debito, 2) over ventana_9 as ctarjeta_debito_delta_2_lag, ctarjeta_debito - lag(ctarjeta_debito, 3) over ventana_9 as ctarjeta_debito_delta_3_lag, ctarjeta_debito - lag(ctarjeta_debito, 4) over ventana_9 as ctarjeta_debito_delta_4_lag, ctarjeta_debito - lag(ctarjeta_debito, 5) over ventana_9 as ctarjeta_debito_delta_5_lag, ctarjeta_debito - lag(ctarjeta_debito, 6) over ventana_9 as ctarjeta_debito_delta_6_lag, ctarjeta_debito - lag(ctarjeta_debito, 7) over ventana_9 as ctarjeta_debito_delta_7_lag, ctarjeta_debito - lag(ctarjeta_debito, 8) over ventana_9 as ctarjeta_debito_delta_8_lag, ctarjeta_debito - lag(ctarjeta_debito, 9) over ventana_9 as ctarjeta_debito_delta_9_lag, avg(ctarjeta_debito) over ventana_9 as ctarjeta_debito_media_9, max(ctarjeta_debito) over ventana_9 as ctarjeta_debito_max_9,  min(ctarjeta_debito) over ventana_9 as ctarjeta_debito_min_9

FROM competencia_02
--where numero_de_cliente = 29188883
WINDOW ventana_9 AS (PARTITION BY numero_de_cliente ORDER BY foto_mes ROWS BETWEEN 9 PRECEDING AND CURRENT ROW)

CPU times: user 501 ms, sys: 55.5 ms, total: 557 ms
Wall time: 613 ms

Empty DataFrame
Columns: [Success]
Index: []

## Escribo el archivo

In [61]:
%%time
%%sql
copy competencia_02 to '/home/miguel/Documents/dmeyf/datasets/competencia_02.csv.gz' (FORMAT CSV, HEADER)

CPU times: user 302 ms, sys: 103 ms, total: 405 ms
Wall time: 378 ms

Empty DataFrame
Columns: [Success]
Index: []

## Verifico el archivo

In [65]:
%%time
%%sql
create or replace table competencia_02_verificar as
select
  numero_de_cliente
  , foto_mes
from read_csv_auto('/home/miguel/Documents/dmeyf/datasets/competencia_02.csv.gz')

CPU times: user 240 ms, sys: 18.7 ms, total: 259 ms
Wall time: 355 ms

Empty DataFrame
Columns: [Success]
Index: []

In [66]:
%%time
%sql SELECT count(*) FROM competencia_02_verificar

CPU times: user 138 ms, sys: 5.91 ms, total: 144 ms
Wall time: 224 ms

   count_star()
0            31

In [11]:
%%sql
SELECT column_name, data_type
FROM information_schema.columns
WHERE table_name = 'competencia_02';

                 column_name data_type
0          numero_de_cliente    BIGINT
1                   foto_mes    BIGINT
2             active_quarter    BIGINT
3                cliente_vip    BIGINT
4                   internet    BIGINT
..                       ...       ...
149           Visa_fechaalta    BIGINT
150       Visa_mconsumototal    DOUBLE
151           Visa_cconsumos    BIGINT
152  Visa_cadelantosefectivo    BIGINT
153         Visa_mpagominimo    DOUBLE

[154 rows x 2 columns]

# Filtro archivos

In [34]:
%%sql
select distinct numero_de_cliente from competencia_02

        numero_de_cliente
0                29183981
1                29188490
2                29217884
3                29220574
4                29220890
...                   ...
184182          122158318
184183          124351612
184184          128228404
184185          132027621
184186          130588453

[184187 rows x 1 columns]

## Archivo de 100

In [4]:
%%sql
select count(*) from competencia_02

   count_star()
0       4562810

In [10]:
%%sql 
SELECT * from competencia_02 where numero_de_cliente in 
(select numero_de_cliente
FROM competencia_02
ORDER BY RANDOM()
LIMIT 100)

,numero_de_cliente,foto_mes,active_quarter,cliente_vip,internet,cliente_edad,cliente_antiguedad,mrentabilidad,mrentabilidad_annual,mcomisiones,...,Visa_fultimo_cierre,Visa_mpagado,Visa_mpagospesos,Visa_mpagosdolares,Visa_fechaalta,Visa_mconsumototal,Visa_cconsumos,Visa_cadelantosefectivo,Visa_mpagominimo,clase_ternaria
0,29647783,201901,1,0,1,42,234,14944.50,70710.59,1018.49,...,1.0,0.00,-25419.19,8.29,7136.0,16275.42,18.0,0.0,1958.91,CONTINUA
1,29812651,201901,1,0,1,69,249,2427.69,20759.22,1054.96,...,8.0,0.00,-24947.84,0.00,3977.0,11147.18,7.0,0.0,574.77,CONTINUA
2,31734569,201901,1,0,1,43,288,1228.92,11482.86,436.60,...,1.0,0.00,-9811.66,0.00,4873.0,3049.80,4.0,0.0,645.15,CONTINUA
3,32911575,201901,1,0,1,60,242,670.00,7836.14,692.87,...,22.0,4223.14,-4695.07,0.00,7372.0,2378.71,3.0,0.0,304.98,CONTINUA
4,33378605,201901,1,0,1,70,133,3671.41,31685.52,1369.91,...,1.0,0.00,-14954.44,0.00,4032.0,7549.12,9.0,0.0,3378.24,CONTINUA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2842,156201679,202107,1,0,0,26,40,383.80,614.01,194.44,...,3.0,0.00,-15080.48,0.00,851.0,8739.75,8.0,0.0,950.13,None
2843,156799102,202107,1,0,0,55,40,4260.93,2731.63,1898.65,...,3.0,0.00,-37254.48,0.00,1147.0,5272.99,2.0,0.0,2404.65,None
2844,157309138,202107,1,0,0,48,39,3148.70,31338.40,3036.97,...,3.0,0.00,NaN,NaN,1130.0,NaN,NaN,NaN,0.00,None
2845,159789828,202107,1,0,0,35,34,561.60,2297.39,243.18,...,3.0,0.00,NaN,NaN,1032.0,NaN,NaN,NaN,0.00,None
2846,172123477,202107,1,0,0,28,19,699.49,8319.56,319.52,...,3.0,0.00,0.00,0.00,559.0,0.00,0.0,0.0,375.36,None

In [11]:
%%time
%%sql
create or replace table competencia_02_100 as
SELECT * from competencia_02 where numero_de_cliente in 
(select numero_de_cliente
FROM competencia_02
ORDER BY RANDOM()
LIMIT 100)

CPU times: user 6.63 s, sys: 172 ms, total: 6.81 s
Wall time: 972 ms

Empty DataFrame
Columns: [Success]
Index: []

In [13]:
%%time
%%sql
copy competencia_02_100 to '/Users/miguelkiszkurno/Documents/dmeyf/datasets/competencia_02_100.csv.gz' (FORMAT CSV, HEADER)

CPU times: user 367 ms, sys: 18.8 ms, total: 386 ms
Wall time: 402 ms

Empty DataFrame
Columns: [Success]
Index: []

## Archivo de 1000

In [36]:
%%time
%%sql
create or replace table competencia_02_1000 as
SELECT * from competencia_02 where numero_de_cliente in 
(select distinct numero_de_cliente
FROM competencia_02
ORDER BY RANDOM()
LIMIT 1000)

CPU times: user 8.48 s, sys: 407 ms, total: 8.88 s
Wall time: 1.53 s

Empty DataFrame
Columns: [Success]
Index: []

In [37]:
%%time
%%sql
copy competencia_02_1000 to '/Users/miguelkiszkurno/Documents/dmeyf/datasets/competencia_02_1000.csv.gz' (FORMAT CSV, HEADER)

CPU times: user 2.1 s, sys: 52.3 ms, total: 2.15 s
Wall time: 1.45 s

Empty DataFrame
Columns: [Success]
Index: []

In [38]:
%%sql
select distinct numero_de_cliente from competencia_02_1000

     numero_de_cliente
0             99307568
1            100313403
2            100418775
3            101836029
4            102267371
..                 ...
995          119944076
996          186696756
997           53137493
998          120328355
999           76082607

[1000 rows x 1 columns]

## Archivo de 10000

In [39]:
%%time
%%sql
create or replace table competencia_02_10000 as
SELECT * from competencia_02 where numero_de_cliente in 
(select distinct numero_de_cliente
FROM competencia_02
ORDER BY RANDOM()
LIMIT 10000)

CPU times: user 15.6 s, sys: 1.5 s, total: 17.1 s
Wall time: 3.95 s

Empty DataFrame
Columns: [Success]
Index: []

In [40]:
%%time
%%sql
copy competencia_02_10000 to '/Users/miguelkiszkurno/Documents/dmeyf/datasets/competencia_02_10000.csv.gz' (FORMAT CSV, HEADER)

CPU times: user 11.8 s, sys: 392 ms, total: 12.2 s
Wall time: 10.6 s

Empty DataFrame
Columns: [Success]
Index: []

In [32]:
%%sql 
select * from competencia_02_10000

,numero_de_cliente,foto_mes,active_quarter,cliente_vip,internet,cliente_edad,cliente_antiguedad,mrentabilidad,mrentabilidad_annual,mcomisiones,...,Visa_fultimo_cierre,Visa_mpagado,Visa_mpagospesos,Visa_mpagosdolares,Visa_fechaalta,Visa_mconsumototal,Visa_cconsumos,Visa_cadelantosefectivo,Visa_mpagominimo,clase_ternaria
0,153959222,201901,1,0,1,39,14,-87.16,40.38,-170.95,...,1.0,0.0,NaN,NaN,67.0,NaN,NaN,NaN,0.00,CONTINUA
1,153967907,201901,1,0,1,35,9,2561.83,-1193.53,4630.07,...,1.0,0.0,-35190.00,0.0,256.0,0.00,0.0,0.0,31061.04,CONTINUA
2,154003253,201901,1,0,1,36,16,1984.79,44730.36,1.54,...,8.0,0.0,-316.71,0.0,483.0,0.00,0.0,0.0,0.00,CONTINUA
3,154026549,201901,1,0,1,41,16,1624.38,10230.95,72.36,...,1.0,0.0,-1642.20,0.0,466.0,0.00,0.0,0.0,35.19,CONTINUA
4,154041998,201901,1,0,1,39,15,-608.27,-3434.69,424.37,...,1.0,0.0,-16152.21,0.0,326.0,5124.83,3.0,0.0,20938.05,CONTINUA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
273013,132078893,202107,1,0,0,34,72,5190.23,16687.68,721.53,...,3.0,0.0,-24502.67,0.0,2090.0,10188.54,6.0,0.0,4269.72,None
273014,132080422,202107,1,0,0,43,73,245.06,5523.16,12.63,...,10.0,0.0,NaN,NaN,2237.0,NaN,NaN,NaN,0.00,None
273015,132094188,202107,1,0,0,25,73,-7763.47,3924.81,-238.96,...,3.0,0.0,-23226.65,0.0,2202.0,10390.31,5.0,0.0,3812.25,None
273016,132102369,202107,1,0,0,48,73,2286.88,20727.05,3063.93,...,10.0,0.0,-23171.27,0.0,2201.0,1899.77,7.0,0.0,1677.39,None
273017,132121677,202107,1,0,0,72,68,5137.43,41925.91,4375.57,...,3.0,0.0,-11920.21,0.0,2040.0,10061.24,5.0,0.0,586.50,None

In [41]:
%%sql
select distinct numero_de_cliente from competencia_02_10000

      numero_de_cliente
0              99546177
1              99684290
2              99821506
3              99851250
4             100014120
...                 ...
9995           59360389
9996           67984077
9997          171029289
9998           65392259
9999          153835140

[10000 rows x 1 columns]

## Archivo de 20000

In [42]:
%%time
%%sql
create or replace table competencia_02_20000 as
SELECT * from competencia_02 where numero_de_cliente in 
(select distinct numero_de_cliente
FROM competencia_02
ORDER BY RANDOM()
LIMIT 20000)

CPU times: user 20.2 s, sys: 2.09 s, total: 22.3 s
Wall time: 6.48 s

Empty DataFrame
Columns: [Success]
Index: []

In [43]:
%%time
%%sql
copy competencia_02_20000 to '/Users/miguelkiszkurno/Documents/dmeyf/datasets/competencia_02_20000.csv.gz' (FORMAT CSV, HEADER)

CPU times: user 23.7 s, sys: 779 ms, total: 24.4 s
Wall time: 18.9 s

Empty DataFrame
Columns: [Success]
Index: []

In [44]:
%%sql
select distinct numero_de_cliente from competencia_02_20000

       numero_de_cliente
0              114271309
1              114305075
2              114601455
3              114609995
4              114615802
...                  ...
19995          113580180
19996          102523342
19997          146146424
19998          186013893
19999           67175382

[20000 rows x 1 columns]

## Archivo de 40000

In [45]:
%%time
%%sql
create or replace table competencia_02_40000 as
SELECT * from competencia_02 where numero_de_cliente in 
(select distinct numero_de_cliente
FROM competencia_02
ORDER BY RANDOM()
LIMIT 40000)

CPU times: user 26.1 s, sys: 3.25 s, total: 29.3 s
Wall time: 11.3 s

Empty DataFrame
Columns: [Success]
Index: []

In [46]:
%%time
%%sql
copy competencia_02_20000 to '/Users/miguelkiszkurno/Documents/dmeyf/datasets/competencia_02_40000.csv.gz' (FORMAT CSV, HEADER)

CPU times: user 24.4 s, sys: 777 ms, total: 25.1 s
Wall time: 19.1 s

Empty DataFrame
Columns: [Success]
Index: []

In [47]:
%%sql
select distinct numero_de_cliente from competencia_02_40000

       numero_de_cliente
0              104791136
1              104817473
2              104820658
3              104830778
4              104883852
...                  ...
39995          174141416
39996           29835870
39997           31480623
39998           40527849
39999           54839820

[40000 rows x 1 columns]

# Momento de muerte

In [144]:
%%time
%%sql
CREATE OR REPLACE TABLE fallecidos_02 AS
WITH fallecidos AS (
    SELECT numero_de_cliente, Max(foto_mes) AS foto_mes_final
    FROM competencia_02 WHERE clase_ternaria = 'BAJA+2'
    group by numero_de_cliente
), minimos AS (
    SELECT numero_de_cliente, MIN(foto_mes) AS foto_mes_inicio, MAX(foto_mes) AS foto_mes_fin
    FROM competencia_02
    group by numero_de_cliente
), todo AS (
    SELECT F.numero_de_cliente, M.foto_mes_inicio, M.foto_mes_fin
    FROM fallecidos F, minimos M
    WHERE F.numero_de_cliente = M.numero_de_cliente 
) 
SELECT
  numero_de_cliente,
  foto_mes_inicio,
  foto_mes_fin
 
FROM todo

CPU times: user 1.63 s, sys: 326 ms, total: 1.95 s
Wall time: 456 ms

Empty DataFrame
Columns: [Success]
Index: []

In [174]:
%%time
%%sql

WITH CTE AS (
    SELECT
        *,
        ROW_NUMBER() OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS rownum,
        COUNT(*) OVER (PARTITION BY numero_de_cliente) AS filas_en_particion

    FROM competencia_02
)
SELECT
    *, rownum - filas_en_particion
FROM CTE
where numero_de_cliente = 38072385

CPU times: user 3min 48s, sys: 3min 3s, total: 6min 51s
Wall time: 1min 15s

,numero_de_cliente,foto_mes,active_quarter,cliente_vip,internet,cliente_edad,cliente_antiguedad,mrentabilidad,mrentabilidad_annual,mcomisiones,...,Visa_mpagosdolares,Visa_fechaalta,Visa_mconsumototal,Visa_cconsumos,Visa_cadelantosefectivo,Visa_mpagominimo,clase_ternaria,rownum,filas_en_particion,(rownum - filas_en_particion)
0,38072385,202010,1,0,0,72,370,-292.88,1371.55,1928.29,...,2.19,9120,44484.15,6,0,7026.27,CONTINUA,1,6,-5
1,38072385,202011,1,0,0,72,371,1648.00,2444.94,16373.56,...,0.00,9150,1217581.56,6,0,53336.31,CONTINUA,2,6,-4
2,38072385,202012,1,0,0,72,372,-34173.81,-31321.38,2888.36,...,0.00,9181,48350.19,7,0,111739.98,BAJA+2,3,6,-3
3,38072385,202101,1,0,0,72,373,10639.60,-21087.78,433.54,...,0.00,9212,0.00,0,0,118731.06,BAJA+2,4,6,-2
4,38072385,202103,1,0,0,72,1,-409.98,-21102.86,932.91,...,0.00,29,43694.69,3,0,3073.26,BAJA+2,5,6,-1
5,38072385,202104,1,0,0,72,2,-1732.48,-23728.51,948.26,...,0.00,59,51848.12,3,0,2955.96,BAJA+1,6,6,0

In [178]:
%%sql
CREATE OR REPLACE TABLE historico_fallecidos AS
WITH CTE AS (
    SELECT
        *,
        ROW_NUMBER() OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS rownum,
        COUNT(*) OVER (PARTITION BY numero_de_cliente) AS filas_en_particion
    FROM competencia_02
)
SELECT
    *, rownum - filas_en_particion as offset_muerte
FROM CTE C, fallecidos_02 F
where C.numero_de_cliente = F.numero_de_cliente
ORDER BY C.numero_de_cliente, C.foto_mes

Empty DataFrame
Columns: [Success]
Index: []

In [179]:
%%time
%%sql
select numero_de_cliente, foto_mes, clase_ternaria, foto_mes_inicio, foto_mes_fin, offset_muerte from historico_fallecidos --where numero_de_cliente = 38072385 order by foto_mes

CPU times: user 196 ms, sys: 44.6 ms, total: 241 ms
Wall time: 346 ms

,numero_de_cliente,foto_mes,clase_ternaria,foto_mes_inicio,foto_mes_fin,offset_muerte
0,29199686,201901,CONTINUA,201901,201912,-11
1,29199686,201902,CONTINUA,201901,201912,-10
2,29199686,201903,CONTINUA,201901,201912,-9
3,29199686,201904,CONTINUA,201901,201912,-8
4,29199686,201905,CONTINUA,201901,201912,-7
...,...,...,...,...,...,...
286188,185451295,202104,BAJA+1,202102,202104,0
286189,185837052,202103,BAJA+2,202103,202104,-1
286190,185837052,202104,BAJA+1,202103,202104,0
286191,186660394,202105,BAJA+2,202105,202106,-1
286192,186660394,202106,None,202105,202106,0

In [182]:
%%time
%%sql
copy historico_fallecidos to '/Users/miguelkiszkurno/Documents/dmeyf/datasets/historico_fallecidos.csv.gz' (FORMAT CSV, HEADER)

CPU times: user 11.2 s, sys: 630 ms, total: 11.8 s
Wall time: 9.64 s

Empty DataFrame
Columns: [Success]
Index: []

In [149]:
# %%time
# %%sql
# select numero_de_cliente, 
#        offset_muerte, foto_mes_inicio, foto_mes_final, foto_mes, left(foto_mes_inicio,4) as anho_inicio, right(foto_mes_inicio,2) as mes_inicio,
# foto_mes_final, left(foto_mes_final,4) as anho_fin, right(foto_mes_final,2) as mes_final 
# from historico_fallecidos
# order by offset_muerte

CPU times: user 627 ms, sys: 172 ms, total: 799 ms
Wall time: 698 ms

,numero_de_cliente,offset_muerte,foto_mes_inicio,foto_mes_final,foto_mes,anho_inicio,mes_inicio,foto_mes_final_2,anho_fin,mes_final
0,38072385,-372,202010,202101,202103,2020,10,202101,2021,01
1,38072385,-371,202010,202012,202103,2020,10,202012,2020,12
2,38072385,-371,202010,202101,202104,2020,10,202101,2021,01
3,38072385,-370,202010,202012,202104,2020,10,202012,2020,12
4,33895532,-263,201901,202001,202005,2019,01,202001,2020,01
...,...,...,...,...,...,...,...,...,...,...
288079,33895532,259,201901,202010,202002,2019,01,202010,2020,10
288080,38072385,369,202010,202103,202010,2020,10,202103,2021,03
288081,38072385,370,202010,202103,202011,2020,10,202103,2021,03
288082,38072385,371,202010,202103,202012,2020,10,202103,2021,03
288083,38072385,372,202010,202103,202101,2020,10,202103,2021,03

In [134]:
# %%time
# %%sql
# select * from competencia_02 where numero_de_cliente = 38072385 order by foto_mes

CPU times: user 470 ms, sys: 446 ms, total: 917 ms
Wall time: 499 ms

,numero_de_cliente,foto_mes,active_quarter,cliente_vip,internet,cliente_edad,cliente_antiguedad,mrentabilidad,mrentabilidad_annual,mcomisiones,...,Visa_fultimo_cierre,Visa_mpagado,Visa_mpagospesos,Visa_mpagosdolares,Visa_fechaalta,Visa_mconsumototal,Visa_cconsumos,Visa_cadelantosefectivo,Visa_mpagominimo,clase_ternaria
0,38072385,202010,1,0,0,72,370,-292.88,1371.55,1928.29,...,3,0.0,-43390.67,2.19,9120,44484.15,6,0,7026.27,CONTINUA
1,38072385,202011,1,0,0,72,371,1648.00,2444.94,16373.56,...,5,0.0,-61230.60,0.00,9150,1217581.56,6,0,53336.31,CONTINUA
2,38072385,202012,1,0,0,72,372,-34173.81,-31321.38,2888.36,...,1,57477.0,-57477.00,0.00,9181,48350.19,7,0,111739.98,BAJA+2
3,38072385,202101,1,0,0,72,373,10639.60,-21087.78,433.54,...,4,0.0,-1345665.60,0.00,9212,0.00,0,0,118731.06,BAJA+2
4,38072385,202103,1,0,0,72,1,-409.98,-21102.86,932.91,...,1,0.0,0.00,0.00,29,43694.69,3,0,3073.26,BAJA+2
5,38072385,202104,1,0,0,72,2,-1732.48,-23728.51,948.26,...,2,0.0,-53488.80,0.00,59,51848.12,3,0,2955.96,BAJA+1

In [181]:
%%time
%%sql
select max(offset_muerte) from historico_fallecidos

CPU times: user 131 ms, sys: 18.6 ms, total: 150 ms
Wall time: 284 ms

   max(offset_muerte)
0                   0